openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account trialbalance API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: trialbalance
paths:
  /accounting/{connection_id}/trialbalance:
    get:
      operationId: listAccountingTrialbalances
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - start_at
            - name
            - currency
            - end_at
            - total_debit_amount
            - total_credit_amount
            - sub_items
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingTrialbalances'
          description: Successful
      security:
      - jwt: []
      summary: List all trialbalances
      tags:
      - trialbalance
  /accounting/{connection_id}/trialbalance/{id}:
    get:
      operationId: getAccountingTrialbalance
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - start_at
            - name
            - currency
            - end_at
            - total_debit_amount
            - total_credit_amount
            - sub_items
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Trialbalance
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingTrialbalance'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a trialbalance
      tags:
      - trialbalance
components:
  schemas:
    AccountingTrialbalance:
      properties:
        created_at:
          format: date-time
          type: string
        currency:
          type: string
        end_at:
          format: date-time
          type: string
        id:
          type: string
        name:
          type: string
        raw:
          additionalProperties: true
          type: object
        start_at:
          format: date-time
          type: string
        sub_items:
          $ref: '#/components/schemas/property_AccountingTrialbalance_sub_items'
        total_credit_amount:
          type: number
        total_debit_amount:
          type: number
        updated_at:
          format: date-time
          type: string
      type: object
    AccountingTrialbalanceSubItem:
      properties:
        account_id:
          type: string
        account_name:
          type: string
        amount:
          type: number
      type: object
    AccountingTrialbalances:
      items:
        $ref: '#/components/schemas/AccountingTrialbalance'
      type: array
    property_AccountingTrialbalance_sub_items:
      items:
        $ref: '#/components/schemas/AccountingTrialbalanceSubItem'
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
