openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account campaign API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: campaign
paths:
  /ads/{connection_id}/campaign:
    get:
      operationId: listAdsCampaigns
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AdsOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - organization_id
            - status
            - start_at
            - end_at
            - budget_amount
            - budget_period
            - total_spend_amount
            - targeting
            - goal
            - planned_spend_amount
            - frequency_cap
            - advertising_channel_type
            - campaign_budget_identifier
            - currency
            - category
            - has_eu_political_ads
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsCampaigns'
          description: Successful
      security:
      - jwt: []
      summary: List All Campaigns
      tags:
      - campaign
    post:
      operationId: createAdsCampaign
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - organization_id
            - status
            - start_at
            - end_at
            - budget_amount
            - budget_period
            - total_spend_amount
            - targeting
            - goal
            - planned_spend_amount
            - frequency_cap
            - advertising_channel_type
            - campaign_budget_identifier
            - currency
            - category
            - has_eu_political_ads
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdsCampaign'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsCampaign'
          description: Successful
      security:
      - jwt: []
      summary: Create a Campaign
      tags:
      - campaign
  /ads/{connection_id}/campaign/{id}:
    delete:
      operationId: removeAdsCampaign
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Campaign
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Campaign
      tags:
      - campaign
    get:
      operationId: getAdsCampaign
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - organization_id
            - status
            - start_at
            - end_at
            - budget_amount
            - budget_period
            - total_spend_amount
            - targeting
            - goal
            - planned_spend_amount
            - frequency_cap
            - advertising_channel_type
            - campaign_budget_identifier
            - currency
            - category
            - has_eu_political_ads
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Campaign
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsCampaign'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Campaign
      tags:
      - campaign
    patch:
      operationId: patchAdsCampaign
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - organization_id
            - status
            - start_at
            - end_at
            - budget_amount
            - budget_period
            - total_spend_amount
            - targeting
            - goal
            - planned_spend_amount
            - frequency_cap
            - advertising_channel_type
            - campaign_budget_identifier
            - currency
            - category
            - has_eu_political_ads
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Campaign
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdsCampaign'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsCampaign'
          description: Successful
      security:
      - jwt: []
      summary: Update a Campaign
      tags:
      - campaign
    put:
      operationId: updateAdsCampaign
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - organization_id
            - status
            - start_at
            - end_at
            - budget_amount
            - budget_period
            - total_spend_amount
            - targeting
            - goal
            - planned_spend_amount
            - frequency_cap
            - advertising_channel_type
            - campaign_budget_identifier
            - currency
            - category
            - has_eu_political_ads
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Campaign
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdsCampaign'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsCampaign'
          description: Successful
      security:
      - jwt: []
      summary: Update a Campaign
      tags:
      - campaign
  /martech/{connection_id}/campaign:
    get:
      operationId: listMartechCampaigns
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The list ID to filter by
        in: query
        name: list_id
        required: false
        schema:
          type: string
      - description: The member ID to filter by
        in: query
        name: member_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - type
            - status
            - list_ids
            - subject_line
            - preview_text
            - from_name
            - from_email
            - reply_to_email
            - send_at
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingCampaigns'
          description: Successful
      security:
      - jwt: []
      summary: List All Campaigns
      tags:
      - campaign
    post:
      operationId: createMartechCampaign
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - type
            - status
            - list_ids
            - subject_line
            - preview_text
            - from_name
            - from_email
            - reply_to_email
            - send_at
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketingCampaign'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingCampaign'
          description: Successful
      security:
      - jwt: []
      summary: Create a Campaign
      tags:
      - campaign
  /martech/{connection_id}/campaign/{id}:
    delete:
      operationId: removeMartechCampaign
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Campaign
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Campaign
      tags:
      - campaign
    get:
      operationId: getMartechCampaign
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - type
            - status
            - list_ids
            - subject_line
            - preview_text
            - from_name
            - from_email
            - reply_to_email
            - send_at
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Campaign
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingCampaign'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Campaign
      tags:
      - campaign
    patch:
      operationId: patchMartechCampaign
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - type
            - status
            - list_ids
            - subject_line
            - preview_text
            - from_name
            - from_email
            - reply_to_email
            - send_at
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Campaign
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketingCampaign'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingCampaign'
          description: Successful
      security:
      - jwt: []
      summary: Update a Campaign
      tags:
      - campaign
    put:
      operationId: updateMartechCampaign
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - type
            - status
            - list_ids
            - subject_line
            - preview_text
            - from_name
            - from_email
            - reply_to_email
            - send_at
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Campaign
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketingCampaign'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingCampaign'
          description: Successful
      security:
      - jwt: []
      summary: Update a Campaign
      tags:
      - campaign
components:
  schemas:
    property_AdsCampaign_targeting_geographic_cities:
      items:
        $ref: '#/components/schemas/CityTarget'
      type: array
    property_AdsCampaign_targeting_geographic_postal_codes:
      items:
        type: string
      type: array
    AdsCampaign:
      properties:
        advertising_channel_type:
          enum:
          - TEXT
          - IMAGE
          - VIDEO
          - RESPONSIVE
          - SHOPPING
          - APP
          - CALL
          - CAROUSEL
          - SOCIAL
          - DISPLAY
          - SEARCH
          - AUDIO
          - YOUTUBE
          type: string
          x-speakeasy-unknown-values: allow
        budget_amount:
          type: number
        budget_period:
          enum:
          - DAILY
          - MONTHLY
          - TOTAL
          - LIFETIME
          type: string
          x-speakeasy-unknown-values: allow
        campaign_budget_identifier:
          type: string
        category:
          type: string
        created_at:
          format: date-time
          type: string
        currency:
          type: string
        end_at:
          format: date-time
          type: string
        frequency_cap:
          $ref: '#/components/schemas/property_AdsCampaign_frequency_cap'
        goal:
          enum:
          - UNSPECIFIED
          - BRAND_AWARENESS
          - REACH
          - WEBSITE_TRAFFIC
          - LEADS
          - SALES
          - APP_PROMOTION
          type: string
          x-speakeasy-unknown-values: allow
        has_eu_political_ads:
          type: boolean
        id:
          type: string
        name:
          type: string
        organization_id:
          type: string
        planned_spend_amount:
          type: number
        raw:
          additionalProperties: true
          type: object
        start_at:
          format: date-time
          type: string
        status:
          enum:
          - UNSPECIFIED
          - ACTIVE
          - PAUSED
          - ARCHIVED
          - DRAFT
          - SCHEDULED_FOR_DELETION
          type: string
          x-speakeasy-unknown-values: allow
        targeting:
          $ref: '#/components/schemas/property_AdsCampaign_targeting'
        total_spend_amount:
          type: number
        updated_at:
          format: date-time
          type: string
      type: object
    property_AdsCampaign_targeting_content_video_excluded_youtube_videos:
      items:
        type: string
      type: array
    property_AdsCampaign_targeting_content_video_player_sizes:
      items:
        enum:
        - SMALL
        - LARGE
        - HD
        type: string
        x-speakeasy-unknown-values: allow
      type: array
    property_AdsCampaign_targeting:
      properties:
        audience:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_audience'
        brand_safety:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_brand_safety'
        content:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_content'
        demographic:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_demographic'
        device:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_device'
        geographic:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_geographic'
        language:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_language'
        optimization:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_optimization'
        placement:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_placement'
        schedule:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_schedule'
      type: object
    property_AdsCampaign_targeting_geographic_location_types:
      items:
        enum:
        - HOME
        - RECENT
        - TRAVEL
        type: string
        x-speakeasy-unknown-values: allow
      type: array
    AdsCampaigns:
      items:
        $ref: '#/components/schemas/AdsCampaign'
      type: array
    property_AdsCampaign_targeting_audience_behaviors:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AdsCampaign_targeting_geographic_excluded_postal_codes:
      items:
        type: string
      type: array
    property_AdsCampaign_targeting_device_user_device:
      items:
        type: string
      type: array
    property_AdsCampaign_targeting_optimization:
      description: 'Optimization (Meta: targeting_automation; Google: observation vs targeting mode)'
      properties:
        advantage_audience:
          type: boolean
        advantage_placements:
          type: boolean
        mode:
          enum:
          - TARGETING
          - OBSERVATION
          type: string
          x-speakeasy-unknown-values: allow
        targeting_optimization_expansion_all:
          type: boolean
      type: object
    property_AdsCampaign_targeting_demographic:
      description: 'Demographic targeting (Meta: age_min, age_max, genders)'
      properties:
        age_max:
          type: number
        age_min:
          type: number
        female:
          type: boolean
        male:
          type: boolean
      type: object
    property_AdsCampaign_targeting_geographic_excluded_countries:
      items:
        type: string
      type: array
    property_AdsCampaign_targeting_content_video_excluded_youtube_channels:
      items:
        type: string
      type: array
    property_AdsCampaign_targeting_placement:
      properties:
        audience_network_positions:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_placement_audience_network_positions'
        facebook_positions:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_placement_facebook_positions'
        instagram_positions:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_placement_instagram_positions'
        messenger_positions:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_placement_messenger_positions'
        platforms:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_placement_platforms'
      type: object
    property_AdsCampaign_targeting_brand_safety_brand_safety_content_filter_levels:
      items:
        type: string
      type: array
    property_AdsCampaign_targeting_device_types:
      items:
        type: string
      type: array
    property_AdsCampaign_targeting_device_user_os:
      items:
        type: string
      type: array
    CityTarget:
      properties:
        id:
          type: string
        name:
          type: string
        radius:
          type: number
        radius_unit:
          enum:
          - MILES
          - KILOMETERS
          type: string
          x-speakeasy-unknown-values: allow
      required:
      - id
      type: object
    property_AdsCampaign_targeting_audience_interests:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AdsCampaign_targeting_brand_safety_block_list_ids:
      items:
        type: string
      type: array
    property_AdsCampaign_targeting_geographic_excluded_cities:
      items:
        $ref: '#/components/schemas/CityTarget'
      type: array
    property_AdsCampaign_frequency_cap:
      properties:
        is_unlimited:
          type: boolean
        max_impressions:
          type: number
        max_views:
          type: number
        time_unit:
          enum:
          - UNSPECIFIED
          - LIFETIME
          - MONTHS
          - WEEKS
          - DAYS
          - HOURS
          - MINUTES
          type: string
          x-speakeasy-unknown-values: allow
        time_unit_count:
          type: number
      type: object
    AudienceSegment:
      description: 'Audience targeting (Meta: custom_audiences, lookalike_audiences, flexible_spec)'
      properties:
        id:
          type: string
        name:
          type: string
      required:
      - id
      type: object
    property_AdsCampaign_targeting_audience_lookalike_audiences:
      items:
        $ref: '#/components/schemas/LookalikeAudience'
      type: array
    property_AdsCampaign_targeting_brand_safety_excluded_publisher_categories:
      items:
        type: string
      type: array
    AudienceCombination:
      properties:
        behaviors:
          $ref: '#/components/schemas/property_AudienceCombination_behaviors'
        demographics:
          $ref: '#/components/schemas/property_AudienceCombination_demographics'
        interests:
          $ref: '#/components/schemas/property_AudienceCombination_interests'
        life_events:
          $ref: '#/components/schemas/property_AudienceCombination_life_events'
      type: object
    property_AdsCampaign_targeting_language:
      description: Language targeting (Meta
      properties:
        codes:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_language_codes'
        locale_ids:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_language_locale_ids'
      type: object
    property_AdsCampaign_targeting_audience:
      properties:
        behaviors:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_audience_behaviors'
        combination_spec:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_audience_combination_spec'
        custom_audiences:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_audience_custom_audiences'
        excluded_behaviors:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_audience_excluded_behaviors'
        excluded_custom_audiences:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_audience_excluded_custom_audiences'
        excluded_interests:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_audience_excluded_interests'
        interests:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_audience_interests'
        lookalike_audiences:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_audience_lookalike_audiences'
      type: object
    property_AdsCampaign_targeting_content_video_youtube_videos:
      items:
        type: string
      type: array
    property_AdsCampaign_targeting_geographic:
      properties:
        cities:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_geographic_cities'
        countries:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_geographic_countries'
        excluded_cities:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_geographic_excluded_cities'
        excluded_countries:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_geographic_excluded_countries'
        excluded_postal_codes:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_geographic_excluded_postal_codes'
        excluded_regions:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_geographic_excluded_regions'
        excluded_us_dmas:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_geographic_excluded_us_dmas'
        location_types:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_geographic_location_types'
        postal_codes:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_geographic_postal_codes'
        presence_type:
          enum:
          - PRESENCE
          - PRESENCE_OR_INTEREST
          type: string
          x-speakeasy-unknown-values: allow
        regions:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_geographic_regions'
        us_dmas:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_geographic_us_dmas'
      type: object
    property_AudienceCombination_interests:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AdsCampaign_targeting_content_video_positions:
      items:
        enum:
        - PREROLL
        - MIDROLL
        - POSTROLL
        - INSTREAM
        - OUTSTREAM
        type: string
        x-speakeasy-unknown-values: allow
      type: array
    property_AdsCampaign_targeting_placement_messenger_positions:
      items:
        type: string
      type: array
    property_AdsCampaign_targeting_placement_facebook_positions:
      items:
        type: string
      type: array
    LookalikeAudience:
      properties:
        id:
          type: string
        name:
          type: string
        similarity:
          type: number
        source_audience_id:
          type: string
      required:
      - id
      type: object
    property_AdsCampaign_targeting_brand_safety_excluded_content_labels:
      description: Google Ads ContentLabelType
      items:
        type: string
      type: array
    property_AudienceCombination_behaviors:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AdsCampaign_targeting_placement_instagram_positions:
      items:
        type: string
      type: array
    RegionTarget:
      description: states, provinces, regions
      properties:
        id:
          type: string
        name:
          type: string
      required:
      - id
      type: object
    property_AdsCampaign_targeting_device:
      properties:
        carriers:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_device_carriers'
        types:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_device_types'
        user_device:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_device_user_device'
        user_os:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_device_user_os'
      type: object
    property_AdsCampaign_targeting_audience_custom_audiences:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_MarketingCampaign_list_ids:
      description: Associated listaudience IDs
      items:
        type: string
      type: array
    property_AdsCampaign_targeting_content_urls:
      items:
        type: string
      type: array
    MarketingCampaign:
      properties:
        created_at:
          format: date-time
          type: string
        from_email:
          type: string
        from_name:
          type: string
        id:
          type: string
        list_ids:
          $ref: '#/components/schemas/property_MarketingCampaign_list_ids'
        name:
          type: string
        preview_text:
          type: string
        raw:
          additionalProperties: true
          type: object
        reply_to_email:
          type: string
        send_at:
          format: date-time
          type: string
        status:
          enum:
          - DRAFT
          - SCHEDULED
          - SENDING
          - SENT
          - CANCELLED
          - PAUSED
          - ARCHIVED
          - OTHER
          type: string
          x-speakeasy-unknown-values: allow
        subject_line:
          type: string
        type:
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    property_AdsCampaign_targeting_language_codes:
      items:
        type: string
      type: array
    AdSchedule:
      properties:
        bid_modifier:
          type: number
        day_of_week:
          enum:
          - MONDAY
          - TUESDAY
          - WEDNESDAY
          - THURSDAY
          - FRIDAY
          - SATURDAY
          - SUNDAY
          type: string
          x-speakeasy-unknown-values: allow
        end_hour:
          type: number
        end_minute:
          type: number
        start_hour:
          type: number
        start_minute:
          type: number
      required:
      - day_of_week
      - start_hour
      - end_hour
      type: object
    property_AdsCampaign_targeting_placement_audience_network_positions:
      items:
        type: string
      type: array
    property_AudienceCombination_life_events:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AdsCampaign_targeting_brand_safety:
      description: 'Brand safety (Meta: excluded_publisher_categories, etc.; Google'
      properties:
        block_list_ids:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_brand_safety_block_list_ids'
        brand_safety_content_filter_levels:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_brand_safety_brand_safety_content_filter_levels'
        excluded_content_labels:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_brand_safety_excluded_content_labels'
        excluded_publisher_categories:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_brand_safety_excluded_publisher_categories'
        publisher_visibility_categories:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_brand_safety_publisher_visibility_categories'
      type: object
    MarketingCampaigns:
      items:
        $ref: '#/components/schemas/MarketingCampaign'
      type: array
    property_AdsCampaign_targeting_content_keywords:
      items:
        $ref: '#/components/schemas/AdsKeyword'
      type: array
    property_AdsCampaign_targeting_device_carriers:
      items:
        type: string
      type: array
    property_AdsCampaign_targeting_geographic_us_dmas:
      items:
        type: string
      type: array
    property_AdsCampaign_targeting_schedule:
      items:
        $ref: '#/components/schemas/AdSchedule'
      type: array
    property_AdsCampaign_targeting_audience_excluded_interests:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AudienceCombination_demographics:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AdsCampaign_targeting_brand_safety_publisher_visibility_categories:
      items:
        enum:
        - limited
        - standard
        - expanded
        type: string
        x-speakeasy-unknown-values: allow
      type: array
    property_AdsCampaign_targeting_content_video_durations:
      items:
        enum:
        - SHORT
        - MEDIUM
        - LONG
        type: string
        x-speakeasy-unknown-values: allow
      type: array
    property_AdsCampaign_targeting_content:
      properties:
        excluded_keywords:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_content_excluded_keywords'
        excluded_topics:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_content_excluded_topics'
        excluded_urls:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_content_excluded_urls'
        keywords:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_content_keywords'
        topics:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_content_topics'
        urls:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_content_urls'
        video:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_content_video'
      type: object
    property_AdsCampaign_targeting_geographic_regions:
      items:
        $ref: '#/components/schemas/RegionTarget'
      type: array
    property_AdsCampaign_targeting_content_video_youtube_channels:
      items:
        type: string
      type: array
    property_AdsCampaign_targeting_audience_excluded_behaviors:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AdsCampaign_targeting_geographic_excluded_us_dmas:
      items:
        type: string
      type: array
    property_AdsCampaign_targeting_geographic_excluded_regions:
      items:
        $ref: '#/components/schemas/RegionTarget'
      type: array
    property_AdsCampaign_targeting_content_video:
      properties:
        durations:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_content_video_durations'
        excluded_youtube_channels:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_content_video_excluded_youtube_channels'
        excluded_youtube_videos:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_content_video_excluded_youtube_videos'
        player_sizes:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_content_video_player_sizes'
        positions:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_content_video_positions'
        youtube_channels:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_content_video_youtube_channels'
        youtube_videos:
          $ref: '#/components/schemas/property_AdsCampaign_targeting_content_video_youtube_videos'
      type: object
    property_AdsCampaign_targeting_geographic_countries:
      items:
        type: string
      type: array
    property_AdsCampaign_targeting_content_excluded_keywords:
      items:
        $ref: '#/components/schemas/AdsKeyword'
      type: array
    property_AdsCampaign_targeting_content_topics:
      items:
        type: string
      type: array
    AdsKeyword:
      description: Content targeting (keywords, topics, placements, video)
      properties:
        match_type:
          enum:
          - BROAD
          - PHRASE
          - EXACT
          type: string
          x-speakeasy-unknown-values: allow
        text:
          type: string
      required:
      - text
      type: object
    property_AdsCampaign_targeting_content_excluded_urls:
      items:
        type: string
      type: array
    property_AdsCampaign_targeting_audience_excluded_custom_audiences:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AdsCampaign_targeting_audience_combination_spec:
      items:
        $ref: '#/components/schemas/AudienceCombination'
      type: array
    property_AdsCampaign_targeting_language_locale_ids:
      items:
        type: number
      type: array
    property_AdsCampaign_targeting_placement_platforms:
      items:
        type: string
      type: array
    property_AdsCampaign_targeting_content_excluded_topics:
      items:
        type: string
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
