openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account transaction API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: transaction
paths:
  /accounting/{connection_id}/transaction:
    get:
      operationId: listAccountingTransactions
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The contact ID to filter by (reference to AccountingContact)
        in: query
        name: contact_id
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AccountingOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - description: The account ID to filter by (reference to AccountingAccount)
        in: query
        name: account_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - memo
            - total_amount
            - tax_amount
            - account_id
            - reference
            - sub_total_amount
            - split_account_id
            - payment_method
            - payment_terms
            - customer_message
            - type
            - lineitems
            - currency
            - contacts
            - organization_id
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingTransactions'
          description: Successful
      security:
      - jwt: []
      summary: List all transactions
      tags:
      - transaction
    post:
      operationId: createAccountingTransaction
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - memo
            - total_amount
            - tax_amount
            - account_id
            - reference
            - sub_total_amount
            - split_account_id
            - payment_method
            - payment_terms
            - customer_message
            - type
            - lineitems
            - currency
            - contacts
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingTransaction'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingTransaction'
          description: Successful
      security:
      - jwt: []
      summary: Create a transaction
      tags:
      - transaction
  /accounting/{connection_id}/transaction/{id}:
    delete:
      operationId: removeAccountingTransaction
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Transaction
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a transaction
      tags:
      - transaction
    get:
      operationId: getAccountingTransaction
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - memo
            - total_amount
            - tax_amount
            - account_id
            - reference
            - sub_total_amount
            - split_account_id
            - payment_method
            - payment_terms
            - customer_message
            - type
            - lineitems
            - currency
            - contacts
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Transaction
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingTransaction'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a transaction
      tags:
      - transaction
    patch:
      operationId: patchAccountingTransaction
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - memo
            - total_amount
            - tax_amount
            - account_id
            - reference
            - sub_total_amount
            - split_account_id
            - payment_method
            - payment_terms
            - customer_message
            - type
            - lineitems
            - currency
            - contacts
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Transaction
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingTransaction'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingTransaction'
          description: Successful
      security:
      - jwt: []
      summary: Update a transaction
      tags:
      - transaction
    put:
      operationId: updateAccountingTransaction
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - memo
            - total_amount
            - tax_amount
            - account_id
            - reference
            - sub_total_amount
            - split_account_id
            - payment_method
            - payment_terms
            - customer_message
            - type
            - lineitems
            - currency
            - contacts
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Transaction
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingTransaction'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingTransaction'
          description: Successful
      security:
      - jwt: []
      summary: Update a transaction
      tags:
      - transaction
components:
  schemas:
    AccountingTransactions:
      items:
        $ref: '#/components/schemas/AccountingTransaction'
      type: array
    AccountingTransactionLineItem:
      properties:
        account_id:
          type: string
        description:
          type: string
        id:
          type: string
        name:
          type: string
        object_type:
          type: string
        total_amount:
          type: number
        unit_amount:
          type: number
        unit_quantity:
          type: number
      type: object
    property_AccountingTransaction_lineitems:
      items:
        $ref: '#/components/schemas/AccountingTransactionLineItem'
      type: array
    property_AccountingTransaction_contacts:
      items:
        $ref: '#/components/schemas/AccountingTransactionContact'
      type: array
    AccountingTransaction:
      properties:
        account_id:
          type: string
        contacts:
          $ref: '#/components/schemas/property_AccountingTransaction_contacts'
        created_at:
          format: date-time
          type: string
        currency:
          type: string
        customer_message:
          type: string
        id:
          type: string
        lineitems:
          $ref: '#/components/schemas/property_AccountingTransaction_lineitems'
        memo:
          type: string
        organization_id:
          type: string
        payment_method:
          type: string
        payment_terms:
          type: string
        raw:
          additionalProperties: true
          type: object
        reference:
          type: string
        split_account_id:
          type: string
        sub_total_amount:
          type: number
        tax_amount:
          type: number
        total_amount:
          type: number
        type:
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    AccountingTransactionContact:
      properties:
        id:
          type: string
        is_customer:
          type: boolean
        is_supplier:
          type: boolean
      required:
      - id
      type: object
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
