openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account category API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: category
paths:
  /accounting/{connection_id}/category:
    get:
      operationId: listAccountingCategories
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The parent ID to filter by
        in: query
        name: parent_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - is_active
            - parent_id
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCategories'
          description: Successful
      security:
      - jwt: []
      summary: List all categories
      tags:
      - category
    post:
      operationId: createAccountingCategory
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - is_active
            - parent_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingCategory'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCategory'
          description: Successful
      security:
      - jwt: []
      summary: Create a category
      tags:
      - category
  /accounting/{connection_id}/category/{id}:
    delete:
      operationId: removeAccountingCategory
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Category
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a category
      tags:
      - category
    get:
      operationId: getAccountingCategory
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - is_active
            - parent_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Category
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCategory'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a category
      tags:
      - category
    patch:
      operationId: patchAccountingCategory
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - is_active
            - parent_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Category
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingCategory'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCategory'
          description: Successful
      security:
      - jwt: []
      summary: Update a category
      tags:
      - category
    put:
      operationId: updateAccountingCategory
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - is_active
            - parent_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Category
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingCategory'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCategory'
          description: Successful
      security:
      - jwt: []
      summary: Update a category
      tags:
      - category
  /ticketing/{connection_id}/category:
    get:
      operationId: listTicketingCategories
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The parent ID to filter by
        in: query
        name: parent_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - is_active
            - parent_id
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketingCategories'
          description: Successful
      security:
      - jwt: []
      summary: List All Categories
      tags:
      - category
    post:
      operationId: createTicketingCategory
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - is_active
            - parent_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketingCategory'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketingCategory'
          description: Successful
      security:
      - jwt: []
      summary: Create a Category
      tags:
      - category
  /ticketing/{connection_id}/category/{id}:
    delete:
      operationId: removeTicketingCategory
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Category
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Category
      tags:
      - category
    get:
      operationId: getTicketingCategory
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - is_active
            - parent_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Category
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketingCategory'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Category
      tags:
      - category
    patch:
      operationId: patchTicketingCategory
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - is_active
            - parent_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Category
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketingCategory'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketingCategory'
          description: Successful
      security:
      - jwt: []
      summary: Update a Category
      tags:
      - category
    put:
      operationId: updateTicketingCategory
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - is_active
            - parent_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Category
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketingCategory'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketingCategory'
          description: Successful
      security:
      - jwt: []
      summary: Update a Category
      tags:
      - category
components:
  schemas:
    TicketingCategories:
      items:
        $ref: '#/components/schemas/TicketingCategory'
      type: array
    TicketingCategory:
      properties:
        created_at:
          format: date-time
          type: string
        description:
          type: string
        id:
          type: string
        is_active:
          type: boolean
        name:
          type: string
        parent_id:
          type: string
        raw:
          additionalProperties: true
          type: object
        updated_at:
          format: date-time
          type: string
      type: object
    AccountingCategories:
      items:
        $ref: '#/components/schemas/AccountingCategory'
      type: array
    AccountingCategory:
      properties:
        created_at:
          format: date-time
          type: string
        description:
          type: string
        id:
          type: string
        is_active:
          type: boolean
        name:
          type: string
        parent_id:
          type: string
        raw:
          additionalProperties: true
          type: object
        updated_at:
          format: date-time
          type: string
      type: object
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
