openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account prompt API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: prompt
paths:
  /genai/{connection_id}/prompt:
    post:
      operationId: createGenaiPrompt
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - model_id
            - messages
            - temperature
            - max_tokens
            - responses
            - tokens_used
            - mcp_url
            - mcp_deferred_tools
            - mcp_authorization_token
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenaiPrompt'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenaiPrompt'
          description: Successful
      security:
      - jwt: []
      summary: Create a Prompt
      tags:
      - prompt
components:
  schemas:
    GenaiContent:
      properties:
        content:
          type: string
        role:
          enum:
          - SYSTEM
          - USER
          - ASSISTANT
          type: string
          x-speakeasy-unknown-values: allow
      required:
      - content
      type: object
    property_GenaiPrompt_messages:
      items:
        $ref: '#/components/schemas/GenaiContent'
      type: array
    property_GenaiPrompt_mcp_deferred_tools:
      items:
        type: string
      type: array
    property_GenaiPrompt_responses:
      items:
        type: string
      type: array
    GenaiPrompt:
      properties:
        max_tokens:
          type: number
        mcp_authorization_token:
          type: string
        mcp_deferred_tools:
          $ref: '#/components/schemas/property_GenaiPrompt_mcp_deferred_tools'
        mcp_url:
          type: string
        messages:
          $ref: '#/components/schemas/property_GenaiPrompt_messages'
        model_id:
          type: string
        raw:
          additionalProperties: true
          type: object
        responses:
          $ref: '#/components/schemas/property_GenaiPrompt_responses'
        temperature:
          type: number
        tokens_used:
          type: number
      type: object
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
