openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account shipment API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: shipment
paths:
  /shipping/{connection_id}/shipment:
    get:
      operationId: listShippingShipments
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The AccountingOrder ID to filter by
        in: query
        name: order_id
        required: false
        schema:
          type: string
      - description: The ShippingCarrier ID to filter by
        in: query
        name: carrier_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - order_id
            - from_address
            - to_address
            - packages
            - carrier_id
            - service_code
            - status
            - rate_id
            - label_id
            - tracking_id
            - shipped_at
            - rate_amount
            - rate_currency
            - rate_service_name
            - rate_estimated_days
            - rate_estimated_delivery_at
            - is_rate_guaranteed
            - return_address
            - return_authorization_number
            - warehouse_location_id
            - warehouse_location_name
            - customs
            - is_international
            - insurance
            - special_instructions
            - is_signature_required
            - is_adult_signature_required
            - reference_number
            - is_return
            - original_shipment_id
            - return_reason
            - return_type
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShippingShipments'
          description: Successful
      security:
      - jwt: []
      summary: List All Shipments
      tags:
      - shipment
    post:
      operationId: createShippingShipment
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - order_id
            - from_address
            - to_address
            - packages
            - carrier_id
            - service_code
            - status
            - rate_id
            - label_id
            - tracking_id
            - shipped_at
            - rate_amount
            - rate_currency
            - rate_service_name
            - rate_estimated_days
            - rate_estimated_delivery_at
            - is_rate_guaranteed
            - return_address
            - return_authorization_number
            - warehouse_location_id
            - warehouse_location_name
            - customs
            - is_international
            - insurance
            - special_instructions
            - is_signature_required
            - is_adult_signature_required
            - reference_number
            - is_return
            - original_shipment_id
            - return_reason
            - return_type
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShippingShipment'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShippingShipment'
          description: Successful
      security:
      - jwt: []
      summary: Create a Shipment
      tags:
      - shipment
  /shipping/{connection_id}/shipment/{id}:
    delete:
      operationId: removeShippingShipment
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Shipment
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Shipment
      tags:
      - shipment
    get:
      operationId: getShippingShipment
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - order_id
            - from_address
            - to_address
            - packages
            - carrier_id
            - service_code
            - status
            - rate_id
            - label_id
            - tracking_id
            - shipped_at
            - rate_amount
            - rate_currency
            - rate_service_name
            - rate_estimated_days
            - rate_estimated_delivery_at
            - is_rate_guaranteed
            - return_address
            - return_authorization_number
            - warehouse_location_id
            - warehouse_location_name
            - customs
            - is_international
            - insurance
            - special_instructions
            - is_signature_required
            - is_adult_signature_required
            - reference_number
            - is_return
            - original_shipment_id
            - return_reason
            - return_type
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Shipment
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShippingShipment'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Shipment
      tags:
      - shipment
    patch:
      operationId: patchShippingShipment
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - order_id
            - from_address
            - to_address
            - packages
            - carrier_id
            - service_code
            - status
            - rate_id
            - label_id
            - tracking_id
            - shipped_at
            - rate_amount
            - rate_currency
            - rate_service_name
            - rate_estimated_days
            - rate_estimated_delivery_at
            - is_rate_guaranteed
            - return_address
            - return_authorization_number
            - warehouse_location_id
            - warehouse_location_name
            - customs
            - is_international
            - insurance
            - special_instructions
            - is_signature_required
            - is_adult_signature_required
            - reference_number
            - is_return
            - original_shipment_id
            - return_reason
            - return_type
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Shipment
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShippingShipment'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShippingShipment'
          description: Successful
      security:
      - jwt: []
      summary: Update a Shipment
      tags:
      - shipment
    put:
      operationId: updateShippingShipment
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - order_id
            - from_address
            - to_address
            - packages
            - carrier_id
            - service_code
            - status
            - rate_id
            - label_id
            - tracking_id
            - shipped_at
            - rate_amount
            - rate_currency
            - rate_service_name
            - rate_estimated_days
            - rate_estimated_delivery_at
            - is_rate_guaranteed
            - return_address
            - return_authorization_number
            - warehouse_location_id
            - warehouse_location_name
            - customs
            - is_international
            - insurance
            - special_instructions
            - is_signature_required
            - is_adult_signature_required
            - reference_number
            - is_return
            - original_shipment_id
            - return_reason
            - return_type
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Shipment
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShippingShipment'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShippingShipment'
          description: Successful
      security:
      - jwt: []
      summary: Update a Shipment
      tags:
      - shipment
components:
  schemas:
    property_ShippingShipment_special_instructions:
      description: Array of special instructions
      items:
        type: string
      type: array
    property_ShippingShipment_from_address:
      description: Origin address
      properties:
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        company_name:
          type: string
        country:
          type: string
        country_code:
          type: string
        delivery_instructions:
          type: string
        email:
          type: string
        is_residential:
          type: boolean
        is_validated:
          type: boolean
        name:
          type: string
        postal_code:
          type: string
        region:
          type: string
        region_code:
          type: string
        telephone:
          type: string
      type: object
    property_ShippingShipment_packages:
      description: Array of packages in this shipment
      items:
        $ref: '#/components/schemas/ShippingPackage'
      type: array
    property_ShippingShipment_insurance:
      description: Insurance details
      properties:
        coverage_amount:
          type: number
        coverage_type:
          enum:
          - STANDARD
          - PREMIUM
          - CUSTOM
          type: string
          x-speakeasy-unknown-values: allow
        currency:
          type: string
        insurance_cost:
          type: number
        insurance_cost_currency:
          type: string
        insurance_provider:
          type: string
        insurance_provider_code:
          type: string
        insured_value:
          type: number
      type: object
    property_ShippingShipment_return_address:
      description: Return address (may differ from from_address)
      properties:
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        company_name:
          type: string
        country:
          type: string
        country_code:
          type: string
        delivery_instructions:
          type: string
        email:
          type: string
        is_residential:
          type: boolean
        is_validated:
          type: boolean
        name:
          type: string
        postal_code:
          type: string
        region:
          type: string
        region_code:
          type: string
        telephone:
          type: string
      type: object
    ShippingShipment:
      properties:
        carrier_id:
          type: string
        created_at:
          format: date-time
          type: string
        customs:
          $ref: '#/components/schemas/property_ShippingShipment_customs'
        from_address:
          $ref: '#/components/schemas/property_ShippingShipment_from_address'
        id:
          type: string
        insurance:
          $ref: '#/components/schemas/property_ShippingShipment_insurance'
        is_adult_signature_required:
          type: boolean
        is_international:
          type: boolean
        is_rate_guaranteed:
          type: boolean
        is_return:
          type: boolean
        is_signature_required:
          type: boolean
        label_id:
          type: string
        order_id:
          type: string
        original_shipment_id:
          type: string
        packages:
          $ref: '#/components/schemas/property_ShippingShipment_packages'
        rate_amount:
          type: number
        rate_currency:
          type: string
        rate_estimated_days:
          type: number
        rate_estimated_delivery_at:
          format: date-time
          type: string
        rate_id:
          type: string
        rate_service_name:
          type: string
        raw:
          additionalProperties: true
          type: object
        reference_number:
          type: string
        return_address:
          $ref: '#/components/schemas/property_ShippingShipment_return_address'
        return_authorization_number:
          type: string
        return_reason:
          type: string
        return_type:
          enum:
          - CUSTOMER
          - VENDOR
          - WARRANTY
          - DEFECTIVE
          - OTHER
          type: string
          x-speakeasy-unknown-values: allow
        service_code:
          type: string
        shipped_at:
          format: date-time
          type: string
        special_instructions:
          $ref: '#/components/schemas/property_ShippingShipment_special_instructions'
        status:
          enum:
          - PENDING
          - PROCESSING
          - IN_TRANSIT
          - DELIVERED
          - EXCEPTION
          - CANCELLED
          - LABEL_CREATED
          - PICKED_UP
          - OUT_FOR_DELIVERY
          - DELIVERY_ATTEMPTED
          - RETURNED_TO_SENDER
          - HELD_AT_LOCATION
          - CUSTOMS_CLEARANCE
          - EXCEPTION_RESOLVED
          type: string
          x-speakeasy-unknown-values: allow
        to_address:
          $ref: '#/components/schemas/property_ShippingShipment_to_address'
        tracking_id:
          type: string
        updated_at:
          format: date-time
          type: string
        warehouse_location_id:
          type: string
        warehouse_location_name:
          type: string
      type: object
    ShippingPackage:
      properties:
        currency:
          type: string
        description:
          type: string
        height:
          type: number
        insured_amount:
          type: number
        length:
          type: number
        size_unit:
          enum:
          - cm
          - inch
          type: string
          x-speakeasy-unknown-values: allow
        tracking_number:
          type: string
        value:
          type: number
        weight:
          type: number
        weight_unit:
          enum:
          - g
          - kg
          - oz
          - lb
          type: string
          x-speakeasy-unknown-values: allow
        width:
          type: number
      type: object
    property_ShippingShipment_customs_restrictions:
      description: Any restrictions
      items:
        type: string
      type: array
    property_ShippingShipment_customs:
      description: Customs information
      properties:
        amount:
          type: number
        contents_type:
          enum:
          - MERCHANDISE
          - DOCUMENTS
          - GIFT
          - RETURNED_GOODS
          - SAMPLE
          - OTHER
          type: string
          x-speakeasy-unknown-values: allow
        currency:
          type: string
        description:
          type: string
        duties_paid_by:
          enum:
          - SENDER
          - RECIPIENT
          - THIRD_PARTY
          type: string
          x-speakeasy-unknown-values: allow
        items:
          $ref: '#/components/schemas/property_ShippingShipment_customs_items'
        non_delivery_option:
          enum:
          - RETURN
          - ABANDON
          type: string
          x-speakeasy-unknown-values: allow
        recipient_eori:
          type: string
        recipient_tax_number:
          type: string
        restrictions:
          $ref: '#/components/schemas/property_ShippingShipment_customs_restrictions'
        shipper_eori:
          type: string
        shipper_tax_number:
          type: string
        taxes_paid_by:
          enum:
          - SENDER
          - RECIPIENT
          - THIRD_PARTY
          type: string
          x-speakeasy-unknown-values: allow
      type: object
    property_ShippingShipment_to_address:
      description: Destination address
      properties:
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        company_name:
          type: string
        country:
          type: string
        country_code:
          type: string
        delivery_instructions:
          type: string
        email:
          type: string
        is_residential:
          type: boolean
        is_validated:
          type: boolean
        name:
          type: string
        postal_code:
          type: string
        region:
          type: string
        region_code:
          type: string
        telephone:
          type: string
      type: object
    ShippingShipments:
      items:
        $ref: '#/components/schemas/ShippingShipment'
      type: array
    property_ShippingShipment_customs_items:
      description: Customs items
      items:
        $ref: '#/components/schemas/ShippingCustomsItem'
      type: array
    ShippingCustomsItem:
      properties:
        amount:
          type: number
        country_of_origin:
          type: string
        currency:
          type: string
        description:
          type: string
        harmonized_tariff_code:
          type: string
        quantity:
          type: number
        sku:
          type: string
        weight:
          type: number
        weight_unit:
          enum:
          - g
          - kg
          - oz
          - lb
          type: string
          x-speakeasy-unknown-values: allow
      type: object
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
