openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account interview API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: interview
paths:
  /ats/{connection_id}/interview:
    get:
      operationId: listAtsInterviews
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The application ID to filter by
        in: query
        name: application_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - candidate_id
            - job_id
            - application_id
            - user_ids
            - status
            - start_at
            - end_at
            - location
            - external_event_xref
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsInterviews'
          description: Successful
      security:
      - jwt: []
      summary: List all interviews
      tags:
      - interview
    post:
      operationId: createAtsInterview
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - candidate_id
            - job_id
            - application_id
            - user_ids
            - status
            - start_at
            - end_at
            - location
            - external_event_xref
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtsInterview'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsInterview'
          description: Successful
      security:
      - jwt: []
      summary: Create an interview
      tags:
      - interview
  /ats/{connection_id}/interview/{id}:
    delete:
      operationId: removeAtsInterview
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Interview
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove an interview
      tags:
      - interview
    get:
      operationId: getAtsInterview
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - candidate_id
            - job_id
            - application_id
            - user_ids
            - status
            - start_at
            - end_at
            - location
            - external_event_xref
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Interview
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsInterview'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve an interview
      tags:
      - interview
    patch:
      operationId: patchAtsInterview
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - candidate_id
            - job_id
            - application_id
            - user_ids
            - status
            - start_at
            - end_at
            - location
            - external_event_xref
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Interview
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtsInterview'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsInterview'
          description: Successful
      security:
      - jwt: []
      summary: Update an interview
      tags:
      - interview
    put:
      operationId: updateAtsInterview
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - candidate_id
            - job_id
            - application_id
            - user_ids
            - status
            - start_at
            - end_at
            - location
            - external_event_xref
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Interview
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtsInterview'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsInterview'
          description: Successful
      security:
      - jwt: []
      summary: Update an interview
      tags:
      - interview
components:
  schemas:
    AtsInterview:
      properties:
        application_id:
          type: string
        candidate_id:
          type: string
        created_at:
          format: date-time
          type: string
        end_at:
          format: date-time
          type: string
        external_event_xref:
          type: string
        id:
          type: string
        job_id:
          type: string
        location:
          type: string
        raw:
          additionalProperties: true
          type: object
        start_at:
          format: date-time
          type: string
        status:
          enum:
          - SCHEDULED
          - AWAITING_FEEDBACK
          - COMPLETE
          - CANCELED
          - NEEDS_SCHEDULING
          type: string
          x-speakeasy-unknown-values: allow
        updated_at:
          format: date-time
          type: string
        user_ids:
          $ref: '#/components/schemas/property_AtsInterview_user_ids'
      type: object
    AtsInterviews:
      items:
        $ref: '#/components/schemas/AtsInterview'
      type: array
    property_AtsInterview_user_ids:
      items:
        type: string
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
