openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account connection API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: connection
paths:
  /unified/connection:
    get:
      operationId: listUnifiedConnections
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Filter the results to only those integrations for your user referenced by this value
        in: query
        name: external_xref
        required: false
        schema:
          type: string
      - description: Filter the results on these categories
        in: query
        name: categories
        required: false
        schema:
          items:
            enum:
            - passthrough
            - hris
            - ats
            - auth
            - crm
            - enrich
            - martech
            - ticketing
            - uc
            - accounting
            - storage
            - commerce
            - payment
            - genai
            - messaging
            - kms
            - task
            - scim
            - lms
            - repo
            - metadata
            - calendar
            - verification
            - ads
            - forms
            - shipping
            - assessment
            - signing
            type: string
          type: array
      - in: query
        name: env
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connections'
          description: Successful
      security:
      - jwt: []
      summary: List All Connections
      tags:
      - connection
    post:
      description: Used only to import existing customer credentials; use "Authorize new connection" instead
      operationId: createUnifiedConnection
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connection'
        description: A connection represents a specific authentication of an integration.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: Successful
      security:
      - jwt: []
      summary: Create Connection
      tags:
      - connection
  /unified/connection/{id}:
    delete:
      operationId: removeUnifiedConnection
      parameters:
      - description: ID of the Connection
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove Connection
      tags:
      - connection
    get:
      operationId: getUnifiedConnection
      parameters:
      - description: ID of the Connection
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve Connection
      tags:
      - connection
    patch:
      operationId: patchUnifiedConnection
      parameters:
      - description: ID of the Connection
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connection'
        description: A connection represents a specific authentication of an integration.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: Successful
      security:
      - jwt: []
      summary: Update Connection
      tags:
      - connection
    put:
      operationId: updateUnifiedConnection
      parameters:
      - description: ID of the Connection
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connection'
        description: A connection represents a specific authentication of an integration.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: Successful
      security:
      - jwt: []
      summary: Update Connection
      tags:
      - connection
components:
  schemas:
    property_Connection_auth_emails:
      items:
        type: string
      type: array
    property_Connection_permissions:
      items:
        enum:
        - accounting_account_read
        - accounting_account_write
        - accounting_transaction_read
        - accounting_transaction_write
        - accounting_journal_read
        - accounting_journal_write
        - accounting_invoice_read
        - accounting_invoice_write
        - accounting_bill_read
        - accounting_bill_write
        - accounting_creditmemo_read
        - accounting_creditmemo_write
        - accounting_contact_read
        - accounting_contact_write
        - accounting_expense_read
        - accounting_expense_write
        - accounting_taxrate_read
        - accounting_taxrate_write
        - accounting_organization_read
        - accounting_order_read
        - accounting_order_write
        - accounting_purchaseorder_read
        - accounting_purchaseorder_write
        - accounting_salesorder_read
        - accounting_salesorder_write
        - accounting_report_read
        - accounting_report_write
        - accounting_trialbalance_read
        - accounting_trialbalance_write
        - accounting_profitloss_read
        - accounting_profitloss_write
        - accounting_balancesheet_read
        - accounting_balancesheet_write
        - accounting_category_read
        - accounting_category_write
        - payment_payment_read
        - payment_payment_write
        - accounting_cashflow_read
        - accounting_cashflow_write
        - payment_payout_read
        - payment_refund_read
        - payment_link_read
        - payment_link_write
        - payment_subscription_read
        - payment_subscription_write
        - commerce_item_read
        - commerce_item_write
        - commerce_collection_read
        - commerce_collection_write
        - commerce_inventory_read
        - commerce_inventory_write
        - commerce_location_read
        - commerce_location_write
        - commerce_review_read
        - commerce_review_write
        - commerce_saleschannel_read
        - commerce_saleschannel_write
        - commerce_itemvariant_read
        - commerce_itemvariant_write
        - commerce_reservation_read
        - commerce_reservation_write
        - commerce_availability_read
        - commerce_availability_write
        - verification_package_read
        - verification_request_read
        - verification_request_write
        - assessment_package_read
        - assessment_package_write
        - assessment_order_write
        - ats_activity_read
        - ats_activity_write
        - ats_application_read
        - ats_application_write
        - ats_applicationstatus_read
        - ats_candidate_read
        - ats_candidate_write
        - ats_interview_read
        - ats_interview_write
        - ats_job_read
        - ats_job_write
        - ats_company_read
        - ats_company_write
        - ats_document_read
        - ats_document_write
        - ats_scorecard_read
        - ats_scorecard_write
        - crm_company_read
        - crm_company_write
        - crm_contact_read
        - crm_contact_write
        - crm_deal_read
        - crm_deal_write
        - crm_event_read
        - crm_event_write
        - crm_lead_read
        - crm_lead_write
        - crm_pipeline_read
        - crm_pipeline_write
        - martech_list_read
        - martech_list_write
        - martech_member_read
        - martech_member_write
        - martech_campaign_read
        - martech_campaign_write
        - martech_report_read
        - martech_report_write
        - ticketing_customer_read
        - ticketing_customer_write
        - ticketing_ticket_read
        - ticketing_ticket_write
        - ticketing_note_read
        - ticketing_note_write
        - ticketing_category_read
        - ticketing_category_write
        - hris_employee_read
        - hris_employee_write
        - hris_group_read
        - hris_group_write
        - hris_payslip_read
        - hris_payslip_write
        - hris_timeoff_read
        - hris_timeoff_write
        - hris_timeshift_read
        - hris_timeshift_write
        - hris_company_read
        - hris_company_write
        - hris_location_read
        - hris_location_write
        - hris_device_read
        - hris_device_write
        - hris_deduction_read
        - hris_deduction_write
        - hris_benefit_read
        - hris_benefit_write
        - hris_bankaccount_read
        - hris_bankaccount_write
        - uc_call_read
        - uc_contact_read
        - uc_contact_write
        - uc_comment_read
        - uc_comment_write
        - uc_recording_read
        - storage_file_read
        - storage_file_write
        - webhook
        - genai_model_read
        - genai_prompt_read
        - genai_prompt_write
        - genai_embedding_read
        - genai_embedding_write
        - messaging_message_read
        - messaging_message_write
        - messaging_channel_read
        - messaging_event_read
        - messaging_event_write
        - kms_space_read
        - kms_space_write
        - kms_page_read
        - kms_page_write
        - kms_comment_read
        - kms_comment_write
        - task_project_read
        - task_project_write
        - task_task_read
        - task_task_write
        - task_change_read
        - task_comment_read
        - task_comment_write
        - scim_users_read
        - scim_users_write
        - scim_groups_read
        - scim_groups_write
        - lms_course_read
        - lms_course_write
        - lms_class_read
        - lms_class_write
        - lms_student_read
        - lms_student_write
        - lms_instructor_read
        - lms_instructor_write
        - lms_content_read
        - lms_content_write
        - lms_collection_read
        - lms_collection_write
        - lms_activity_read
        - lms_activity_write
        - repo_organization_read
        - repo_organization_write
        - repo_repository_read
        - repo_repository_write
        - repo_branch_read
        - repo_branch_write
        - repo_commit_read
        - repo_commit_write
        - repo_pullrequest_read
        - repo_pullrequest_write
        - metadata_metadata_read
        - metadata_metadata_write
        - calendar_calendar_read
        - calendar_calendar_write
        - calendar_event_read
        - calendar_event_write
        - calendar_busy_read
        - calendar_link_read
        - calendar_link_write
        - calendar_recording_read
        - calendar_recording_write
        - calendar_webinar_read
        - calendar_webinar_write
        - enrich_person_read
        - enrich_company_read
        - ads_ad_read
        - ads_ad_write
        - ads_campaign_read
        - ads_campaign_write
        - ads_group_read
        - ads_group_write
        - ads_report_read
        - ads_organization_read
        - ads_organization_write
        - ads_creative_read
        - ads_creative_write
        - ads_insertionorder_read
        - ads_insertionorder_write
        - ads_target_read
        - ads_promoted_read
        - forms_form_read
        - forms_form_write
        - forms_submission_read
        - forms_submission_write
        - shipping_shipment_read
        - shipping_shipment_write
        - shipping_label_read
        - shipping_label_write
        - shipping_tracking_read
        - shipping_rate_read
        - shipping_carrier_read
        - signing_document_read
        - signing_document_write
        - signing_signatory_read
        - signing_signatory_write
        - signing_template_read
        type: string
        x-speakeasy-unknown-values: allow
      type: array
    Connections:
      items:
        $ref: '#/components/schemas/Connection'
      type: array
    property_Connection_auth:
      description: An authentication object that represents a specific authorized user's connection to an integration.
      properties:
        access_token:
          type: string
        api_url:
          type: string
        app_id:
          type: string
        audience:
          type: string
        authorize_url:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
        consumer_key:
          type: string
        consumer_secret:
          type: string
        dev_api_key:
          type: string
        emails:
          $ref: '#/components/schemas/property_Connection_auth_emails'
        expires_in:
          type: number
        expiry_date:
          format: date-time
          type: string
        key:
          type: string
        meta:
          additionalProperties: true
          type: object
        name:
          type: string
        other_auth_info:
          $ref: '#/components/schemas/property_Connection_auth_other_auth_info'
        pem:
          type: string
        refresh_token:
          type: string
        refresh_token_expires_date:
          format: date-time
          type: string
        refresh_token_expires_in:
          type: number
        refresh_url:
          type: string
        state:
          type: string
        token:
          type: string
        token_url:
          type: string
        user_id:
          type: string
      type: object
    property_Connection_auth_other_auth_info:
      description: When integration.auth_type = "other", this field contains the authentication credentials in the same order as token_names
      items:
        type: string
      type: array
    property_Connection_categories:
      description: The Integration categories that this connection supports
      items:
        enum:
        - passthrough
        - hris
        - ats
        - auth
        - crm
        - enrich
        - martech
        - ticketing
        - uc
        - accounting
        - storage
        - commerce
        - payment
        - genai
        - messaging
        - kms
        - task
        - scim
        - lms
        - repo
        - metadata
        - calendar
        - verification
        - ads
        - forms
        - shipping
        - assessment
        - signing
        type: string
        x-speakeasy-unknown-values: allow
      type: array
    Connection:
      description: A connection represents a specific authentication of an integration.
      properties:
        auth:
          $ref: '#/components/schemas/property_Connection_auth'
        auth_aws_arn:
          type: string
        auth_azure_keyvault_id:
          type: string
        auth_gcp_secret_name:
          type: string
        auth_hashi_vault_path:
          type: string
        categories:
          $ref: '#/components/schemas/property_Connection_categories'
        created_at:
          format: date-time
          type: string
        environment:
          default: Production
          type: string
        external_xref:
          type: string
        id:
          type: string
        integration_name:
          type: string
        integration_type:
          type: string
        is_paused:
          type: boolean
        last_healthy_at:
          format: date-time
          type: string
        last_unhealthy_at:
          format: date-time
          type: string
        permissions:
          $ref: '#/components/schemas/property_Connection_permissions'
        updated_at:
          format: date-time
          type: string
        workspace_id:
          type: string
      required:
      - integration_type
      - permissions
      - categories
      type: object
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
