openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account change API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: change
paths:
  /task/{connection_id}/change:
    get:
      operationId: listTaskChanges
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The task ID to filter by (reference to TaskTask)
        in: query
        name: task_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - task_id
            - user_id
            - items
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskChanges'
          description: Successful
      security:
      - jwt: []
      summary: List All Changes
      tags:
      - change
  /task/{connection_id}/change/{id}:
    get:
      operationId: getTaskChange
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - task_id
            - user_id
            - items
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Change
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskChange'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Change
      tags:
      - change
components:
  schemas:
    property_TaskChange_items:
      items:
        $ref: '#/components/schemas/TaskChangeItem'
      type: array
    TaskChange:
      properties:
        created_at:
          format: date-time
          type: string
        id:
          type: string
        items:
          $ref: '#/components/schemas/property_TaskChange_items'
        raw:
          additionalProperties: true
          type: object
        task_id:
          type: string
        updated_at:
          format: date-time
          type: string
        user_id:
          type: string
      type: object
    TaskChanges:
      items:
        $ref: '#/components/schemas/TaskChange'
      type: array
    TaskChangeItem:
      properties:
        field:
          type: string
        from:
          type: string
        to:
          type: string
      required:
      - field
      type: object
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
