openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account calendar API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: calendar
paths:
  /calendar/{connection_id}/busy:
    get:
      operationId: listCalendarBusies
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The calendar ID to filter by (reference to CalendarCalendar)
        in: query
        name: calendar_id
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: The user/employee ID to filter by (reference to HrisEmployee)
        in: query
        name: user_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - start_at
            - end_at
            - timezone
            - description
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarBusies'
          description: Successful
      security:
      - jwt: []
      summary: List All Busies
      tags:
      - calendar
  /calendar/{connection_id}/calendar:
    get:
      operationId: listCalendarCalendars
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - timezone
            - is_primary
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarCalendars'
          description: Successful
      security:
      - jwt: []
      summary: List All Calendars
      tags:
      - calendar
    post:
      operationId: createCalendarCalendar
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - timezone
            - is_primary
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarCalendar'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarCalendar'
          description: Successful
      security:
      - jwt: []
      summary: Create a Calendar
      tags:
      - calendar
  /calendar/{connection_id}/calendar/{id}:
    delete:
      operationId: removeCalendarCalendar
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Calendar
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Calendar
      tags:
      - calendar
    get:
      operationId: getCalendarCalendar
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - timezone
            - is_primary
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Calendar
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarCalendar'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Calendar
      tags:
      - calendar
    patch:
      operationId: patchCalendarCalendar
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - timezone
            - is_primary
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Calendar
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarCalendar'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarCalendar'
          description: Successful
      security:
      - jwt: []
      summary: Update a Calendar
      tags:
      - calendar
    put:
      operationId: updateCalendarCalendar
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - timezone
            - is_primary
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Calendar
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarCalendar'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarCalendar'
          description: Successful
      security:
      - jwt: []
      summary: Update a Calendar
      tags:
      - calendar
  /calendar/{connection_id}/event:
    get:
      operationId: listCalendarEvents
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The calendar ID to filter by (reference to CalendarCalendar)
        in: query
        name: calendar_id
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: Whether to flatten grouped or recurring items into individual entries.
        in: query
        name: expand
        required: false
        schema:
          type: boolean
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - calendar_id
            - subject
            - start_at
            - end_at
            - is_all_day
            - timezone
            - notes
            - location
            - is_free
            - is_private
            - status
            - organizer
            - attendees
            - recurring_event_id
            - recurrence
            - web_url
            - has_conference
            - conference
            - attachments
            - send_notifications
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarEvents'
          description: Successful
      security:
      - jwt: []
      summary: List All Events
      tags:
      - calendar
    post:
      operationId: createCalendarEvent
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - calendar_id
            - subject
            - start_at
            - end_at
            - is_all_day
            - timezone
            - notes
            - location
            - is_free
            - is_private
            - status
            - organizer
            - attendees
            - recurring_event_id
            - recurrence
            - web_url
            - has_conference
            - conference
            - attachments
            - send_notifications
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarEvent'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarEvent'
          description: Successful
      security:
      - jwt: []
      summary: Create an Event
      tags:
      - calendar
  /calendar/{connection_id}/event/{id}:
    delete:
      operationId: removeCalendarEvent
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Event
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove an Event
      tags:
      - calendar
    get:
      operationId: getCalendarEvent
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - calendar_id
            - subject
            - start_at
            - end_at
            - is_all_day
            - timezone
            - notes
            - location
            - is_free
            - is_private
            - status
            - organizer
            - attendees
            - recurring_event_id
            - recurrence
            - web_url
            - has_conference
            - conference
            - attachments
            - send_notifications
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Event
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarEvent'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve an Event
      tags:
      - calendar
    patch:
      operationId: patchCalendarEvent
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - calendar_id
            - subject
            - start_at
            - end_at
            - is_all_day
            - timezone
            - notes
            - location
            - is_free
            - is_private
            - status
            - organizer
            - attendees
            - recurring_event_id
            - recurrence
            - web_url
            - has_conference
            - conference
            - attachments
            - send_notifications
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Event
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarEvent'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarEvent'
          description: Successful
      security:
      - jwt: []
      summary: Update an Event
      tags:
      - calendar
    put:
      operationId: updateCalendarEvent
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - calendar_id
            - subject
            - start_at
            - end_at
            - is_all_day
            - timezone
            - notes
            - location
            - is_free
            - is_private
            - status
            - organizer
            - attendees
            - recurring_event_id
            - recurrence
            - web_url
            - has_conference
            - conference
            - attachments
            - send_notifications
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Event
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarEvent'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarEvent'
          description: Successful
      security:
      - jwt: []
      summary: Update an Event
      tags:
      - calendar
  /calendar/{connection_id}/link:
    get:
      operationId: listCalendarLinks
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - url
            - duration
            - description
            - is_active
            - price_amount
            - price_currency
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarLinks'
          description: Successful
      security:
      - jwt: []
      summary: List All Links
      tags:
      - calendar
    post:
      operationId: createCalendarLink
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - url
            - duration
            - description
            - is_active
            - price_amount
            - price_currency
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarLink'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarLink'
          description: Successful
      security:
      - jwt: []
      summary: Create a Link
      tags:
      - calendar
  /calendar/{connection_id}/link/{id}:
    delete:
      operationId: removeCalendarLink
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Link
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Link
      tags:
      - calendar
    get:
      operationId: getCalendarLink
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - url
            - duration
            - description
            - is_active
            - price_amount
            - price_currency
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Link
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarLink'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Link
      tags:
      - calendar
    patch:
      operationId: patchCalendarLink
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - url
            - duration
            - description
            - is_active
            - price_amount
            - price_currency
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Link
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarLink'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarLink'
          description: Successful
      security:
      - jwt: []
      summary: Update a Link
      tags:
      - calendar
    put:
      operationId: updateCalendarLink
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - url
            - duration
            - description
            - is_active
            - price_amount
            - price_currency
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Link
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarLink'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarLink'
          description: Successful
      security:
      - jwt: []
      summary: Update a Link
      tags:
      - calendar
  /calendar/{connection_id}/recording:
    get:
      operationId: listCalendarRecordings
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The event ID to filter by (reference to CalendarEvent)
        in: query
        name: event_id
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - start_at
            - end_at
            - expires_at
            - event_id
            - web_url
            - media
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarRecordings'
          description: Successful
      security:
      - jwt: []
      summary: List All Recordings
      tags:
      - calendar
  /calendar/{connection_id}/recording/{id}:
    get:
      operationId: getCalendarRecording
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - start_at
            - end_at
            - expires_at
            - event_id
            - web_url
            - media
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Recording
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarRecording'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Recording
      tags:
      - calendar
  /calendar/{connection_id}/webinar:
    get:
      operationId: listCalendarWebinars
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: The user/employee ID to filter by (reference to HrisEmployee)
        in: query
        name: user_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - calendar_id
            - subject
            - start_at
            - end_at
            - timezone
            - notes
            - status
            - organizer
            - join_url
            - web_url
            - panelists
            - registrants
            - panelist_password
            - registrant_password
            - conference
            - recurrence
            - capacity
            - is_webcast
            - is_enabled
            - is_auto_approve
            - require_first_name
            - require_last_name
            - require_email
            - require_company
            - require_job_title
            - require_address
            - require_phone
            - has_qa
            - has_polls
            - has_recording
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarWebinars'
          description: Successful
      security:
      - jwt: []
      summary: List All Webinars
      tags:
      - calendar
    post:
      operationId: createCalendarWebinar
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - calendar_id
            - subject
            - start_at
            - end_at
            - timezone
            - notes
            - status
            - organizer
            - join_url
            - web_url
            - panelists
            - registrants
            - panelist_password
            - registrant_password
            - conference
            - recurrence
            - capacity
            - is_webcast
            - is_enabled
            - is_auto_approve
            - require_first_name
            - require_last_name
            - require_email
            - require_company
            - require_job_title
            - require_address
            - require_phone
            - has_qa
            - has_polls
            - has_recording
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarWebinar'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarWebinar'
          description: Successful
      security:
      - jwt: []
      summary: Create a Webinar
      tags:
      - calendar
  /calendar/{connection_id}/webinar/{id}:
    delete:
      operationId: removeCalendarWebinar
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Webinar
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Webinar
      tags:
      - calendar
    get:
      operationId: getCalendarWebinar
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - calendar_id
            - subject
            - start_at
            - end_at
            - timezone
            - notes
            - status
            - organizer
            - join_url
            - web_url
            - panelists
            - registrants
            - panelist_password
            - registrant_password
            - conference
            - recurrence
            - capacity
            - is_webcast
            - is_enabled
            - is_auto_approve
            - require_first_name
            - require_last_name
            - require_email
            - require_company
            - require_job_title
            - require_address
            - require_phone
            - has_qa
            - has_polls
            - has_recording
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Webinar
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarWebinar'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Webinar
      tags:
      - calendar
    patch:
      operationId: patchCalendarWebinar
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - calendar_id
            - subject
            - start_at
            - end_at
            - timezone
            - notes
            - status
            - organizer
            - join_url
            - web_url
            - panelists
            - registrants
            - panelist_password
            - registrant_password
            - conference
            - recurrence
            - capacity
            - is_webcast
            - is_enabled
            - is_auto_approve
            - require_first_name
            - require_last_name
            - require_email
            - require_company
            - require_job_title
            - require_address
            - require_phone
            - has_qa
            - has_polls
            - has_recording
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Webinar
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarWebinar'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarWebinar'
          description: Successful
      security:
      - jwt: []
      summary: Update a Webinar
      tags:
      - calendar
    put:
      operationId: updateCalendarWebinar
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - calendar_id
            - subject
            - start_at
            - end_at
            - timezone
            - notes
            - status
            - organizer
            - join_url
            - web_url
            - panelists
            - registrants
            - panelist_password
            - registrant_password
            - conference
            - recurrence
            - capacity
            - is_webcast
            - is_enabled
            - is_auto_approve
            - require_first_name
            - require_last_name
            - require_email
            - require_company
            - require_job_title
            - require_address
            - require_phone
            - has_qa
            - has_polls
            - has_recording
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Webinar
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarWebinar'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarWebinar'
          description: Successful
      security:
      - jwt: []
      summary: Update a Webinar
      tags:
      - calendar
components:
  schemas:
    property_CalendarEventRecurrence_included_dates:
      description: dates to include in the recurrence, defaults to undefined (no inclusions)
      items:
        type: string
      type: array
    property_CalendarWebinar_conference:
      items:
        $ref: '#/components/schemas/CalendarConference'
      type: array
    CalendarRecordingMedia:
      properties:
        attendees:
          $ref: '#/components/schemas/property_CalendarRecordingMedia_attendees'
        end_at:
          format: date-time
          type: string
        language:
          type: string
        recording_download_url:
          type: string
        start_at:
          format: date-time
          type: string
        transcript_download_url:
          type: string
        transcripts:
          $ref: '#/components/schemas/property_CalendarRecordingMedia_transcripts'
      type: object
    CalendarBusies:
      items:
        $ref: '#/components/schemas/CalendarBusy'
      type: array
    property_CalendarEvent_attendees:
      items:
        $ref: '#/components/schemas/CalendarAttendee'
      type: array
    CalendarConference:
      properties:
        conference_identifier:
          type: string
        country_code:
          type: string
        host_access_code:
          type: string
        label:
          type: string
        notes:
          type: string
        participant_access_code:
          type: string
        region_code:
          type: string
        telephone:
          type: string
        url:
          type: string
      type: object
    CalendarWebinarPanelist:
      properties:
        email:
          type: string
        is_required:
          type: boolean
        join_password:
          type: string
        join_url:
          type: string
        name:
          type: string
        status:
          enum:
          - ACCEPTED
          - REJECTED
          - TENTATIVE
          type: string
          x-speakeasy-unknown-values: allow
      type: object
    property_CalendarEvent_organizer:
      properties:
        email:
          type: string
        is_cohost:
          type: boolean
        name:
          type: string
        required:
          type: boolean
        status:
          enum:
          - ACCEPTED
          - REJECTED
          - TENTATIVE
          type: string
          x-speakeasy-unknown-values: allow
        user_id:
          type: string
      type: object
    property_CalendarEventRecurrence_on_weeks:
      description: week ordinals for BYDAY (e.g., -1 for last, -2 for second-to-last, 1 for first, 2 for second), only used with on_days. 0 is used for days without week ordinals.
      items:
        type: number
      type: array
    CalendarAttendee:
      properties:
        email:
          type: string
        is_cohost:
          type: boolean
        name:
          type: string
        required:
          type: boolean
        status:
          enum:
          - ACCEPTED
          - REJECTED
          - TENTATIVE
          type: string
          x-speakeasy-unknown-values: allow
        user_id:
          type: string
      type: object
    property_CalendarEventRecurrence_excluded_dates:
      description: dates to exclude from the recurrence, defaults to undefined (no exclusions)
      items:
        type: string
      type: array
    property_CalendarRecordingMedia_attendees:
      items:
        $ref: '#/components/schemas/CalendarAttendee'
      type: array
    CalendarCalendars:
      items:
        $ref: '#/components/schemas/CalendarCalendar'
      type: array
    property_CalendarEvent_attachments:
      items:
        $ref: '#/components/schemas/CalendarAttachment'
      type: array
    CalendarRecordings:
      items:
        $ref: '#/components/schemas/CalendarRecording'
      type: array
    property_CalendarEventRecurrence_on_month_days:
      description: days of the month to repeat on, defaults to undefined (every day), only used if frequency is MONTHLY
      items:
        type: number
      type: array
    CalendarRecordingTranscript:
      properties:
        attendee:
          $ref: '#/components/schemas/property_CalendarRecordingTranscript_attendee'
        end_at:
          format: date-time
          type: string
        language:
          type: string
        start_at:
          format: date-time
          type: string
        text:
          type: string
      required:
      - text
      type: object
    CalendarBusy:
      properties:
        description:
          type: string
        end_at:
          format: date-time
          type: string
        id:
          type: string
        raw:
          additionalProperties: true
          type: object
        start_at:
          format: date-time
          type: string
        timezone:
          type: string
      required:
      - start_at
      - end_at
      type: object
    property_CalendarEvent_conference:
      items:
        $ref: '#/components/schemas/CalendarConference'
      type: array
    property_CalendarWebinar_recurrence:
      items:
        $ref: '#/components/schemas/CalendarEventRecurrence'
      type: array
    property_CalendarEventRecurrence_on_months:
      description: months of the year to repeat on, defaults to undefined (every month), only used if frequency is YEARLY, January is 1
      items:
        type: number
      type: array
    property_CalendarWebinar_registrants:
      items:
        $ref: '#/components/schemas/CalendarWebinarRegistrant'
      type: array
    property_CalendarWebinar_panelists:
      items:
        $ref: '#/components/schemas/CalendarWebinarPanelist'
      type: array
    CalendarEvent:
      properties:
        attachments:
          $ref: '#/components/schemas/property_CalendarEvent_attachments'
        attendees:
          $ref: '#/components/schemas/property_CalendarEvent_attendees'
        calendar_id:
          type: string
        conference:
          $ref: '#/components/schemas/property_CalendarEvent_conference'
        created_at:
          type: string
        end_at:
          type: string
        has_conference:
          type: boolean
        id:
          type: string
        is_all_day:
          type: boolean
        is_free:
          type: boolean
        is_private:
          type: boolean
        location:
          type: string
        notes:
          type: string
        organizer:
          $ref: '#/components/schemas/property_CalendarEvent_organizer'
        raw:
          additionalProperties: true
          type: object
        recurrence:
          $ref: '#/components/schemas/property_CalendarEvent_recurrence'
        recurring_event_id:
          type: string
        send_notifications:
          type: boolean
        start_at:
          type: string
        status:
          enum:
          - CANCELED
          - CONFIRMED
          - TENTATIVE
          type: string
          x-speakeasy-unknown-values: allow
        subject:
          type: string
        timezone:
          type: string
        updated_at:
          type: string
        web_url:
          type: string
      type: object
    CalendarWebinarRegistrant:
      properties:
        email:
          type: string
        name:
          type: string
        registered_at:
          format: date-time
          type: string
        registration_reference:
          type: string
        registration_status:
          enum:
          - PENDING
          - APPROVED
          - REJECTED
          - CANCELLED
          type: string
          x-speakeasy-unknown-values: allow
      type: object
    property_CalendarEventRecurrence_on_year_days:
      description: days of the year to repeat on, defaults to undefined (every day), only used if frequency is YEARLY
      items:
        type: number
      type: array
    CalendarAttachment:
      properties:
        download_url:
          type: string
        id:
          type: string
        mime_type:
          type: string
        name:
          type: string
      type: object
    property_CalendarWebinar_organizer:
      properties:
        email:
          type: string
        is_cohost:
          type: boolean
        name:
          type: string
        required:
          type: boolean
        status:
          enum:
          - ACCEPTED
          - REJECTED
          - TENTATIVE
          type: string
          x-speakeasy-unknown-values: allow
        user_id:
          type: string
      type: object
    CalendarEventRecurrence:
      properties:
        count:
          type: number
        end_at:
          format: date-time
          type: string
        excluded_dates:
          $ref: '#/components/schemas/property_CalendarEventRecurrence_excluded_dates'
        frequency:
          enum:
          - DAILY
          - WEEKLY
          - MONTHLY
          - YEARLY
          type: string
          x-speakeasy-unknown-values: allow
        included_dates:
          $ref: '#/components/schemas/property_CalendarEventRecurrence_included_dates'
        interval:
          type: number
        on_days:
          $ref: '#/components/schemas/property_CalendarEventRecurrence_on_days'
        on_month_days:
          $ref: '#/components/schemas/property_CalendarEventRecurrence_on_month_days'
        on_months:
          $ref: '#/components/schemas/property_CalendarEventRecurrence_on_months'
        on_weeks:
          $ref: '#/components/schemas/property_CalendarEventRecurrence_on_weeks'
        on_year_days:
          $ref: '#/components/schemas/property_CalendarEventRecurrence_on_year_days'
        timezone:
          type: string
        week_start:
          enum:
          - SU
          - MO
          - TU
          - WE
          - TH
          - FR
          - SA
          type: string
          x-speakeasy-unknown-values: allow
      type: object
    CalendarLink:
      properties:
        created_at:
          type: string
        description:
          type: string
        duration:
          type: number
        id:
          type: string
        is_active:
          type: boolean
        name:
          type: string
        price_amount:
          type: number
        price_currency:
          type: string
        raw:
          additionalProperties: true
          type: object
        updated_at:
          type: string
        url:
          type: string
      required:
      - url
      type: object
    property_CalendarRecordingTranscript_attendee:
      properties:
        email:
          type: string
        is_cohost:
          type: boolean
        name:
          type: string
        required:
          type: boolean
        status:
          enum:
          - ACCEPTED
          - REJECTED
          - TENTATIVE
          type: string
          x-speakeasy-unknown-values: allow
        user_id:
          type: string
      type: object
    property_CalendarEventRecurrence_on_days:
      description: days of the week to repeat on, defaults to undefined (every day), only used if frequency is WEEKLY
      items:
        enum:
        - SU
        - MO
        - TU
        - WE
        - TH
        - FR
        - SA
        type: string
        x-speakeasy-unknown-values: allow
      type: array
    CalendarEvents:
      items:
        $ref: '#/components/schemas/CalendarEvent'
      type: array
    property_CalendarRecordingMedia_transcripts:
      items:
        $ref: '#/components/schemas/CalendarRecordingTranscript'
      type: array
    property_CalendarEvent_recurrence:
      items:
        $ref: '#/components/schemas/CalendarEventRecurrence'
      type: array
    CalendarWebinar:
      properties:
        calendar_id:
          type: string
        capacity:
          type: number
        conference:
          $ref: '#/components/schemas/property_CalendarWebinar_conference'
        created_at:
          format: date-time
          type: string
        end_at:
          format: date-time
          type: string
        has_polls:
          type: boolean
        has_qa:
          type: boolean
        has_recording:
          type: boolean
        id:
          type: string
        is_auto_approve:
          type: boolean
        is_enabled:
          type: boolean
        is_webcast:
          type: boolean
        join_url:
          type: string
        notes:
          type: string
        organizer:
          $ref: '#/components/schemas/property_CalendarWebinar_organizer'
        panelist_password:
          type: string
        panelists:
          $ref: '#/components/schemas/property_CalendarWebinar_panelists'
        raw:
          additionalProperties: true
          type: object
        recurrence:
          $ref: '#/components/schemas/property_CalendarWebinar_recurrence'
        registrant_password:
          type: string
        registrants:
          $ref: '#/components/schemas/property_CalendarWebinar_registrants'
        require_address:
          type: boolean
        require_company:
          type: boolean
        require_email:
          type: boolean
        require_first_name:
          type: boolean
        require_job_title:
          type: boolean
        require_last_name:
          type: boolean
        require_phone:
          type: boolean
        start_at:
          format: date-time
          type: string
        status:
          enum:
          - CANCELED
          - CONFIRMED
          - TENTATIVE
          type: string
          x-speakeasy-unknown-values: allow
        subject:
          type: string
        timezone:
          type: string
        updated_at:
          format: date-time
          type: string
        web_url:
          type: string
      type: object
    CalendarWebinars:
      items:
        $ref: '#/components/schemas/CalendarWebinar'
      type: array
    property_CalendarRecording_media:
      items:
        $ref: '#/components/schemas/CalendarRecordingMedia'
      type: array
    CalendarLinks:
      items:
        $ref: '#/components/schemas/CalendarLink'
      type: array
    CalendarCalendar:
      properties:
        created_at:
          format: date-time
          type: string
        description:
          type: string
        id:
          type: string
        is_primary:
          type: boolean
        name:
          type: string
        raw:
          additionalProperties: true
          type: object
        timezone:
          type: string
        updated_at:
          format: date-time
          type: string
      required:
      - name
      type: object
    CalendarRecording:
      properties:
        created_at:
          format: date-time
          type: string
        end_at:
          format: date-time
          type: string
        event_id:
          type: string
        expires_at:
          format: date-time
          type: string
        id:
          type: string
        media:
          $ref: '#/components/schemas/property_CalendarRecording_media'
        raw:
          additionalProperties: true
          type: object
        start_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
        web_url:
          type: string
      type: object
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
