openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account class API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: class
paths:
  /lms/{connection_id}/class:
    get:
      operationId: listLmsClasses
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The course ID to filter by (reference to Course)
        in: query
        name: course_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - media
            - course_id
            - instructor_ids
            - student_ids
            - languages
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LmsClasses'
          description: Successful
      security:
      - jwt: []
      summary: List All Classes
      tags:
      - class
    post:
      operationId: createLmsClass
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - media
            - course_id
            - instructor_ids
            - student_ids
            - languages
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LmsClass'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LmsClass'
          description: Successful
      security:
      - jwt: []
      summary: Create a Class
      tags:
      - class
  /lms/{connection_id}/class/{id}:
    delete:
      operationId: removeLmsClass
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Class
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Class
      tags:
      - class
    get:
      operationId: getLmsClass
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - media
            - course_id
            - instructor_ids
            - student_ids
            - languages
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Class
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LmsClass'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Class
      tags:
      - class
    patch:
      operationId: patchLmsClass
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - media
            - course_id
            - instructor_ids
            - student_ids
            - languages
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Class
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LmsClass'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LmsClass'
          description: Successful
      security:
      - jwt: []
      summary: Update a Class
      tags:
      - class
    put:
      operationId: updateLmsClass
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - media
            - course_id
            - instructor_ids
            - student_ids
            - languages
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Class
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LmsClass'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LmsClass'
          description: Successful
      security:
      - jwt: []
      summary: Update a Class
      tags:
      - class
components:
  schemas:
    property_LmsMedia_languages:
      description: ISO 2-digit language codes
      items:
        type: string
      type: array
    LmsClasses:
      items:
        $ref: '#/components/schemas/LmsClass'
      type: array
    LmsClass:
      properties:
        course_id:
          type: string
        created_at:
          format: date-time
          type: string
        description:
          type: string
        id:
          type: string
        instructor_ids:
          $ref: '#/components/schemas/property_LmsClass_instructor_ids'
        languages:
          $ref: '#/components/schemas/property_LmsClass_languages'
        media:
          $ref: '#/components/schemas/property_LmsClass_media'
        name:
          type: string
        raw:
          additionalProperties: true
          type: object
        student_ids:
          $ref: '#/components/schemas/property_LmsClass_student_ids'
        updated_at:
          format: date-time
          type: string
      required:
      - name
      - course_id
      type: object
    property_LmsClass_media:
      items:
        $ref: '#/components/schemas/LmsMedia'
      type: array
    property_LmsClass_student_ids:
      items:
        type: string
      type: array
    property_LmsClass_instructor_ids:
      items:
        type: string
      type: array
    LmsMedia:
      properties:
        content:
          type: string
        description:
          type: string
        languages:
          $ref: '#/components/schemas/property_LmsMedia_languages'
        name:
          type: string
        thumbnail_url:
          type: string
        type:
          enum:
          - IMAGE
          - HEADSHOT
          - VIDEO
          - WEB
          - DOCUMENT
          - TEXT
          - HTML
          - OTHER
          type: string
          x-speakeasy-unknown-values: allow
        url:
          type: string
      type: object
    property_LmsClass_languages:
      items:
        type: string
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
