openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account collection API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: collection
paths:
  /commerce/{connection_id}/collection:
    get:
      operationId: listCommerceCollections
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - in: query
        name: type
        required: false
        schema:
          type: string
      - description: The parent ID to filter by
        in: query
        name: parent_id
        required: false
        schema:
          type: string
      - description: The saleschannel ID to filter by (reference to CommerceSaleschannel)
        in: query
        name: saleschannel_id
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AccountingOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - description
            - public_description
            - media
            - is_visible
            - is_active
            - is_featured
            - tags
            - type
            - parent_id
            - metadata
            - item_metadata
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceCollections'
          description: Successful
      security:
      - jwt: []
      summary: List all collections
      tags:
      - collection
    post:
      operationId: createCommerceCollection
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - description
            - public_description
            - media
            - is_visible
            - is_active
            - is_featured
            - tags
            - type
            - parent_id
            - metadata
            - item_metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceCollection'
        description: A collection of items/products/services
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceCollection'
          description: Successful
      security:
      - jwt: []
      summary: Create a collection
      tags:
      - collection
  /commerce/{connection_id}/collection/{id}:
    delete:
      operationId: removeCommerceCollection
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Collection
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a collection
      tags:
      - collection
    get:
      operationId: getCommerceCollection
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - description
            - public_description
            - media
            - is_visible
            - is_active
            - is_featured
            - tags
            - type
            - parent_id
            - metadata
            - item_metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Collection
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceCollection'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a collection
      tags:
      - collection
    patch:
      operationId: patchCommerceCollection
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - description
            - public_description
            - media
            - is_visible
            - is_active
            - is_featured
            - tags
            - type
            - parent_id
            - metadata
            - item_metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Collection
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceCollection'
        description: A collection of items/products/services
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceCollection'
          description: Successful
      security:
      - jwt: []
      summary: Update a collection
      tags:
      - collection
    put:
      operationId: updateCommerceCollection
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - description
            - public_description
            - media
            - is_visible
            - is_active
            - is_featured
            - tags
            - type
            - parent_id
            - metadata
            - item_metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Collection
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceCollection'
        description: A collection of items/products/services
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceCollection'
          description: Successful
      security:
      - jwt: []
      summary: Update a collection
      tags:
      - collection
  /lms/{connection_id}/collection:
    get:
      operationId: listLmsCollections
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The course ID to filter by (reference to Course)
        in: query
        name: course_id
        required: false
        schema:
          type: string
      - description: The parent ID to filter by
        in: query
        name: parent_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - media
            - is_active
            - parent_id
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LmsCollections'
          description: Successful
      security:
      - jwt: []
      summary: List All Collections
      tags:
      - collection
    post:
      operationId: createLmsCollection
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - media
            - is_active
            - parent_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LmsCollection'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LmsCollection'
          description: Successful
      security:
      - jwt: []
      summary: Create a Collection
      tags:
      - collection
  /lms/{connection_id}/collection/{id}:
    delete:
      operationId: removeLmsCollection
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Collection
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Collection
      tags:
      - collection
    get:
      operationId: getLmsCollection
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - media
            - is_active
            - parent_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Collection
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LmsCollection'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Collection
      tags:
      - collection
    patch:
      operationId: patchLmsCollection
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - media
            - is_active
            - parent_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Collection
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LmsCollection'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LmsCollection'
          description: Successful
      security:
      - jwt: []
      summary: Update a Collection
      tags:
      - collection
    put:
      operationId: updateLmsCollection
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - media
            - is_active
            - parent_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Collection
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LmsCollection'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LmsCollection'
          description: Successful
      security:
      - jwt: []
      summary: Update a Collection
      tags:
      - collection
components:
  schemas:
    property_CommerceCollection_media:
      items:
        $ref: '#/components/schemas/CommerceItemMedia'
      type: array
    property_LmsCollection_media:
      items:
        $ref: '#/components/schemas/LmsMedia'
      type: array
    property_LmsMedia_languages:
      description: ISO 2-digit language codes
      items:
        type: string
      type: array
    CommerceMetadata:
      properties:
        description:
          type: string
        extra_data:
          additionalProperties: true
          anyOf:
          - type: object
          - type: string
          - type: number
          - type: boolean
          - items:
              anyOf:
              - type: object
              - type: string
              - type: number
              - type: boolean
            type: array
        format:
          enum:
          - TEXT
          - NUMBER
          - DATE
          - BOOLEAN
          - FILE
          - TEXTAREA
          - SINGLE_SELECT
          - MULTIPLE_SELECT
          - MEASUREMENT
          - PRICE
          - YES_NO
          - CURRENCY
          - URL
          type: string
          x-speakeasy-unknown-values: allow
        id:
          type: string
        is_required:
          type: boolean
        namespace:
          type: string
        slug:
          type: string
        value:
          additionalProperties: true
          anyOf:
          - type: object
          - type: string
          - type: number
          - type: boolean
          - items:
              anyOf:
              - type: object
              - type: string
              - type: number
              - type: boolean
            type: array
      type: object
    CommerceCollection:
      description: A collection of items/products/services
      properties:
        created_at:
          format: date-time
          type: string
        description:
          type: string
        id:
          type: string
        is_active:
          type: boolean
        is_featured:
          type: boolean
        is_visible:
          type: boolean
        item_metadata:
          $ref: '#/components/schemas/property_CommerceCollection_item_metadata'
        media:
          $ref: '#/components/schemas/property_CommerceCollection_media'
        metadata:
          $ref: '#/components/schemas/property_CommerceCollection_metadata'
        name:
          type: string
        parent_id:
          type: string
        public_description:
          type: string
        public_name:
          type: string
        raw:
          additionalProperties: true
          type: object
        tags:
          $ref: '#/components/schemas/property_CommerceCollection_tags'
        type:
          enum:
          - COLLECTION
          - SAVED_SEARCH
          - CATEGORY
          type: string
          x-speakeasy-unknown-values: allow
        updated_at:
          format: date-time
          type: string
      required:
      - name
      type: object
    property_CommerceItemMedia_metadata:
      items:
        $ref: '#/components/schemas/CommerceMetadata'
      type: array
    property_CommerceCollection_tags:
      items:
        type: string
      type: array
    LmsCollections:
      items:
        $ref: '#/components/schemas/LmsCollection'
      type: array
    property_CommerceCollection_item_metadata:
      items:
        $ref: '#/components/schemas/CommerceMetadata'
      type: array
    CommerceItemMedia:
      properties:
        alt:
          type: string
        height:
          type: number
        id:
          type: string
        metadata:
          $ref: '#/components/schemas/property_CommerceItemMedia_metadata'
        position:
          type: number
        type:
          enum:
          - image
          - video
          type: string
          x-speakeasy-unknown-values: allow
        url:
          type: string
        width:
          type: number
      required:
      - url
      type: object
    LmsCollection:
      properties:
        created_at:
          format: date-time
          type: string
        description:
          type: string
        id:
          type: string
        is_active:
          type: boolean
        media:
          $ref: '#/components/schemas/property_LmsCollection_media'
        name:
          type: string
        parent_id:
          type: string
        raw:
          additionalProperties: true
          type: object
        updated_at:
          format: date-time
          type: string
      type: object
    property_CommerceCollection_metadata:
      items:
        $ref: '#/components/schemas/CommerceMetadata'
      type: array
    LmsMedia:
      properties:
        content:
          type: string
        description:
          type: string
        languages:
          $ref: '#/components/schemas/property_LmsMedia_languages'
        name:
          type: string
        thumbnail_url:
          type: string
        type:
          enum:
          - IMAGE
          - HEADSHOT
          - VIDEO
          - WEB
          - DOCUMENT
          - TEXT
          - HTML
          - OTHER
          type: string
          x-speakeasy-unknown-values: allow
        url:
          type: string
      type: object
    CommerceCollections:
      items:
        $ref: '#/components/schemas/CommerceCollection'
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
