openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account order API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: order
paths:
  /accounting/{connection_id}/order:
    get:
      operationId: listAccountingOrders
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The contact ID to filter by (reference to AccountingContact)
        in: query
        name: contact_id
        required: false
        schema:
          type: string
      - in: query
        name: type
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AccountingOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - posted_at
            - contact_id
            - account_id
            - type
            - currency
            - total_amount
            - shipping_address
            - billing_address
            - status
            - lineitems
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingOrders'
          description: Successful
      security:
      - jwt: []
      summary: List all orders
      tags:
      - order
    post:
      operationId: createAccountingOrder
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - posted_at
            - contact_id
            - account_id
            - type
            - currency
            - total_amount
            - shipping_address
            - billing_address
            - status
            - lineitems
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingOrder'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingOrder'
          description: Successful
      security:
      - jwt: []
      summary: Create an order
      tags:
      - order
  /accounting/{connection_id}/order/{id}:
    delete:
      operationId: removeAccountingOrder
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Order
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove an order
      tags:
      - order
    get:
      operationId: getAccountingOrder
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - posted_at
            - contact_id
            - account_id
            - type
            - currency
            - total_amount
            - shipping_address
            - billing_address
            - status
            - lineitems
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Order
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingOrder'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve an order
      tags:
      - order
    patch:
      operationId: patchAccountingOrder
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - posted_at
            - contact_id
            - account_id
            - type
            - currency
            - total_amount
            - shipping_address
            - billing_address
            - status
            - lineitems
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Order
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingOrder'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingOrder'
          description: Successful
      security:
      - jwt: []
      summary: Update an order
      tags:
      - order
    put:
      operationId: updateAccountingOrder
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - posted_at
            - contact_id
            - account_id
            - type
            - currency
            - total_amount
            - shipping_address
            - billing_address
            - status
            - lineitems
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Order
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingOrder'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingOrder'
          description: Successful
      security:
      - jwt: []
      summary: Update an order
      tags:
      - order
  /assessment/{connection_id}/order/{id}:
    patch:
      operationId: patchAssessmentOrder
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - workspace_id
            - connection_id
            - webhook_id
            - package_id
            - parameters
            - target_url
            - status
            - reference
            - application_id
            - job_id
            - company_id
            - candidate_id
            - employee_id
            - profile_name
            - profile_first_name
            - profile_last_name
            - profile_resume_url
            - profile_ip_address
            - profile_date_of_birth
            - profile_addresses
            - profile_gender
            - profile_emails
            - profile_telephones
            - profile_national_identifier
            - profile_social_media_urls
            - response_completed_at
            - response_expires_at
            - response_issued_at
            - response_status
            - response_score
            - response_max_score
            - response_url
            - response_redirect_url
            - response_download_urls
            - response_details
            - response_source
            - response_attributes
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Order
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssessmentOrder'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentOrder'
          description: Successful
      security:
      - jwt: []
      summary: Update an Order
      tags:
      - order
    put:
      operationId: updateAssessmentOrder
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - workspace_id
            - connection_id
            - webhook_id
            - package_id
            - parameters
            - target_url
            - status
            - reference
            - application_id
            - job_id
            - company_id
            - candidate_id
            - employee_id
            - profile_name
            - profile_first_name
            - profile_last_name
            - profile_resume_url
            - profile_ip_address
            - profile_date_of_birth
            - profile_addresses
            - profile_gender
            - profile_emails
            - profile_telephones
            - profile_national_identifier
            - profile_social_media_urls
            - response_completed_at
            - response_expires_at
            - response_issued_at
            - response_status
            - response_score
            - response_max_score
            - response_url
            - response_redirect_url
            - response_download_urls
            - response_details
            - response_source
            - response_attributes
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Order
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssessmentOrder'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentOrder'
          description: Successful
      security:
      - jwt: []
      summary: Update an Order
      tags:
      - order
components:
  schemas:
    property_AssessmentOrder_response_details:
      items:
        $ref: '#/components/schemas/AssessmentResponseDetail'
      type: array
    property_AssessmentOrder_profile_telephones:
      items:
        type: string
      type: array
    property_AssessmentOrder_response_attributes:
      description: Additional result attributes
      items:
        $ref: '#/components/schemas/AssessmentAttribute'
      type: array
    property_AssessmentOrder_profile_emails:
      items:
        type: string
      type: array
    AssessmentAddress:
      properties:
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        country:
          type: string
        country_code:
          type: string
        postal_code:
          type: string
        region:
          type: string
        region_code:
          type: string
      type: object
    AssessmentResponseDetail:
      properties:
        download_url:
          type: string
        is_failed_reason:
          type: boolean
        is_private:
          type: boolean
        parameter_id:
          type: string
        text:
          type: string
        title:
          type: string
      type: object
    property_AssessmentOrder_response_download_urls:
      description: Report download URLs
      items:
        type: string
      type: array
    property_AssessmentParameterInput_inputs:
      items:
        type: string
      type: array
    property_AccountingLineitem_locations:
      items:
        $ref: '#/components/schemas/AccountingReference'
      type: array
    property_AccountingOrder_billing_address:
      properties:
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        country:
          type: string
        country_code:
          type: string
        postal_code:
          type: string
        region:
          type: string
        region_code:
          type: string
      type: object
    AccountingReference:
      properties:
        id:
          type: string
        name:
          type: string
      type: object
    property_AccountingLineitem_category_ids:
      items:
        type: string
      type: array
    AssessmentOrder:
      properties:
        application_id:
          type: string
        candidate_id:
          type: string
        company_id:
          type: string
        connection_id:
          type: string
        created_at:
          format: date-time
          type: string
        employee_id:
          type: string
        id:
          type: string
        job_id:
          type: string
        package_id:
          type: string
        parameters:
          $ref: '#/components/schemas/property_AssessmentOrder_parameters'
        profile_addresses:
          $ref: '#/components/schemas/property_AssessmentOrder_profile_addresses'
        profile_date_of_birth:
          type: string
        profile_emails:
          $ref: '#/components/schemas/property_AssessmentOrder_profile_emails'
        profile_first_name:
          type: string
        profile_gender:
          enum:
          - MALE
          - FEMALE
          - INTERSEX
          - TRANS
          - NON_BINARY
          type: string
          x-speakeasy-unknown-values: allow
        profile_ip_address:
          type: string
        profile_last_name:
          type: string
        profile_name:
          type: string
        profile_national_identifier:
          type: string
        profile_resume_url:
          type: string
        profile_social_media_urls:
          $ref: '#/components/schemas/property_AssessmentOrder_profile_social_media_urls'
        profile_telephones:
          $ref: '#/components/schemas/property_AssessmentOrder_profile_telephones'
        raw:
          additionalProperties: true
          type: object
        reference:
          type: string
        response_attributes:
          $ref: '#/components/schemas/property_AssessmentOrder_response_attributes'
        response_completed_at:
          format: date-time
          type: string
        response_details:
          $ref: '#/components/schemas/property_AssessmentOrder_response_details'
        response_download_urls:
          $ref: '#/components/schemas/property_AssessmentOrder_response_download_urls'
        response_expires_at:
          format: date-time
          type: string
        response_issued_at:
          format: date-time
          type: string
        response_max_score:
          type: number
        response_redirect_url:
          type: string
        response_score:
          type: number
        response_source:
          type: string
        response_status:
          enum:
          - OPEN
          - IN_PROGRESS
          - COMPLETED
          - FAILED
          - REJECTED
          type: string
          x-speakeasy-unknown-values: allow
        response_url:
          type: string
        status:
          enum:
          - OPEN
          - IN_PROGRESS
          - COMPLETED
          - FAILED
          - REJECTED
          type: string
          x-speakeasy-unknown-values: allow
        target_url:
          type: string
        updated_at:
          format: date-time
          type: string
        webhook_id:
          type: string
        workspace_id:
          type: string
      required:
      - workspace_id
      - connection_id
      type: object
    property_AssessmentOrder_profile_addresses:
      items:
        $ref: '#/components/schemas/AssessmentAddress'
      type: array
    AssessmentParameterInput:
      properties:
        inputs:
          $ref: '#/components/schemas/property_AssessmentParameterInput_inputs'
        name:
          type: string
        parameter_id:
          type: string
      type: object
    AssessmentAttribute:
      properties:
        label:
          type: string
        reference:
          type: string
        score_max:
          type: number
        score_value:
          type: number
        status:
          enum:
          - OPEN
          - IN_PROGRESS
          - COMPLETED
          - FAILED
          - REJECTED
          type: string
          x-speakeasy-unknown-values: allow
        type:
          enum:
          - TEXT
          - NUMBER
          - SUB_RESULT
          type: string
          x-speakeasy-unknown-values: allow
        value:
          type: string
      required:
      - type
      - label
      type: object
    AccountingOrders:
      items:
        $ref: '#/components/schemas/AccountingOrder'
      type: array
    property_AccountingOrder_lineitems:
      items:
        $ref: '#/components/schemas/AccountingLineitem'
      type: array
    AccountingOrder:
      properties:
        account_id:
          type: string
        billing_address:
          $ref: '#/components/schemas/property_AccountingOrder_billing_address'
        contact_id:
          type: string
        created_at:
          format: date-time
          type: string
        currency:
          type: string
        id:
          type: string
        lineitems:
          $ref: '#/components/schemas/property_AccountingOrder_lineitems'
        posted_at:
          format: date-time
          type: string
        raw:
          additionalProperties: true
          type: object
        shipping_address:
          $ref: '#/components/schemas/property_AccountingOrder_shipping_address'
        status:
          enum:
          - DRAFT
          - VOIDED
          - AUTHORIZED
          - PAID
          - PARTIALLY_PAID
          - PARTIALLY_REFUNDED
          - REFUNDED
          - SUBMITTED
          - DELETED
          type: string
          x-speakeasy-unknown-values: allow
        total_amount:
          type: number
        type:
          enum:
          - SALES
          - PURCHASE
          type: string
          x-speakeasy-unknown-values: allow
        updated_at:
          format: date-time
          type: string
      type: object
    AccountingLineitem:
      properties:
        account_id:
          type: string
        category_ids:
          $ref: '#/components/schemas/property_AccountingLineitem_category_ids'
        created_at:
          format: date-time
          type: string
        discount_amount:
          type: number
        id:
          type: string
        item_description:
          type: string
        item_id:
          type: string
        item_name:
          type: string
        item_sku:
          type: string
        item_variants:
          $ref: '#/components/schemas/property_AccountingLineitem_item_variants'
        locations:
          $ref: '#/components/schemas/property_AccountingLineitem_locations'
        notes:
          type: string
        refund_amount:
          type: number
        refunded_at:
          format: date-time
          type: string
        tax_amount:
          type: number
        taxrate_id:
          type: string
        total_amount:
          type: number
        unit_amount:
          type: number
        unit_quantity:
          type: number
        updated_at:
          format: date-time
          type: string
      type: object
    property_AccountingLineitem_item_variants:
      items:
        $ref: '#/components/schemas/AccountingReference'
      type: array
    property_AssessmentOrder_parameters:
      description: Filled-in answers to the package's parameter questions
      items:
        $ref: '#/components/schemas/AssessmentParameterInput'
      type: array
    property_AssessmentOrder_profile_social_media_urls:
      items:
        type: string
      type: array
    property_AccountingOrder_shipping_address:
      properties:
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        country:
          type: string
        country_code:
          type: string
        postal_code:
          type: string
        region:
          type: string
        region_code:
          type: string
      type: object
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
