openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account report API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: report
paths:
  /accounting/{connection_id}/report:
    get:
      operationId: listAccountingReports
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - in: query
        name: type
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - type
            - name
            - currency
            - start_at
            - end_at
            - balance_sheet
            - profit_and_loss
            - trial_balance
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingReports'
          description: Successful
      security:
      - jwt: []
      summary: List all reports
      tags:
      - report
  /accounting/{connection_id}/report/{id}:
    get:
      operationId: getAccountingReport
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - type
            - name
            - currency
            - start_at
            - end_at
            - balance_sheet
            - profit_and_loss
            - trial_balance
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Report
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingReport'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a report
      tags:
      - report
  /ads/{connection_id}/report:
    get:
      operationId: listAdsReports
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AdsOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - description: The campaign ID to filter by
        in: query
        name: campaign_id
        required: false
        schema:
          type: string
      - description: The group ID to filter by (reference to AdsGroup)
        in: query
        name: group_id
        required: false
        schema:
          type: string
      - description: The ad ID to filter by
        in: query
        name: ad_id
        required: false
        schema:
          type: string
      - in: query
        name: type
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - currency
            - metrics
            - start_at
            - end_at
            - organization_id
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsReports'
          description: Successful
      security:
      - jwt: []
      summary: List All Reports
      tags:
      - report
  /martech/{connection_id}/report:
    get:
      operationId: listMartechReports
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The campaign ID to filter by
        in: query
        name: campaign_id
        required: false
        schema:
          type: string
      - description: The list ID to filter by
        in: query
        name: list_id
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - start_at
            - end_at
            - campaign_id
            - list_id
            - emails_sent
            - abuse_reports
            - unsubscribed
            - sent_at
            - hard_bounces
            - soft_bounces
            - syntax_errors
            - forwards_count
            - forwards_opens
            - opens_total
            - unique_opens
            - open_rate
            - last_open_at
            - clicks_total
            - unique_clicks
            - unique_subscriber_clicks
            - click_rate
            - last_click_at
            - links
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingReports'
          description: Successful
      security:
      - jwt: []
      summary: List All Reports
      tags:
      - report
components:
  schemas:
    property_AdsReportMetrics_campaign_targeting_content_excluded_topics:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_content_excluded_keywords:
      items:
        $ref: '#/components/schemas/AdsKeyword'
      type: array
    property_AdsReportMetrics_ad:
      properties:
        ad_copy:
          type: string
        ad_type:
          enum:
          - TEXT
          - IMAGE
          - VIDEO
          - RESPONSIVE
          - SHOPPING
          - APP
          - CALL
          - CAROUSEL
          - SOCIAL
          - DISPLAY
          - SEARCH
          - AUDIO
          - YOUTUBE
          type: string
          x-speakeasy-unknown-values: allow
        campaign_id:
          type: string
        created_at:
          format: date-time
          type: string
        creative_asset_url:
          type: string
        creative_ids:
          $ref: '#/components/schemas/property_AdsReportMetrics_ad_creative_ids'
        cta:
          type: string
        description:
          type: string
        display_url:
          type: string
        final_url:
          type: string
        group_id:
          type: string
        headline:
          type: string
        id:
          type: string
        name:
          type: string
        organization_id:
          type: string
        path1:
          type: string
        path2:
          type: string
        promoted:
          $ref: '#/components/schemas/property_AdsReportMetrics_ad_promoted'
        raw:
          additionalProperties: true
          type: object
        status:
          enum:
          - UNSPECIFIED
          - ACTIVE
          - PAUSED
          - ARCHIVED
          - DRAFT
          - SCHEDULED_FOR_DELETION
          type: string
          x-speakeasy-unknown-values: allow
        updated_at:
          format: date-time
          type: string
      type: object
    property_AccountingReport_balance_sheet:
      properties:
        assets:
          $ref: '#/components/schemas/property_AccountingReport_balance_sheet_assets'
        created_at:
          format: date-time
          type: string
        currency:
          type: string
        end_at:
          format: date-time
          type: string
        equity:
          $ref: '#/components/schemas/property_AccountingReport_balance_sheet_equity'
        id:
          type: string
        liabilities:
          $ref: '#/components/schemas/property_AccountingReport_balance_sheet_liabilities'
        name:
          type: string
        net_assets_amount:
          type: number
        raw:
          additionalProperties: true
          type: object
        start_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    AdsReportMetrics:
      properties:
        ad:
          $ref: '#/components/schemas/property_AdsReportMetrics_ad'
        campaign:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign'
        group:
          $ref: '#/components/schemas/property_AdsReportMetrics_group'
        type:
          enum:
          - CLICKS
          - IMPRESSIONS
          - CONVERSIONS
          - COST
          - CTR
          - CPC
          - CONVERSION_VALUE
          - CPA
          - ROAS
          - CPM
          - ECPM
          - ENGAGEMENT
          - VIDEO_COMPLETIONS
          - VIDEO_VIEWS
          - LEADS
          - ENGAGEMENTS
          - SAVES
          - LIKES
          - SHARES
          - COMMENTS
          - FOLLOWS
          type: string
          x-speakeasy-unknown-values: allow
        value:
          type: number
      type: object
    AccountingBalancesheetItem:
      properties:
        account_id:
          type: string
        amount:
          type: number
        name:
          type: string
        sub_items:
          $ref: '#/components/schemas/property_AccountingBalancesheetItem_sub_items'
      type: object
    property_AdsReportMetrics_group_bid_strategy:
      description: YOUTUBE_AND_PARTNERS
      properties:
        custom_bidding_algorithm_id:
          type: string
        fixed_bid_amount:
          type: number
        max_average_cpm_bid_amount:
          type: number
        performance_goal_amount:
          type: number
        performance_goal_type:
          enum:
          - UNSPECIFIED
          - CPA
          - CPC
          - VIEWABLE_CPM
          - CUSTOM_ALGO
          - CIVA
          - IVO_TEN
          - AV_VIEWED
          - REACH
          type: string
          x-speakeasy-unknown-values: allow
        raise_bid_for_deals:
          type: boolean
        target_roas:
          type: number
        type:
          enum:
          - FIXED_BID
          - MAXIMIZE_SPEND
          - PERFORMANCE_GOAL
          - YOUTUBE_AND_PARTNERS
          type: string
          x-speakeasy-unknown-values: allow
        youtube_and_partners_type:
          enum:
          - UNSPECIFIED
          - MANUAL_CPV
          - MANUAL_CPM
          - TARGET_CPA
          - TARGET_CPM
          - RESERVE_CPM
          - MAXIMIZE_LIFT
          - MAXIMIZE_CONVERSIONS
          - TARGET_CPV
          - TARGET_ROAS
          - MAXIMIZE_CONVERSION_VALUE
          type: string
          x-speakeasy-unknown-values: allow
        youtube_and_partners_value:
          type: string
      required:
      - type
      type: object
    property_AdsReportMetrics_group_targeting_optimization:
      description: 'Optimization (Meta: targeting_automation; Google: observation vs targeting mode)'
      properties:
        advantage_audience:
          type: boolean
        advantage_placements:
          type: boolean
        mode:
          enum:
          - TARGETING
          - OBSERVATION
          type: string
          x-speakeasy-unknown-values: allow
        targeting_optimization_expansion_all:
          type: boolean
      type: object
    property_AdsReportMetrics_campaign_targeting_geographic_regions:
      items:
        $ref: '#/components/schemas/RegionTarget'
      type: array
    property_AdsReportMetrics_campaign_targeting_content_keywords:
      items:
        $ref: '#/components/schemas/AdsKeyword'
      type: array
    property_AdsReportMetrics_group_targeting_device_carriers:
      items:
        type: string
      type: array
    property_AccountingReport_profit_and_loss_cost_of_goods_sold:
      description: '@deprecated – use cost_of_goods_sold_sections instead'
      items:
        $ref: '#/components/schemas/AccountingProfitlossCategory'
      type: array
    property_AdsReportMetrics_campaign_targeting_demographic:
      description: 'Demographic targeting (Meta: age_min, age_max, genders)'
      properties:
        age_max:
          type: number
        age_min:
          type: number
        female:
          type: boolean
        male:
          type: boolean
      type: object
    property_AdsReportMetrics_campaign_targeting_device_types:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_geographic_excluded_regions:
      items:
        $ref: '#/components/schemas/RegionTarget'
      type: array
    property_AdsReportMetrics_group_targeting_content:
      properties:
        excluded_keywords:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_content_excluded_keywords'
        excluded_topics:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_content_excluded_topics'
        excluded_urls:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_content_excluded_urls'
        keywords:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_content_keywords'
        topics:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_content_topics'
        urls:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_content_urls'
        video:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_content_video'
      type: object
    AccountingProfitlossAccount:
      properties:
        account_id:
          type: string
        account_name:
          type: string
        total_amount:
          type: number
        transaction_ids:
          $ref: '#/components/schemas/property_AccountingProfitlossAccount_transaction_ids'
      type: object
    property_AdsReportMetrics_campaign_targeting_device_user_os:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_schedule:
      items:
        $ref: '#/components/schemas/AdSchedule'
      type: array
    AdsReports:
      items:
        $ref: '#/components/schemas/AdsReport'
      type: array
    property_AdsReportMetrics_campaign_targeting_geographic_postal_codes:
      items:
        type: string
      type: array
    property_AdsReportMetrics_campaign_targeting_audience_interests:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AccountingReport_profit_and_loss_income:
      description: '@deprecated – use income_sections instead'
      items:
        $ref: '#/components/schemas/AccountingProfitlossCategory'
      type: array
    property_AdsReportMetrics_campaign_targeting_placement_audience_network_positions:
      items:
        type: string
      type: array
    property_AdsReportMetrics_campaign_targeting_geographic_location_types:
      items:
        enum:
        - HOME
        - RECENT
        - TRAVEL
        type: string
        x-speakeasy-unknown-values: allow
      type: array
    property_MarketingReport_links:
      description: URL-specific click data
      items:
        $ref: '#/components/schemas/MarketingReportLink'
      type: array
    property_AdsReportMetrics_group_targeting_audience_behaviors:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AdsReportMetrics_group_targeting_audience:
      properties:
        behaviors:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_audience_behaviors'
        combination_spec:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_audience_combination_spec'
        custom_audiences:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_audience_custom_audiences'
        excluded_behaviors:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_audience_excluded_behaviors'
        excluded_custom_audiences:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_audience_excluded_custom_audiences'
        excluded_interests:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_audience_excluded_interests'
        interests:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_audience_interests'
        lookalike_audiences:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_audience_lookalike_audiences'
      type: object
    property_AdsReportMetrics_campaign_targeting_audience_combination_spec:
      items:
        $ref: '#/components/schemas/AudienceCombination'
      type: array
    property_AdsReportMetrics_group_frequency_cap:
      properties:
        is_unlimited:
          type: boolean
        max_impressions:
          type: number
        max_views:
          type: number
        time_unit:
          enum:
          - UNSPECIFIED
          - LIFETIME
          - MONTHS
          - WEEKS
          - DAYS
          - HOURS
          - MINUTES
          type: string
          x-speakeasy-unknown-values: allow
        time_unit_count:
          type: number
      type: object
    property_AdsReportMetrics_group_targeting_content_video_player_sizes:
      items:
        enum:
        - SMALL
        - LARGE
        - HD
        type: string
        x-speakeasy-unknown-values: allow
      type: array
    property_AdsReportMetrics_campaign_targeting_language:
      description: Language targeting (Meta
      properties:
        codes:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_language_codes'
        locale_ids:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_language_locale_ids'
      type: object
    property_AdsReportMetrics_campaign_targeting_language_codes:
      items:
        type: string
      type: array
    property_AdsReportMetrics_campaign_targeting_optimization:
      description: 'Optimization (Meta: targeting_automation; Google: observation vs targeting mode)'
      properties:
        advantage_audience:
          type: boolean
        advantage_placements:
          type: boolean
        mode:
          enum:
          - TARGETING
          - OBSERVATION
          type: string
          x-speakeasy-unknown-values: allow
        targeting_optimization_expansion_all:
          type: boolean
      type: object
    property_AdsReportMetrics_group_targeting_placement_audience_network_positions:
      items:
        type: string
      type: array
    property_AdsReport_metrics:
      items:
        $ref: '#/components/schemas/AdsReportMetrics'
      type: array
    property_AdsReportMetrics_campaign_targeting_audience_excluded_interests:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    CityTarget:
      properties:
        id:
          type: string
        name:
          type: string
        radius:
          type: number
        radius_unit:
          enum:
          - MILES
          - KILOMETERS
          type: string
          x-speakeasy-unknown-values: allow
      required:
      - id
      type: object
    property_AdsReportMetrics_group_targeting_geographic_excluded_countries:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_audience_lookalike_audiences:
      items:
        $ref: '#/components/schemas/LookalikeAudience'
      type: array
    property_AdsReportMetrics_group_targeting_demographic:
      description: 'Demographic targeting (Meta: age_min, age_max, genders)'
      properties:
        age_max:
          type: number
        age_min:
          type: number
        female:
          type: boolean
        male:
          type: boolean
      type: object
    property_AdsReportMetrics_group_targeting_content_video_durations:
      items:
        enum:
        - SHORT
        - MEDIUM
        - LONG
        type: string
        x-speakeasy-unknown-values: allow
      type: array
    AudienceSegment:
      description: 'Audience targeting (Meta: custom_audiences, lookalike_audiences, flexible_spec)'
      properties:
        id:
          type: string
        name:
          type: string
      required:
      - id
      type: object
    property_AdsReportMetrics_campaign_targeting_content_video_player_sizes:
      items:
        enum:
        - SMALL
        - LARGE
        - HD
        type: string
        x-speakeasy-unknown-values: allow
      type: array
    property_AdsReportMetrics_campaign_targeting_audience_lookalike_audiences:
      items:
        $ref: '#/components/schemas/LookalikeAudience'
      type: array
    property_AdsReportMetrics_campaign_targeting_language_locale_ids:
      items:
        type: number
      type: array
    AudienceCombination:
      properties:
        behaviors:
          $ref: '#/components/schemas/property_AudienceCombination_behaviors'
        demographics:
          $ref: '#/components/schemas/property_AudienceCombination_demographics'
        interests:
          $ref: '#/components/schemas/property_AudienceCombination_interests'
        life_events:
          $ref: '#/components/schemas/property_AudienceCombination_life_events'
      type: object
    property_AccountingProfitlossSection_accounts:
      items:
        $ref: '#/components/schemas/AccountingProfitlossAccount'
      type: array
    property_AdsReportMetrics_group_targeting_geographic_excluded_cities:
      items:
        $ref: '#/components/schemas/CityTarget'
      type: array
    property_AdsReportMetrics_campaign_targeting_brand_safety_brand_safety_content_filter_levels:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_brand_safety_brand_safety_content_filter_levels:
      items:
        type: string
      type: array
    property_AccountingReport_trial_balance_sub_items:
      items:
        $ref: '#/components/schemas/AccountingTrialbalanceSubItem'
      type: array
    property_AccountingReport_profit_and_loss_category_ids:
      items:
        type: string
      type: array
    property_AccountingReport_profit_and_loss_expenses:
      description: '@deprecated – use expenses_sections instead'
      items:
        $ref: '#/components/schemas/AccountingProfitlossCategory'
      type: array
    AccountingProfitlossSubcategory:
      description: '@deprecated'
      properties:
        amount:
          type: number
        name:
          type: string
        transaction_ids:
          $ref: '#/components/schemas/property_AccountingProfitlossSubcategory_transaction_ids'
      type: object
    property_AdsReportMetrics_group:
      properties:
        bid_amount:
          type: number
        bid_strategy:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_bid_strategy'
        billing_event:
          enum:
          - IMPRESSIONS
          - LINK_CLICKS
          - VIDEO_VIEWS
          - APP_INSTALLS
          - ENGAGEMENT
          - PAGE_LIKES
          - MESSAGES
          - POST_ENGAGEMENT
          - PURCHASE
          - NONE
          type: string
          x-speakeasy-unknown-values: allow
        budget_allocation_type:
          enum:
          - UNSPECIFIED
          - AUTOMATIC
          - FIXED
          - UNLIMITED
          type: string
          x-speakeasy-unknown-values: allow
        budget_amount:
          type: number
        budget_max_amount:
          type: number
        budget_period:
          enum:
          - DAILY
          - MONTHLY
          - TOTAL
          - LIFETIME
          type: string
          x-speakeasy-unknown-values: allow
        budget_unit:
          enum:
          - UNSPECIFIED
          - CURRENCY
          - IMPRESSIONS
          type: string
          x-speakeasy-unknown-values: allow
        campaign_id:
          type: string
        created_at:
          format: date-time
          type: string
        creative_ids:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_creative_ids'
        currency:
          type: string
        end_at:
          format: date-time
          type: string
        frequency_cap:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_frequency_cap'
        has_eu_political_ads:
          type: boolean
        id:
          type: string
        insertionorder_id:
          type: string
        name:
          type: string
        optimization_goal:
          enum:
          - REACH
          - IMPRESSIONS
          - LINK_CLICKS
          - LANDING_PAGE_VIEWS
          - CONVERSIONS
          - LEAD_GENERATION
          - APP_INSTALLS
          - APP_ENGAGEMENT
          - VIDEO_VIEWS
          - ENGAGEMENT
          - PAGE_LIKES
          - MESSAGES
          type: string
          x-speakeasy-unknown-values: allow
        organization_id:
          type: string
        pacing:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_pacing'
        parent_id:
          type: string
        promoted:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_promoted'
        raw:
          additionalProperties: true
          type: object
        start_at:
          format: date-time
          type: string
        status:
          enum:
          - UNSPECIFIED
          - ACTIVE
          - PAUSED
          - ARCHIVED
          - DRAFT
          - SCHEDULED_FOR_DELETION
          type: string
          x-speakeasy-unknown-values: allow
        targeting:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting'
        type:
          enum:
          - TEXT
          - IMAGE
          - VIDEO
          - RESPONSIVE
          - SHOPPING
          - APP
          - CALL
          - CAROUSEL
          - SOCIAL
          - DISPLAY
          - SEARCH
          - AUDIO
          - YOUTUBE
          type: string
          x-speakeasy-unknown-values: allow
        updated_at:
          format: date-time
          type: string
      type: object
    property_AdsReportMetrics_campaign_targeting_brand_safety:
      description: 'Brand safety (Meta: excluded_publisher_categories, etc.; Google'
      properties:
        block_list_ids:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_brand_safety_block_list_ids'
        brand_safety_content_filter_levels:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_brand_safety_brand_safety_content_filter_levels'
        excluded_content_labels:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_brand_safety_excluded_content_labels'
        excluded_publisher_categories:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_brand_safety_excluded_publisher_categories'
        publisher_visibility_categories:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_brand_safety_publisher_visibility_categories'
      type: object
    property_AdsReportMetrics_group_targeting_brand_safety_block_list_ids:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_content_video_positions:
      items:
        enum:
        - PREROLL
        - MIDROLL
        - POSTROLL
        - INSTREAM
        - OUTSTREAM
        type: string
        x-speakeasy-unknown-values: allow
      type: array
    property_AdsReportMetrics_campaign_targeting_content_video_positions:
      items:
        enum:
        - PREROLL
        - MIDROLL
        - POSTROLL
        - INSTREAM
        - OUTSTREAM
        type: string
        x-speakeasy-unknown-values: allow
      type: array
    property_AdsReportMetrics_group_targeting_geographic_excluded_postal_codes:
      items:
        type: string
      type: array
    property_AudienceCombination_interests:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    AccountingReport:
      description: '@deprecated; use either AccountingProfitandloss, AccountingTrialbalance, AccountingBalancesheet, or AccountingCashflow instead'
      properties:
        balance_sheet:
          $ref: '#/components/schemas/property_AccountingReport_balance_sheet'
        created_at:
          format: date-time
          type: string
        currency:
          type: string
        end_at:
          format: date-time
          type: string
        id:
          type: string
        name:
          type: string
        profit_and_loss:
          $ref: '#/components/schemas/property_AccountingReport_profit_and_loss'
        raw:
          additionalProperties: true
          type: object
        start_at:
          format: date-time
          type: string
        trial_balance:
          $ref: '#/components/schemas/property_AccountingReport_trial_balance'
        type:
          enum:
          - TRIAL_BALANCE
          - BALANCE_SHEET
          - PROFIT_AND_LOSS
          type: string
          x-speakeasy-unknown-values: allow
        updated_at:
          format: date-time
          type: string
      type: object
    property_AdsReportMetrics_group_targeting_audience_excluded_behaviors:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AdsReportMetrics_campaign_targeting_device:
      properties:
        carriers:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_device_carriers'
        types:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_device_types'
        user_device:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_device_user_device'
        user_os:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_device_user_os'
      type: object
    LookalikeAudience:
      properties:
        id:
          type: string
        name:
          type: string
        similarity:
          type: number
        source_audience_id:
          type: string
      required:
      - id
      type: object
    property_AdsReportMetrics_campaign_targeting_device_user_device:
      items:
        type: string
      type: array
    AccountingProfitlossCategory:
      description: '@deprecated'
      properties:
        amount:
          type: number
        name:
          type: string
        sub_items:
          $ref: '#/components/schemas/property_AccountingProfitlossCategory_sub_items'
      type: object
    property_AdsReportMetrics_campaign_targeting_placement_messenger_positions:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_geographic_cities:
      items:
        $ref: '#/components/schemas/CityTarget'
      type: array
    property_AudienceCombination_behaviors:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AdsReportMetrics_campaign_targeting_content:
      properties:
        excluded_keywords:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_content_excluded_keywords'
        excluded_topics:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_content_excluded_topics'
        excluded_urls:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_content_excluded_urls'
        keywords:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_content_keywords'
        topics:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_content_topics'
        urls:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_content_urls'
        video:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_content_video'
      type: object
    property_AdsReportMetrics_group_targeting_geographic_us_dmas:
      items:
        type: string
      type: array
    property_AdsReportMetrics_campaign_targeting_geographic:
      properties:
        cities:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_geographic_cities'
        countries:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_geographic_countries'
        excluded_cities:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_geographic_excluded_cities'
        excluded_countries:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_geographic_excluded_countries'
        excluded_postal_codes:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_geographic_excluded_postal_codes'
        excluded_regions:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_geographic_excluded_regions'
        excluded_us_dmas:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_geographic_excluded_us_dmas'
        location_types:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_geographic_location_types'
        postal_codes:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_geographic_postal_codes'
        presence_type:
          enum:
          - PRESENCE
          - PRESENCE_OR_INTEREST
          type: string
          x-speakeasy-unknown-values: allow
        regions:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_geographic_regions'
        us_dmas:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_geographic_us_dmas'
      type: object
    AccountingReports:
      items:
        $ref: '#/components/schemas/AccountingReport'
      type: array
    RegionTarget:
      description: states, provinces, regions
      properties:
        id:
          type: string
        name:
          type: string
      required:
      - id
      type: object
    property_AdsReportMetrics_campaign_targeting_geographic_us_dmas:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_geographic_countries:
      items:
        type: string
      type: array
    property_AdsReportMetrics_campaign_targeting_placement_facebook_positions:
      items:
        type: string
      type: array
    property_AdsReportMetrics_campaign:
      properties:
        advertising_channel_type:
          enum:
          - TEXT
          - IMAGE
          - VIDEO
          - RESPONSIVE
          - SHOPPING
          - APP
          - CALL
          - CAROUSEL
          - SOCIAL
          - DISPLAY
          - SEARCH
          - AUDIO
          - YOUTUBE
          type: string
          x-speakeasy-unknown-values: allow
        budget_amount:
          type: number
        budget_period:
          enum:
          - DAILY
          - MONTHLY
          - TOTAL
          - LIFETIME
          type: string
          x-speakeasy-unknown-values: allow
        campaign_budget_identifier:
          type: string
        category:
          type: string
        created_at:
          format: date-time
          type: string
        currency:
          type: string
        end_at:
          format: date-time
          type: string
        frequency_cap:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_frequency_cap'
        goal:
          enum:
          - UNSPECIFIED
          - BRAND_AWARENESS
          - REACH
          - WEBSITE_TRAFFIC
          - LEADS
          - SALES
          - APP_PROMOTION
          type: string
          x-speakeasy-unknown-values: allow
        has_eu_political_ads:
          type: boolean
        id:
          type: string
        name:
          type: string
        organization_id:
          type: string
        planned_spend_amount:
          type: number
        raw:
          additionalProperties: true
          type: object
        start_at:
          format: date-time
          type: string
        status:
          enum:
          - UNSPECIFIED
          - ACTIVE
          - PAUSED
          - ARCHIVED
          - DRAFT
          - SCHEDULED_FOR_DELETION
          type: string
          x-speakeasy-unknown-values: allow
        targeting:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting'
        total_spend_amount:
          type: number
        updated_at:
          format: date-time
          type: string
      type: object
    AdsReport:
      properties:
        created_at:
          format: date-time
          type: string
        currency:
          type: string
        end_at:
          format: date-time
          type: string
        id:
          type: string
        metrics:
          $ref: '#/components/schemas/property_AdsReport_metrics'
        organization_id:
          type: string
        raw:
          additionalProperties: true
          type: object
        start_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    property_AccountingReport_balance_sheet_equity:
      items:
        $ref: '#/components/schemas/AccountingBalancesheetItem'
      type: array
    property_AccountingReport_balance_sheet_liabilities:
      items:
        $ref: '#/components/schemas/AccountingBalancesheetItem'
      type: array
    property_AdsReportMetrics_group_targeting_content_topics:
      items:
        type: string
      type: array
    property_AccountingProfitlossAccount_transaction_ids:
      items:
        type: string
      type: array
    AccountingTrialbalanceSubItem:
      properties:
        account_id:
          type: string
        account_name:
          type: string
        amount:
          type: number
      type: object
    AdsPromoted:
      description: Promoted entity (e.g. page, app, product, tweet) for ads create
      properties:
        id:
          type: string
        name:
          type: string
        raw:
          additionalProperties: true
          type: object
        type:
          enum:
          - PAGE_ID
          - APP_ID
          - STORE_URL
          - PIXEL_ID
          - CUSTOM_CONVERSION_ID
          - CATALOG_ID
          - PRODUCT_SET_ID
          - PRIORITIZED_SET_ID
          - EVENT_ID
          - OFFER_ID
          - LEAD_FORM_ID
          - MESSAGING_CHANNEL_ID
          - PRODUCT_ID
          - TWEET_ID
          - AD_GROUP_TYPE
          type: string
          x-speakeasy-unknown-values: allow
      required:
      - id
      - type
      type: object
    property_AdsReportMetrics_campaign_targeting_content_video_excluded_youtube_channels:
      items:
        type: string
      type: array
    property_AdsReportMetrics_campaign_targeting_geographic_excluded_cities:
      items:
        $ref: '#/components/schemas/CityTarget'
      type: array
    property_AdsReportMetrics_group_targeting_device_types:
      items:
        type: string
      type: array
    AdSchedule:
      properties:
        bid_modifier:
          type: number
        day_of_week:
          enum:
          - MONDAY
          - TUESDAY
          - WEDNESDAY
          - THURSDAY
          - FRIDAY
          - SATURDAY
          - SUNDAY
          type: string
          x-speakeasy-unknown-values: allow
        end_hour:
          type: number
        end_minute:
          type: number
        start_hour:
          type: number
        start_minute:
          type: number
      required:
      - day_of_week
      - start_hour
      - end_hour
      type: object
    property_AccountingReport_profit_and_loss_expenses_sections:
      items:
        $ref: '#/components/schemas/AccountingProfitlossSection'
      type: array
    property_AdsReportMetrics_campaign_targeting_geographic_excluded_us_dmas:
      items:
        type: string
      type: array
    property_AdsReportMetrics_campaign_targeting_content_video_youtube_channels:
      items:
        type: string
      type: array
    property_AdsReportMetrics_campaign_targeting_content_video_youtube_videos:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_placement_facebook_positions:
      items:
        type: string
      type: array
    property_AdsReportMetrics_campaign_targeting_geographic_countries:
      items:
        type: string
      type: array
    property_AdsReportMetrics_campaign_targeting_geographic_excluded_countries:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_content_video_excluded_youtube_videos:
      items:
        type: string
      type: array
    property_AdsReportMetrics_campaign_targeting_placement:
      properties:
        audience_network_positions:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_placement_audience_network_positions'
        facebook_positions:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_placement_facebook_positions'
        instagram_positions:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_placement_instagram_positions'
        messenger_positions:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_placement_messenger_positions'
        platforms:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_placement_platforms'
      type: object
    property_AdsReportMetrics_group_targeting_content_excluded_topics:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_audience_excluded_custom_audiences:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AudienceCombination_life_events:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AdsReportMetrics_campaign_targeting_device_carriers:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_placement_messenger_positions:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_promoted:
      items:
        $ref: '#/components/schemas/AdsPromoted'
      type: array
    property_AdsReportMetrics_group_targeting_brand_safety_publisher_visibility_categories:
      items:
        enum:
        - limited
        - standard
        - expanded
        type: string
        x-speakeasy-unknown-values: allow
      type: array
    property_AdsReportMetrics_group_targeting_content_video_excluded_youtube_channels:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_audience_combination_spec:
      items:
        $ref: '#/components/schemas/AudienceCombination'
      type: array
    property_AdsReportMetrics_group_targeting_content_video_youtube_channels:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_device:
      properties:
        carriers:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_device_carriers'
        types:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_device_types'
        user_device:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_device_user_device'
        user_os:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_device_user_os'
      type: object
    property_AdsReportMetrics_campaign_targeting_content_video:
      properties:
        durations:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_content_video_durations'
        excluded_youtube_channels:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_content_video_excluded_youtube_channels'
        excluded_youtube_videos:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_content_video_excluded_youtube_videos'
        player_sizes:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_content_video_player_sizes'
        positions:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_content_video_positions'
        youtube_channels:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_content_video_youtube_channels'
        youtube_videos:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_content_video_youtube_videos'
      type: object
    property_AccountingBalancesheetItem_sub_items:
      items:
        $ref: '#/components/schemas/AccountingBalancesheetItem'
      type: array
    property_AdsReportMetrics_group_targeting_brand_safety_excluded_publisher_categories:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_geographic_location_types:
      items:
        enum:
        - HOME
        - RECENT
        - TRAVEL
        type: string
        x-speakeasy-unknown-values: allow
      type: array
    property_AdsReportMetrics_group_targeting_language:
      description: Language targeting (Meta
      properties:
        codes:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_language_codes'
        locale_ids:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_language_locale_ids'
      type: object
    property_AdsReportMetrics_campaign_targeting_brand_safety_publisher_visibility_categories:
      items:
        enum:
        - limited
        - standard
        - expanded
        type: string
        x-speakeasy-unknown-values: allow
      type: array
    property_AccountingReport_balance_sheet_assets:
      items:
        $ref: '#/components/schemas/AccountingBalancesheetItem'
      type: array
    property_AccountingProfitlossCategory_sub_items:
      items:
        $ref: '#/components/schemas/AccountingProfitlossSubcategory'
      type: array
    property_AccountingReport_profit_and_loss_income_sections:
      items:
        $ref: '#/components/schemas/AccountingProfitlossSection'
      type: array
    property_AdsReportMetrics_campaign_targeting_audience_custom_audiences:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AdsReportMetrics_group_targeting_content_keywords:
      items:
        $ref: '#/components/schemas/AdsKeyword'
      type: array
    property_AdsReportMetrics_group_targeting_placement_platforms:
      items:
        type: string
      type: array
    property_AccountingReport_trial_balance:
      properties:
        created_at:
          format: date-time
          type: string
        currency:
          type: string
        end_at:
          format: date-time
          type: string
        id:
          type: string
        name:
          type: string
        raw:
          additionalProperties: true
          type: object
        start_at:
          format: date-time
          type: string
        sub_items:
          $ref: '#/components/schemas/property_AccountingReport_trial_balance_sub_items'
        total_credit_amount:
          type: number
        total_debit_amount:
          type: number
        updated_at:
          format: date-time
          type: string
      type: object
    property_AdsReportMetrics_ad_creative_ids:
      items:
        type: string
      type: array
    property_AccountingReport_profit_and_loss:
      properties:
        category_ids:
          $ref: '#/components/schemas/property_AccountingReport_profit_and_loss_category_ids'
        cost_of_goods_sold:
          $ref: '#/components/schemas/property_AccountingReport_profit_and_loss_cost_of_goods_sold'
        cost_of_goods_sold_sections:
          $ref: '#/components/schemas/property_AccountingReport_profit_and_loss_cost_of_goods_sold_sections'
        cost_of_goods_sold_total_amount:
          type: number
        created_at:
          format: date-time
          type: string
        currency:
          type: string
        end_at:
          format: date-time
          type: string
        expenses:
          $ref: '#/components/schemas/property_AccountingReport_profit_and_loss_expenses'
        expenses_sections:
          $ref: '#/components/schemas/property_AccountingReport_profit_and_loss_expenses_sections'
        expenses_total_amount:
          type: number
        gross_profit_amount:
          type: number
        id:
          type: string
        income:
          $ref: '#/components/schemas/property_AccountingReport_profit_and_loss_income'
        income_sections:
          $ref: '#/components/schemas/property_AccountingReport_profit_and_loss_income_sections'
        income_total_amount:
          type: number
        name:
          type: string
        net_income_amount:
          type: number
        net_profit_amount:
          type: number
        raw:
          additionalProperties: true
          type: object
        start_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    property_AdsReportMetrics_group_targeting_content_video:
      properties:
        durations:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_content_video_durations'
        excluded_youtube_channels:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_content_video_excluded_youtube_channels'
        excluded_youtube_videos:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_content_video_excluded_youtube_videos'
        player_sizes:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_content_video_player_sizes'
        positions:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_content_video_positions'
        youtube_channels:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_content_video_youtube_channels'
        youtube_videos:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_content_video_youtube_videos'
      type: object
    property_AdsReportMetrics_campaign_targeting_content_excluded_keywords:
      items:
        $ref: '#/components/schemas/AdsKeyword'
      type: array
    property_AdsReportMetrics_campaign_targeting_content_urls:
      items:
        type: string
      type: array
    property_AdsReportMetrics_campaign_targeting_content_excluded_urls:
      items:
        type: string
      type: array
    property_AudienceCombination_demographics:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    MarketingReport:
      properties:
        abuse_reports:
          type: number
        campaign_id:
          type: string
        click_rate:
          type: number
        clicks_total:
          type: number
        emails_sent:
          type: number
        end_at:
          format: date-time
          type: string
        forwards_count:
          type: number
        forwards_opens:
          type: number
        hard_bounces:
          type: number
        id:
          type: string
        last_click_at:
          format: date-time
          type: string
        last_open_at:
          format: date-time
          type: string
        links:
          $ref: '#/components/schemas/property_MarketingReport_links'
        list_id:
          type: string
        open_rate:
          type: number
        opens_total:
          type: number
        raw:
          additionalProperties: true
          type: object
        sent_at:
          format: date-time
          type: string
        soft_bounces:
          type: number
        start_at:
          format: date-time
          type: string
        syntax_errors:
          type: number
        unique_clicks:
          type: number
        unique_opens:
          type: number
        unique_subscriber_clicks:
          type: number
        unsubscribed:
          type: number
      type: object
    property_AdsReportMetrics_campaign_targeting_geographic_excluded_regions:
      items:
        $ref: '#/components/schemas/RegionTarget'
      type: array
    property_AdsReportMetrics_campaign_targeting_placement_instagram_positions:
      items:
        type: string
      type: array
    property_AdsReportMetrics_campaign_frequency_cap:
      properties:
        is_unlimited:
          type: boolean
        max_impressions:
          type: number
        max_views:
          type: number
        time_unit:
          enum:
          - UNSPECIFIED
          - LIFETIME
          - MONTHS
          - WEEKS
          - DAYS
          - HOURS
          - MINUTES
          type: string
          x-speakeasy-unknown-values: allow
        time_unit_count:
          type: number
      type: object
    property_AdsReportMetrics_group_targeting_device_user_device:
      items:
        type: string
      type: array
    property_AccountingReport_profit_and_loss_cost_of_goods_sold_sections:
      items:
        $ref: '#/components/schemas/AccountingProfitlossSection'
      type: array
    property_AdsReportMetrics_group_targeting_audience_interests:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AdsReportMetrics_group_pacing:
      properties:
        daily_max_amount:
          type: number
        daily_max_impressions:
          type: number
        period:
          enum:
          - UNSPECIFIED
          - DAILY
          - FLIGHT
          type: string
          x-speakeasy-unknown-values: allow
        type:
          type: string
      type: object
    property_AdsReportMetrics_group_targeting_content_video_youtube_videos:
      items:
        type: string
      type: array
    property_AdsReportMetrics_campaign_targeting_placement_platforms:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting:
      properties:
        audience:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_audience'
        brand_safety:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_brand_safety'
        content:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_content'
        demographic:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_demographic'
        device:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_device'
        geographic:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_geographic'
        language:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_language'
        optimization:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_optimization'
        placement:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_placement'
        schedule:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_schedule'
      type: object
    property_AdsReportMetrics_campaign_targeting_geographic_cities:
      items:
        $ref: '#/components/schemas/CityTarget'
      type: array
    property_AdsReportMetrics_campaign_targeting_content_topics:
      items:
        type: string
      type: array
    MarketingReports:
      items:
        $ref: '#/components/schemas/MarketingReport'
      type: array
    property_AdsReportMetrics_group_targeting_audience_custom_audiences:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AdsReportMetrics_ad_promoted:
      items:
        $ref: '#/components/schemas/AdsPromoted'
      type: array
    property_AdsReportMetrics_campaign_targeting_geographic_excluded_postal_codes:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_content_urls:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_placement:
      properties:
        audience_network_positions:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_placement_audience_network_positions'
        facebook_positions:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_placement_facebook_positions'
        instagram_positions:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_placement_instagram_positions'
        messenger_positions:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_placement_messenger_positions'
        platforms:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_placement_platforms'
      type: object
    property_AdsReportMetrics_campaign_targeting:
      properties:
        audience:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_audience'
        brand_safety:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_brand_safety'
        content:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_content'
        demographic:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_demographic'
        device:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_device'
        geographic:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_geographic'
        language:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_language'
        optimization:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_optimization'
        placement:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_placement'
        schedule:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_schedule'
      type: object
    property_AdsReportMetrics_campaign_targeting_content_video_durations:
      items:
        enum:
        - SHORT
        - MEDIUM
        - LONG
        type: string
        x-speakeasy-unknown-values: allow
      type: array
    property_AdsReportMetrics_group_targeting_language_codes:
      items:
        type: string
      type: array
    property_AdsReportMetrics_campaign_targeting_brand_safety_excluded_publisher_categories:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_brand_safety:
      description: 'Brand safety (Meta: excluded_publisher_categories, etc.; Google'
      properties:
        block_list_ids:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_brand_safety_block_list_ids'
        brand_safety_content_filter_levels:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_brand_safety_brand_safety_content_filter_levels'
        excluded_content_labels:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_brand_safety_excluded_content_labels'
        excluded_publisher_categories:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_brand_safety_excluded_publisher_categories'
        publisher_visibility_categories:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_brand_safety_publisher_visibility_categories'
      type: object
    property_AdsReportMetrics_campaign_targeting_audience:
      properties:
        behaviors:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_audience_behaviors'
        combination_spec:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_audience_combination_spec'
        custom_audiences:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_audience_custom_audiences'
        excluded_behaviors:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_audience_excluded_behaviors'
        excluded_custom_audiences:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_audience_excluded_custom_audiences'
        excluded_interests:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_audience_excluded_interests'
        interests:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_audience_interests'
        lookalike_audiences:
          $ref: '#/components/schemas/property_AdsReportMetrics_campaign_targeting_audience_lookalike_audiences'
      type: object
    property_AdsReportMetrics_campaign_targeting_audience_excluded_custom_audiences:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    AccountingProfitlossSection:
      properties:
        accounts:
          $ref: '#/components/schemas/property_AccountingProfitlossSection_accounts'
        section_name:
          type: string
        section_type:
          type: string
        total_amount:
          type: number
      type: object
    property_AdsReportMetrics_campaign_targeting_brand_safety_excluded_content_labels:
      description: Google Ads ContentLabelType
      items:
        type: string
      type: array
    property_AdsReportMetrics_campaign_targeting_audience_excluded_behaviors:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AdsReportMetrics_group_targeting_brand_safety_excluded_content_labels:
      description: Google Ads ContentLabelType
      items:
        type: string
      type: array
    MarketingReportLink:
      properties:
        click_percentage:
          type: number
        last_click_at:
          format: date-time
          type: string
        total_clicks:
          type: number
        unique_click_percentage:
          type: number
        unique_clicks:
          type: number
        url:
          type: string
      type: object
    property_AdsReportMetrics_group_targeting_device_user_os:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_geographic_regions:
      items:
        $ref: '#/components/schemas/RegionTarget'
      type: array
    AdsKeyword:
      description: Content targeting (keywords, topics, placements, video)
      properties:
        match_type:
          enum:
          - BROAD
          - PHRASE
          - EXACT
          type: string
          x-speakeasy-unknown-values: allow
        text:
          type: string
      required:
      - text
      type: object
    property_AdsReportMetrics_group_targeting_geographic_postal_codes:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_placement_instagram_positions:
      items:
        type: string
      type: array
    property_AccountingProfitlossSubcategory_transaction_ids:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_geographic:
      properties:
        cities:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_geographic_cities'
        countries:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_geographic_countries'
        excluded_cities:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_geographic_excluded_cities'
        excluded_countries:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_geographic_excluded_countries'
        excluded_postal_codes:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_geographic_excluded_postal_codes'
        excluded_regions:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_geographic_excluded_regions'
        excluded_us_dmas:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_geographic_excluded_us_dmas'
        location_types:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_geographic_location_types'
        postal_codes:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_geographic_postal_codes'
        presence_type:
          enum:
          - PRESENCE
          - PRESENCE_OR_INTEREST
          type: string
          x-speakeasy-unknown-values: allow
        regions:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_geographic_regions'
        us_dmas:
          $ref: '#/components/schemas/property_AdsReportMetrics_group_targeting_geographic_us_dmas'
      type: object
    property_AdsReportMetrics_group_targeting_language_locale_ids:
      items:
        type: number
      type: array
    property_AdsReportMetrics_campaign_targeting_schedule:
      items:
        $ref: '#/components/schemas/AdSchedule'
      type: array
    property_AdsReportMetrics_campaign_targeting_content_video_excluded_youtube_videos:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_geographic_excluded_us_dmas:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_targeting_audience_excluded_interests:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
    property_AdsReportMetrics_group_targeting_content_excluded_urls:
      items:
        type: string
      type: array
    property_AdsReportMetrics_group_creative_ids:
      items:
        type: string
      type: array
    property_AdsReportMetrics_campaign_targeting_brand_safety_block_list_ids:
      items:
        type: string
      type: array
    property_AdsReportMetrics_campaign_targeting_audience_behaviors:
      items:
        $ref: '#/components/schemas/AudienceSegment'
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
