openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account instructor API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: instructor
paths:
  /lms/{connection_id}/instructor:
    get:
      operationId: listLmsInstructors
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The class ID to filter by (reference to LmsClass)
        in: query
        name: class_id
        required: false
        schema:
          type: string
      - description: The course ID to filter by (reference to Course)
        in: query
        name: course_id
        required: false
        schema:
          type: string
      - description: The company ID to filter by (reference to HrisCompany)
        in: query
        name: company_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - title
            - telephones
            - image_url
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LmsInstructors'
          description: Successful
      security:
      - jwt: []
      summary: List All Instructors
      tags:
      - instructor
    post:
      operationId: createLmsInstructor
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - title
            - telephones
            - image_url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LmsInstructor'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LmsInstructor'
          description: Successful
      security:
      - jwt: []
      summary: Create an Instructor
      tags:
      - instructor
  /lms/{connection_id}/instructor/{id}:
    delete:
      operationId: removeLmsInstructor
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Instructor
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove an Instructor
      tags:
      - instructor
    get:
      operationId: getLmsInstructor
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - title
            - telephones
            - image_url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Instructor
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LmsInstructor'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve an Instructor
      tags:
      - instructor
    patch:
      operationId: patchLmsInstructor
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - title
            - telephones
            - image_url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Instructor
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LmsInstructor'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LmsInstructor'
          description: Successful
      security:
      - jwt: []
      summary: Update an Instructor
      tags:
      - instructor
    put:
      operationId: updateLmsInstructor
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - title
            - telephones
            - image_url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Instructor
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LmsInstructor'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LmsInstructor'
          description: Successful
      security:
      - jwt: []
      summary: Update an Instructor
      tags:
      - instructor
components:
  schemas:
    LmsTelephone:
      properties:
        telephone:
          type: string
        type:
          enum:
          - WORK
          - HOME
          - OTHER
          - FAX
          - MOBILE
          type: string
          x-speakeasy-unknown-values: allow
      required:
      - telephone
      type: object
    property_LmsInstructor_emails:
      items:
        $ref: '#/components/schemas/LmsEmail'
      type: array
    LmsInstructor:
      properties:
        created_at:
          format: date-time
          type: string
        emails:
          $ref: '#/components/schemas/property_LmsInstructor_emails'
        first_name:
          type: string
        id:
          type: string
        image_url:
          type: string
        last_name:
          type: string
        name:
          type: string
        raw:
          additionalProperties: true
          type: object
        telephones:
          $ref: '#/components/schemas/property_LmsInstructor_telephones'
        title:
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    LmsEmail:
      properties: {}
      type: object
    property_LmsInstructor_telephones:
      items:
        $ref: '#/components/schemas/LmsTelephone'
      type: array
    LmsInstructors:
      items:
        $ref: '#/components/schemas/LmsInstructor'
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
