openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account call API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: call
paths:
  /uc/{connection_id}/call:
    get:
      operationId: listUcCalls
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The user/employee ID to filter by (reference to HrisEmployee)
        in: query
        name: user_id
        required: false
        schema:
          type: string
      - description: The contact ID to filter by (reference to UcContact)
        in: query
        name: contact_id
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - contact_id
            - telephone
            - start_at
            - end_at
            - user_id
            - contacts
            - is_private
            - user_name
            - user_phone
            - type
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UcCalls'
          description: Successful
      security:
      - jwt: []
      summary: List All Calls
      tags:
      - call
  /uc/{connection_id}/call/{id}:
    get:
      operationId: getUcCall
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - contact_id
            - telephone
            - start_at
            - end_at
            - user_id
            - contacts
            - is_private
            - user_name
            - user_phone
            - type
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Call
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UcCall'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Call
      tags:
      - call
components:
  schemas:
    property_UcCall_contacts:
      items:
        $ref: '#/components/schemas/UcContact'
      type: array
    property_UcContact_telephones:
      description: An array of telephones for this contact
      items:
        $ref: '#/components/schemas/UcTelephone'
      type: array
    UcCall:
      properties:
        contact_id:
          type: string
        contacts:
          $ref: '#/components/schemas/property_UcCall_contacts'
        created_at:
          format: date-time
          type: string
        end_at:
          format: date-time
          type: string
        id:
          type: string
        is_private:
          type: boolean
        raw:
          additionalProperties: true
          type: object
        start_at:
          format: date-time
          type: string
        telephone:
          $ref: '#/components/schemas/property_UcCall_telephone'
        type:
          enum:
          - INBOUND
          - OUTBOUND
          type: string
          x-speakeasy-unknown-values: allow
        updated_at:
          format: date-time
          type: string
        user_id:
          type: string
        user_name:
          type: string
        user_phone:
          type: string
      type: object
    UcEmail:
      properties:
        email:
          type: string
        type:
          enum:
          - WORK
          - HOME
          - OTHER
          type: string
          x-speakeasy-unknown-values: allow
      required:
      - email
      type: object
    property_UcCall_telephone:
      description: The telephone number called
      properties:
        telephone:
          type: string
        type:
          enum:
          - WORK
          - HOME
          - OTHER
          - FAX
          - MOBILE
          type: string
          x-speakeasy-unknown-values: allow
      required:
      - telephone
      type: object
    UcTelephone:
      properties:
        telephone:
          type: string
        type:
          enum:
          - WORK
          - HOME
          - OTHER
          - FAX
          - MOBILE
          type: string
          x-speakeasy-unknown-values: allow
      required:
      - telephone
      type: object
    UcCalls:
      items:
        $ref: '#/components/schemas/UcCall'
      type: array
    UcContact:
      description: A contact represents a person that optionally is associated with a call
      properties:
        company:
          type: string
        created_at:
          format: date-time
          type: string
        emails:
          $ref: '#/components/schemas/property_UcContact_emails'
        first_name:
          type: string
        id:
          type: string
        last_name:
          type: string
        name:
          type: string
        raw:
          additionalProperties: true
          type: object
        telephones:
          $ref: '#/components/schemas/property_UcContact_telephones'
        title:
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    property_UcContact_emails:
      description: An array of email addresses for this contact
      items:
        $ref: '#/components/schemas/UcEmail'
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
