openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account accounting API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: accounting
paths:
  /accounting/{connection_id}/account:
    get:
      operationId: listAccountingAccounts
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AccountingOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - description: The type to filter by
        in: query
        name: type
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - type
            - status
            - balance
            - currency
            - customer_defined_code
            - is_payable
            - section
            - subsection
            - group
            - subgroup
            - parent_id
            - taxonomy
            - organization_id
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingAccounts'
          description: Successful
      security:
      - jwt: []
      summary: List all accounts
      tags:
      - accounting
    post:
      operationId: createAccountingAccount
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - type
            - status
            - balance
            - currency
            - customer_defined_code
            - is_payable
            - section
            - subsection
            - group
            - subgroup
            - parent_id
            - taxonomy
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingAccount'
        description: Chart of accounts
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingAccount'
          description: Successful
      security:
      - jwt: []
      summary: Create an account
      tags:
      - accounting
  /accounting/{connection_id}/account/{id}:
    delete:
      operationId: removeAccountingAccount
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Account
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove an account
      tags:
      - accounting
    get:
      operationId: getAccountingAccount
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - type
            - status
            - balance
            - currency
            - customer_defined_code
            - is_payable
            - section
            - subsection
            - group
            - subgroup
            - parent_id
            - taxonomy
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Account
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingAccount'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve an account
      tags:
      - accounting
    patch:
      operationId: patchAccountingAccount
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - type
            - status
            - balance
            - currency
            - customer_defined_code
            - is_payable
            - section
            - subsection
            - group
            - subgroup
            - parent_id
            - taxonomy
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Account
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingAccount'
        description: Chart of accounts
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingAccount'
          description: Successful
      security:
      - jwt: []
      summary: Update an account
      tags:
      - accounting
    put:
      operationId: updateAccountingAccount
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - type
            - status
            - balance
            - currency
            - customer_defined_code
            - is_payable
            - section
            - subsection
            - group
            - subgroup
            - parent_id
            - taxonomy
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Account
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingAccount'
        description: Chart of accounts
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingAccount'
          description: Successful
      security:
      - jwt: []
      summary: Update an account
      tags:
      - accounting
  /accounting/{connection_id}/balancesheet:
    get:
      operationId: listAccountingBalancesheets
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: The category ID to filter by (reference to AccountingCategory)
        in: query
        name: category_id
        required: false
        schema:
          type: string
      - description: The contact ID to filter by (reference to AccountingContact)
        in: query
        name: contact_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - start_at
            - end_at
            - name
            - currency
            - net_assets_amount
            - assets
            - liabilities
            - equity
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBalancesheets'
          description: Successful
      security:
      - jwt: []
      summary: List all balancesheets
      tags:
      - accounting
  /accounting/{connection_id}/balancesheet/{id}:
    get:
      operationId: getAccountingBalancesheet
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - start_at
            - end_at
            - name
            - currency
            - net_assets_amount
            - assets
            - liabilities
            - equity
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Balancesheet
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBalancesheet'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a balancesheet
      tags:
      - accounting
  /accounting/{connection_id}/bill:
    get:
      operationId: listAccountingBills
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The contact ID to filter by (reference to AccountingContact)
        in: query
        name: contact_id
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AccountingOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - bill_number
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - contact_id
            - currency
            - notes
            - refund_reason
            - lineitems
            - status
            - url
            - payment_collection_method
            - attachments
            - send
            - organization_id
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBills'
          description: Successful
      security:
      - jwt: []
      summary: List all bills
      tags:
      - accounting
    post:
      operationId: createAccountingBill
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - bill_number
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - contact_id
            - currency
            - notes
            - refund_reason
            - lineitems
            - status
            - url
            - payment_collection_method
            - attachments
            - send
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingBill'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBill'
          description: Successful
      security:
      - jwt: []
      summary: Create a bill
      tags:
      - accounting
  /accounting/{connection_id}/bill/{id}:
    delete:
      operationId: removeAccountingBill
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Bill
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a bill
      tags:
      - accounting
    get:
      operationId: getAccountingBill
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - bill_number
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - contact_id
            - currency
            - notes
            - refund_reason
            - lineitems
            - status
            - url
            - payment_collection_method
            - attachments
            - send
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Bill
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBill'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a bill
      tags:
      - accounting
    patch:
      operationId: patchAccountingBill
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - bill_number
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - contact_id
            - currency
            - notes
            - refund_reason
            - lineitems
            - status
            - url
            - payment_collection_method
            - attachments
            - send
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Bill
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingBill'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBill'
          description: Successful
      security:
      - jwt: []
      summary: Update a bill
      tags:
      - accounting
    put:
      operationId: updateAccountingBill
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - bill_number
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - contact_id
            - currency
            - notes
            - refund_reason
            - lineitems
            - status
            - url
            - payment_collection_method
            - attachments
            - send
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Bill
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingBill'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBill'
          description: Successful
      security:
      - jwt: []
      summary: Update a bill
      tags:
      - accounting
  /accounting/{connection_id}/cashflow:
    get:
      operationId: listAccountingCashflows
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: The contact ID to filter by (reference to AccountingContact)
        in: query
        name: contact_id
        required: false
        schema:
          type: string
      - description: The category ID to filter by (reference to AccountingCategory)
        in: query
        name: category_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - start_at
            - end_at
            - category_ids
            - contact_id
            - name
            - currency
            - cash_beginning_amount
            - cash_ending_amount
            - net_change_in_cash_amount
            - operating_sections
            - investing_sections
            - financing_sections
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCashflows'
          description: Successful
      security:
      - jwt: []
      summary: List all cashflows
      tags:
      - accounting
  /accounting/{connection_id}/cashflow/{id}:
    get:
      operationId: getAccountingCashflow
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - start_at
            - end_at
            - category_ids
            - contact_id
            - name
            - currency
            - cash_beginning_amount
            - cash_ending_amount
            - net_change_in_cash_amount
            - operating_sections
            - investing_sections
            - financing_sections
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Cashflow
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCashflow'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a cashflow
      tags:
      - accounting
  /accounting/{connection_id}/category:
    get:
      operationId: listAccountingCategories
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The parent ID to filter by
        in: query
        name: parent_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - is_active
            - parent_id
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCategories'
          description: Successful
      security:
      - jwt: []
      summary: List all categories
      tags:
      - accounting
    post:
      operationId: createAccountingCategory
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - is_active
            - parent_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingCategory'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCategory'
          description: Successful
      security:
      - jwt: []
      summary: Create a category
      tags:
      - accounting
  /accounting/{connection_id}/category/{id}:
    delete:
      operationId: removeAccountingCategory
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Category
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a category
      tags:
      - accounting
    get:
      operationId: getAccountingCategory
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - is_active
            - parent_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Category
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCategory'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a category
      tags:
      - accounting
    patch:
      operationId: patchAccountingCategory
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - is_active
            - parent_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Category
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingCategory'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCategory'
          description: Successful
      security:
      - jwt: []
      summary: Update a category
      tags:
      - accounting
    put:
      operationId: updateAccountingCategory
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - is_active
            - parent_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Category
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingCategory'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCategory'
          description: Successful
      security:
      - jwt: []
      summary: Update a category
      tags:
      - accounting
  /accounting/{connection_id}/contact:
    get:
      operationId: listAccountingContacts
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - in: query
        name: type
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AccountingOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - telephones
            - currency
            - billing_address
            - shipping_address
            - is_active
            - tax_exemption
            - tax_number
            - is_customer
            - is_supplier
            - portal_url
            - payment_methods
            - company_name
            - identification
            - associated_contacts
            - organization_id
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingContacts'
          description: Successful
      security:
      - jwt: []
      summary: List all contacts
      tags:
      - accounting
    post:
      operationId: createAccountingContact
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - telephones
            - currency
            - billing_address
            - shipping_address
            - is_active
            - tax_exemption
            - tax_number
            - is_customer
            - is_supplier
            - portal_url
            - payment_methods
            - company_name
            - identification
            - associated_contacts
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingContact'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingContact'
          description: Successful
      security:
      - jwt: []
      summary: Create a contact
      tags:
      - accounting
  /accounting/{connection_id}/contact/{id}:
    delete:
      operationId: removeAccountingContact
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Contact
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a contact
      tags:
      - accounting
    get:
      operationId: getAccountingContact
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - telephones
            - currency
            - billing_address
            - shipping_address
            - is_active
            - tax_exemption
            - tax_number
            - is_customer
            - is_supplier
            - portal_url
            - payment_methods
            - company_name
            - identification
            - associated_contacts
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Contact
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingContact'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a contact
      tags:
      - accounting
    patch:
      operationId: patchAccountingContact
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - telephones
            - currency
            - billing_address
            - shipping_address
            - is_active
            - tax_exemption
            - tax_number
            - is_customer
            - is_supplier
            - portal_url
            - payment_methods
            - company_name
            - identification
            - associated_contacts
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Contact
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingContact'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingContact'
          description: Successful
      security:
      - jwt: []
      summary: Update a contact
      tags:
      - accounting
    put:
      operationId: updateAccountingContact
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - telephones
            - currency
            - billing_address
            - shipping_address
            - is_active
            - tax_exemption
            - tax_number
            - is_customer
            - is_supplier
            - portal_url
            - payment_methods
            - company_name
            - identification
            - associated_contacts
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Contact
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingContact'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingContact'
          description: Successful
      security:
      - jwt: []
      summary: Update a contact
      tags:
      - accounting
  /accounting/{connection_id}/creditmemo:
    get:
      operationId: listAccountingCreditmemoes
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The contact ID to filter by (reference to AccountingContact)
        in: query
        name: contact_id
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AccountingOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - creditmemo_number
            - contact_id
            - currency
            - notes
            - refund_reason
            - organization_id
            - lineitems
            - status
            - url
            - payment_collection_method
            - attachments
            - send
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCreditmemoes'
          description: Successful
      security:
      - jwt: []
      summary: List all creditmemoes
      tags:
      - accounting
    post:
      operationId: createAccountingCreditmemo
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - creditmemo_number
            - contact_id
            - currency
            - notes
            - refund_reason
            - organization_id
            - lineitems
            - status
            - url
            - payment_collection_method
            - attachments
            - send
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingCreditmemo'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCreditmemo'
          description: Successful
      security:
      - jwt: []
      summary: Create a creditmemo
      tags:
      - accounting
  /accounting/{connection_id}/creditmemo/{id}:
    delete:
      operationId: removeAccountingCreditmemo
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Creditmemo
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a creditmemo
      tags:
      - accounting
    get:
      operationId: getAccountingCreditmemo
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - creditmemo_number
            - contact_id
            - currency
            - notes
            - refund_reason
            - organization_id
            - lineitems
            - status
            - url
            - payment_collection_method
            - attachments
            - send
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Creditmemo
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCreditmemo'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a creditmemo
      tags:
      - accounting
    patch:
      operationId: patchAccountingCreditmemo
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - creditmemo_number
            - contact_id
            - currency
            - notes
            - refund_reason
            - organization_id
            - lineitems
            - status
            - url
            - payment_collection_method
            - attachments
            - send
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Creditmemo
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingCreditmemo'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCreditmemo'
          description: Successful
      security:
      - jwt: []
      summary: Update a creditmemo
      tags:
      - accounting
    put:
      operationId: updateAccountingCreditmemo
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - creditmemo_number
            - contact_id
            - currency
            - notes
            - refund_reason
            - organization_id
            - lineitems
            - status
            - url
            - payment_collection_method
            - attachments
            - send
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Creditmemo
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingCreditmemo'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingCreditmemo'
          description: Successful
      security:
      - jwt: []
      summary: Update a creditmemo
      tags:
      - accounting
  /accounting/{connection_id}/expense:
    get:
      operationId: listAccountingExpenses
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The user/employee ID to filter by (reference to HrisEmployee)
        in: query
        name: user_id
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: The contact ID to filter by (reference to AccountingContact)
        in: query
        name: contact_id
        required: false
        schema:
          type: string
      - description: The category ID to filter by (reference to AccountingCategory)
        in: query
        name: category_id
        required: false
        schema:
          type: string
      - description: The group ID to filter by (reference to HrisGroup)
        in: query
        name: group_id
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AccountingOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - user_id
            - contact_id
            - account_id
            - name
            - payment_method
            - posted_at
            - total_amount
            - currency
            - tax_amount
            - reimbursed_amount
            - reimbursed_at
            - approved_at
            - approver_user_id
            - lineitems
            - raw
            - organization_id
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingExpenses'
          description: Successful
      security:
      - jwt: []
      summary: List all expenses
      tags:
      - accounting
    post:
      operationId: createAccountingExpense
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - user_id
            - contact_id
            - account_id
            - name
            - payment_method
            - posted_at
            - total_amount
            - currency
            - tax_amount
            - reimbursed_amount
            - reimbursed_at
            - approved_at
            - approver_user_id
            - lineitems
            - raw
            - organization_id
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingExpense'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingExpense'
          description: Successful
      security:
      - jwt: []
      summary: Create an expense
      tags:
      - accounting
  /accounting/{connection_id}/expense/{id}:
    delete:
      operationId: removeAccountingExpense
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Expense
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove an expense
      tags:
      - accounting
    get:
      operationId: getAccountingExpense
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - user_id
            - contact_id
            - account_id
            - name
            - payment_method
            - posted_at
            - total_amount
            - currency
            - tax_amount
            - reimbursed_amount
            - reimbursed_at
            - approved_at
            - approver_user_id
            - lineitems
            - raw
            - organization_id
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Expense
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingExpense'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve an expense
      tags:
      - accounting
    patch:
      operationId: patchAccountingExpense
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - user_id
            - contact_id
            - account_id
            - name
            - payment_method
            - posted_at
            - total_amount
            - currency
            - tax_amount
            - reimbursed_amount
            - reimbursed_at
            - approved_at
            - approver_user_id
            - lineitems
            - raw
            - organization_id
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Expense
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingExpense'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingExpense'
          description: Successful
      security:
      - jwt: []
      summary: Update an expense
      tags:
      - accounting
    put:
      operationId: updateAccountingExpense
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - user_id
            - contact_id
            - account_id
            - name
            - payment_method
            - posted_at
            - total_amount
            - currency
            - tax_amount
            - reimbursed_amount
            - reimbursed_at
            - approved_at
            - approver_user_id
            - lineitems
            - raw
            - organization_id
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Expense
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingExpense'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingExpense'
          description: Successful
      security:
      - jwt: []
      summary: Update an expense
      tags:
      - accounting
  /accounting/{connection_id}/invoice:
    get:
      operationId: listAccountingInvoices
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The contact ID to filter by (reference to AccountingContact)
        in: query
        name: contact_id
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AccountingOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - in: query
        name: type
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - invoice_number
            - reference
            - contact_id
            - currency
            - notes
            - refund_reason
            - lineitems
            - status
            - url
            - payment_collection_method
            - type
            - attachments
            - send
            - organization_id
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingInvoices'
          description: Successful
      security:
      - jwt: []
      summary: List all invoices
      tags:
      - accounting
    post:
      operationId: createAccountingInvoice
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - invoice_number
            - reference
            - contact_id
            - currency
            - notes
            - refund_reason
            - lineitems
            - status
            - url
            - payment_collection_method
            - type
            - attachments
            - send
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingInvoice'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingInvoice'
          description: Successful
      security:
      - jwt: []
      summary: Create an invoice
      tags:
      - accounting
  /accounting/{connection_id}/invoice/{id}:
    delete:
      operationId: removeAccountingInvoice
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Invoice
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove an invoice
      tags:
      - accounting
    get:
      operationId: getAccountingInvoice
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - invoice_number
            - reference
            - contact_id
            - currency
            - notes
            - refund_reason
            - lineitems
            - status
            - url
            - payment_collection_method
            - type
            - attachments
            - send
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Invoice
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingInvoice'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve an invoice
      tags:
      - accounting
    patch:
      operationId: patchAccountingInvoice
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - invoice_number
            - reference
            - contact_id
            - currency
            - notes
            - refund_reason
            - lineitems
            - status
            - url
            - payment_collection_method
            - type
            - attachments
            - send
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Invoice
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingInvoice'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingInvoice'
          description: Successful
      security:
      - jwt: []
      summary: Update an invoice
      tags:
      - accounting
    put:
      operationId: updateAccountingInvoice
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - invoice_number
            - reference
            - contact_id
            - currency
            - notes
            - refund_reason
            - lineitems
            - status
            - url
            - payment_collection_method
            - type
            - attachments
            - send
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Invoice
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingInvoice'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingInvoice'
          description: Successful
      security:
      - jwt: []
      summary: Update an invoice
      tags:
      - accounting
  /accounting/{connection_id}/journal:
    get:
      operationId: listAccountingJournals
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AccountingOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - description: The account ID to filter by (reference to AccountingAccount)
        in: query
        name: account_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - reference
            - tax_amount
            - currency
            - lineitems
            - taxrate_id
            - description
            - posted_at
            - source
            - organization_id
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingJournals'
          description: Successful
      security:
      - jwt: []
      summary: List all journals
      tags:
      - accounting
    post:
      operationId: createAccountingJournal
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - reference
            - tax_amount
            - currency
            - lineitems
            - taxrate_id
            - description
            - posted_at
            - source
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingJournal'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingJournal'
          description: Successful
      security:
      - jwt: []
      summary: Create a journal
      tags:
      - accounting
  /accounting/{connection_id}/journal/{id}:
    delete:
      operationId: removeAccountingJournal
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Journal
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a journal
      tags:
      - accounting
    get:
      operationId: getAccountingJournal
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - reference
            - tax_amount
            - currency
            - lineitems
            - taxrate_id
            - description
            - posted_at
            - source
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Journal
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingJournal'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a journal
      tags:
      - accounting
    patch:
      operationId: patchAccountingJournal
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - reference
            - tax_amount
            - currency
            - lineitems
            - taxrate_id
            - description
            - posted_at
            - source
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Journal
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingJournal'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingJournal'
          description: Successful
      security:
      - jwt: []
      summary: Update a journal
      tags:
      - accounting
    put:
      operationId: updateAccountingJournal
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - reference
            - tax_amount
            - currency
            - lineitems
            - taxrate_id
            - description
            - posted_at
            - source
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Journal
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingJournal'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingJournal'
          description: Successful
      security:
      - jwt: []
      summary: Update a journal
      tags:
      - accounting
  /accounting/{connection_id}/order:
    get:
      operationId: listAccountingOrders
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The contact ID to filter by (reference to AccountingContact)
        in: query
        name: contact_id
        required: false
        schema:
          type: string
      - in: query
        name: type
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AccountingOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - posted_at
            - contact_id
            - account_id
            - type
            - currency
            - total_amount
            - shipping_address
            - billing_address
            - status
            - lineitems
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingOrders'
          description: Successful
      security:
      - jwt: []
      summary: List all orders
      tags:
      - accounting
    post:
      operationId: createAccountingOrder
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - posted_at
            - contact_id
            - account_id
            - type
            - currency
            - total_amount
            - shipping_address
            - billing_address
            - status
            - lineitems
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingOrder'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingOrder'
          description: Successful
      security:
      - jwt: []
      summary: Create an order
      tags:
      - accounting
  /accounting/{connection_id}/order/{id}:
    delete:
      operationId: removeAccountingOrder
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Order
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove an order
      tags:
      - accounting
    get:
      operationId: getAccountingOrder
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - posted_at
            - contact_id
            - account_id
            - type
            - currency
            - total_amount
            - shipping_address
            - billing_address
            - status
            - lineitems
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
[...]
