openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account benefit API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: benefit
paths:
  /hris/{connection_id}/benefit:
    get:
      operationId: listHrisBenefits
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The company ID to filter by (reference to HrisCompany)
        in: query
        name: company_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - company_id
            - type
            - tax
            - frequency
            - is_active
            - employer_contribution_type
            - employer_contribution_amount
            - employer_contribution_max_amount
            - coverage_level
            - currency
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HrisBenefits'
          description: Successful
      security:
      - jwt: []
      summary: List All Benefits
      tags:
      - benefit
    post:
      operationId: createHrisBenefit
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - company_id
            - type
            - tax
            - frequency
            - is_active
            - employer_contribution_type
            - employer_contribution_amount
            - employer_contribution_max_amount
            - coverage_level
            - currency
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HrisBenefit'
        description: Company-wide benefit plans available to employees.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HrisBenefit'
          description: Successful
      security:
      - jwt: []
      summary: Create a Benefit
      tags:
      - benefit
  /hris/{connection_id}/benefit/{id}:
    delete:
      operationId: removeHrisBenefit
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Benefit
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Benefit
      tags:
      - benefit
    get:
      operationId: getHrisBenefit
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - company_id
            - type
            - tax
            - frequency
            - is_active
            - employer_contribution_type
            - employer_contribution_amount
            - employer_contribution_max_amount
            - coverage_level
            - currency
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Benefit
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HrisBenefit'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Benefit
      tags:
      - benefit
    patch:
      operationId: patchHrisBenefit
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - company_id
            - type
            - tax
            - frequency
            - is_active
            - employer_contribution_type
            - employer_contribution_amount
            - employer_contribution_max_amount
            - coverage_level
            - currency
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Benefit
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HrisBenefit'
        description: Company-wide benefit plans available to employees.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HrisBenefit'
          description: Successful
      security:
      - jwt: []
      summary: Update a Benefit
      tags:
      - benefit
    put:
      operationId: updateHrisBenefit
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - company_id
            - type
            - tax
            - frequency
            - is_active
            - employer_contribution_type
            - employer_contribution_amount
            - employer_contribution_max_amount
            - coverage_level
            - currency
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Benefit
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HrisBenefit'
        description: Company-wide benefit plans available to employees.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HrisBenefit'
          description: Successful
      security:
      - jwt: []
      summary: Update a Benefit
      tags:
      - benefit
components:
  schemas:
    HrisBenefit:
      description: Company-wide benefit plans available to employees.
      properties:
        company_id:
          type: string
        coverage_level:
          enum:
          - EMPLOYEE_ONLY
          - EMPLOYEE_SPOUSE
          - EMPLOYEE_CHILD
          - EMPLOYEE_CHILDREN
          - EMPLOYEE_FAMILY
          - FAMILY
          - OTHER
          type: string
          x-speakeasy-unknown-values: allow
        created_at:
          format: date-time
          type: string
        currency:
          type: string
        description:
          type: string
        employer_contribution_amount:
          type: number
        employer_contribution_max_amount:
          type: number
        employer_contribution_type:
          enum:
          - PERCENTAGE
          - FIXED
          type: string
          x-speakeasy-unknown-values: allow
        frequency:
          enum:
          - ONE_TIME
          - DAY
          - QUARTER
          - YEAR
          - HOUR
          - MONTH
          - WEEK
          type: string
          x-speakeasy-unknown-values: allow
        id:
          type: string
        is_active:
          type: boolean
        name:
          type: string
        raw:
          additionalProperties: true
          type: object
        tax:
          enum:
          - PRE_TAX
          - POST_TAX
          - TAXABLE
          - NON_TAXABLE
          - TAX
          type: string
          x-speakeasy-unknown-values: allow
        type:
          enum:
          - RETIREMENT
          - HEALTH
          - DENTAL
          - VISION
          - LIFE
          - HSA
          - FSA
          - SHORT_TERM_DISABILITY
          - LONG_TERM_DISABILITY
          - WORKERS_COMP
          - HOUSING_STIPEND
          - EMPLOYER_TAX_CONTRIBUTION
          - GARNISHMENT
          - LOAN_REPAYMENT
          - CHARITABLE_CONTRIBUTION
          - OTHER
          type: string
          x-speakeasy-unknown-values: allow
        updated_at:
          format: date-time
          type: string
      type: object
    HrisBenefits:
      items:
        $ref: '#/components/schemas/HrisBenefit'
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
