openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account payment API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: payment
paths:
  /payment/{connection_id}/link:
    get:
      operationId: listPaymentLinks
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The contact ID to filter by (reference to AccountingContact)
        in: query
        name: contact_id
        required: false
        schema:
          type: string
      - description: The payment ID to filter by (reference to PaymentPayment)
        in: query
        name: payment_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - is_active
            - lineitems
            - currency
            - amount
            - payment_id
            - contact_id
            - url
            - is_chargeable_now
            - success_url
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinks'
          description: Successful
      security:
      - jwt: []
      summary: List All Links
      tags:
      - payment
    post:
      operationId: createPaymentLink
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - is_active
            - lineitems
            - currency
            - amount
            - payment_id
            - contact_id
            - url
            - is_chargeable_now
            - success_url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentLink'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLink'
          description: Successful
      security:
      - jwt: []
      summary: Create a Link
      tags:
      - payment
  /payment/{connection_id}/link/{id}:
    delete:
      operationId: removePaymentLink
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Link
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Link
      tags:
      - payment
    get:
      operationId: getPaymentLink
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - is_active
            - lineitems
            - currency
            - amount
            - payment_id
            - contact_id
            - url
            - is_chargeable_now
            - success_url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Link
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLink'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Link
      tags:
      - payment
    patch:
      operationId: patchPaymentLink
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - is_active
            - lineitems
            - currency
            - amount
            - payment_id
            - contact_id
            - url
            - is_chargeable_now
            - success_url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Link
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentLink'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLink'
          description: Successful
      security:
      - jwt: []
      summary: Update a Link
      tags:
      - payment
    put:
      operationId: updatePaymentLink
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - is_active
            - lineitems
            - currency
            - amount
            - payment_id
            - contact_id
            - url
            - is_chargeable_now
            - success_url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Link
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentLink'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLink'
          description: Successful
      security:
      - jwt: []
      summary: Update a Link
      tags:
      - payment
  /payment/{connection_id}/payment:
    get:
      operationId: listPaymentPayments
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The invoice ID to filter by (reference to AccountingInvoice)
        in: query
        name: invoice_id
        required: false
        schema:
          type: string
      - description: The contact ID to filter by (reference to AccountingContact)
        in: query
        name: contact_id
        required: false
        schema:
          type: string
      - description: The link ID to filter by
        in: query
        name: link_id
        required: false
        schema:
          type: string
      - description: The bill ID to filter by
        in: query
        name: bill_id
        required: false
        schema:
          type: string
      - description: The type to filter by
        in: query
        name: type
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AccountingOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - total_amount
            - contact_id
            - type
            - payment_method
            - currency
            - notes
            - invoice_id
            - bill_id
            - account_id
            - reference
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentPayments'
          description: Successful
      security:
      - jwt: []
      summary: List All Payments
      tags:
      - payment
    post:
      operationId: createPaymentPayment
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - total_amount
            - contact_id
            - type
            - payment_method
            - currency
            - notes
            - invoice_id
            - bill_id
            - account_id
            - reference
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentPayment'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentPayment'
          description: Successful
      security:
      - jwt: []
      summary: Create a Payment
      tags:
      - payment
  /payment/{connection_id}/payment/{id}:
    delete:
      operationId: removePaymentPayment
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Payment
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Payment
      tags:
      - payment
    get:
      operationId: getPaymentPayment
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - total_amount
            - contact_id
            - type
            - payment_method
            - currency
            - notes
            - invoice_id
            - bill_id
            - account_id
            - reference
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Payment
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentPayment'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Payment
      tags:
      - payment
    patch:
      operationId: patchPaymentPayment
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - total_amount
            - contact_id
            - type
            - payment_method
            - currency
            - notes
            - invoice_id
            - bill_id
            - account_id
            - reference
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Payment
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentPayment'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentPayment'
          description: Successful
      security:
      - jwt: []
      summary: Update a Payment
      tags:
      - payment
    put:
      operationId: updatePaymentPayment
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - total_amount
            - contact_id
            - type
            - payment_method
            - currency
            - notes
            - invoice_id
            - bill_id
            - account_id
            - reference
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Payment
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentPayment'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentPayment'
          description: Successful
      security:
      - jwt: []
      summary: Update a Payment
      tags:
      - payment
  /payment/{connection_id}/payout:
    get:
      operationId: listPaymentPayouts
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - total_amount
            - currency
            - notes
            - status
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentPayouts'
          description: Successful
      security:
      - jwt: []
      summary: List All Payouts
      tags:
      - payment
  /payment/{connection_id}/payout/{id}:
    get:
      operationId: getPaymentPayout
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - total_amount
            - currency
            - notes
            - status
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Payout
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentPayout'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Payout
      tags:
      - payment
  /payment/{connection_id}/refund:
    get:
      operationId: listPaymentRefunds
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The payment ID to filter by (reference to PaymentPayment)
        in: query
        name: payment_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - total_amount
            - payment_id
            - currency
            - notes
            - status
            - reference
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRefunds'
          description: Successful
      security:
      - jwt: []
      summary: List All Refunds
      tags:
      - payment
  /payment/{connection_id}/refund/{id}:
    get:
      operationId: getPaymentRefund
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - total_amount
            - payment_id
            - currency
            - notes
            - status
            - reference
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Refund
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRefund'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Refund
      tags:
      - payment
  /payment/{connection_id}/subscription:
    get:
      operationId: listPaymentSubscriptions
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The contact ID to filter by (reference to AccountingContact)
        in: query
        name: contact_id
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - description
            - contact_id
            - invoice_id
            - current_period_end_at
            - current_period_start_at
            - canceled_at
            - currency
            - start_at
            - end_at
            - status
            - month
            - interval_unit
            - day_of_month
            - day_of_week
            - interval
            - lineitems
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSubscriptions'
          description: Successful
      security:
      - jwt: []
      summary: List All Subscriptions
      tags:
      - payment
    post:
      operationId: createPaymentSubscription
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - description
            - contact_id
            - invoice_id
            - current_period_end_at
            - current_period_start_at
            - canceled_at
            - currency
            - start_at
            - end_at
            - status
            - month
            - interval_unit
            - day_of_month
            - day_of_week
            - interval
            - lineitems
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSubscription'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSubscription'
          description: Successful
      security:
      - jwt: []
      summary: Create a Subscription
      tags:
      - payment
  /payment/{connection_id}/subscription/{id}:
    delete:
      operationId: removePaymentSubscription
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Subscription
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Subscription
      tags:
      - payment
    get:
      operationId: getPaymentSubscription
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - description
            - contact_id
            - invoice_id
            - current_period_end_at
            - current_period_start_at
            - canceled_at
            - currency
            - start_at
            - end_at
            - status
            - month
            - interval_unit
            - day_of_month
            - day_of_week
            - interval
            - lineitems
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Subscription
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSubscription'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Subscription
      tags:
      - payment
    patch:
      operationId: patchPaymentSubscription
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - description
            - contact_id
            - invoice_id
            - current_period_end_at
            - current_period_start_at
            - canceled_at
            - currency
            - start_at
            - end_at
            - status
            - month
            - interval_unit
            - day_of_month
            - day_of_week
            - interval
            - lineitems
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Subscription
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSubscription'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSubscription'
          description: Successful
      security:
      - jwt: []
      summary: Update a Subscription
      tags:
      - payment
    put:
      operationId: updatePaymentSubscription
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - description
            - contact_id
            - invoice_id
            - current_period_end_at
            - current_period_start_at
            - canceled_at
            - currency
            - start_at
            - end_at
            - status
            - month
            - interval_unit
            - day_of_month
            - day_of_week
            - interval
            - lineitems
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Subscription
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSubscription'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSubscription'
          description: Successful
      security:
      - jwt: []
      summary: Update a Subscription
      tags:
      - payment
components:
  schemas:
    property_PaymentSubscription_lineitems:
      items:
        $ref: '#/components/schemas/PaymentLineitem'
      type: array
    PaymentPayment:
      properties:
        account_id:
          type: string
        bill_id:
          type: string
        contact_id:
          type: string
        created_at:
          format: date-time
          type: string
        currency:
          default: USD
          type: string
        id:
          type: string
        invoice_id:
          type: string
        notes:
          type: string
        payment_method:
          type: string
        raw:
          additionalProperties: true
          type: object
        reference:
          type: string
        total_amount:
          type: number
        type:
          enum:
          - INVOICE
          - BILL
          type: string
          x-speakeasy-unknown-values: allow
        updated_at:
          format: date-time
          type: string
      type: object
    PaymentRefund:
      properties:
        created_at:
          format: date-time
          type: string
        currency:
          type: string
        id:
          type: string
        notes:
          type: string
        payment_id:
          type: string
        raw:
          additionalProperties: true
          type: object
        reference:
          type: string
        status:
          enum:
          - SUCCEEDED
          - PENDING
          - FAILED
          - CANCELED
          type: string
          x-speakeasy-unknown-values: allow
        total_amount:
          type: number
        updated_at:
          format: date-time
          type: string
      required:
      - total_amount
      - payment_id
      type: object
    PaymentPayments:
      items:
        $ref: '#/components/schemas/PaymentPayment'
      type: array
    PaymentLineitem:
      properties:
        account_id:
          type: string
        created_at:
          format: date-time
          type: string
        discount_amount:
          type: number
        id:
          type: string
        item_description:
          type: string
        item_id:
          type: string
        item_name:
          type: string
        item_sku:
          type: string
        notes:
          type: string
        refund_amount:
          type: number
        refunded_at:
          format: date-time
          type: string
        tax_amount:
          type: number
        taxrate_id:
          type: string
        total_amount:
          type: number
        unit_amount:
          type: number
        unit_quantity:
          type: number
        updated_at:
          format: date-time
          type: string
      type: object
    PaymentSubscriptions:
      items:
        $ref: '#/components/schemas/PaymentSubscription'
      type: array
    PaymentPayouts:
      items:
        $ref: '#/components/schemas/PaymentPayout'
      type: array
    PaymentLinks:
      items:
        $ref: '#/components/schemas/PaymentLink'
      type: array
    property_PaymentLink_lineitems:
      items:
        $ref: '#/components/schemas/PaymentLineitem'
      type: array
    PaymentSubscription:
      properties:
        canceled_at:
          format: date-time
          type: string
        contact_id:
          type: string
        created_at:
          format: date-time
          type: string
        currency:
          type: string
        current_period_end_at:
          format: date-time
          type: string
        current_period_start_at:
          format: date-time
          type: string
        day_of_month:
          type: number
        day_of_week:
          type: number
        description:
          type: string
        end_at:
          format: date-time
          type: string
        id:
          type: string
        interval:
          type: number
        interval_unit:
          enum:
          - YEAR
          - MONTH
          - WEEK
          - DAY
          type: string
          x-speakeasy-unknown-values: allow
        invoice_id:
          type: string
        lineitems:
          $ref: '#/components/schemas/property_PaymentSubscription_lineitems'
        month:
          type: number
        raw:
          additionalProperties: true
          type: object
        start_at:
          format: date-time
          type: string
        status:
          enum:
          - ACTIVE
          - INACTIVE
          - CANCELED
          - PAUSED
          type: string
          x-speakeasy-unknown-values: allow
        updated_at:
          format: date-time
          type: string
      type: object
    PaymentPayout:
      properties:
        created_at:
          type: string
        currency:
          type: string
        id:
          type: string
        notes:
          type: string
        raw:
          additionalProperties: true
          type: object
        status:
          enum:
          - SUCCEEDED
          - PENDING
          - FAILED
          - CANCELED
          type: string
          x-speakeasy-unknown-values: allow
        total_amount:
          type: number
        updated_at:
          type: string
      required:
      - total_amount
      type: object
    PaymentLink:
      properties:
        amount:
          type: number
        contact_id:
          type: string
        created_at:
          format: date-time
          type: string
        currency:
          type: string
        id:
          type: string
        is_active:
          type: boolean
        is_chargeable_now:
          type: boolean
        lineitems:
          $ref: '#/components/schemas/property_PaymentLink_lineitems'
        payment_id:
          type: string
        raw:
          additionalProperties: true
          type: object
        success_url:
          type: string
        updated_at:
          format: date-time
          type: string
        url:
          type: string
      type: object
    PaymentRefunds:
      items:
        $ref: '#/components/schemas/PaymentRefund'
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
