openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account applicationstatus API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: applicationstatus
paths:
  /ats/{connection_id}/applicationstatus:
    get:
      operationId: listAtsApplicationstatuses
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - status
            - original_status
            - description
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsStatuses'
          description: Successful
      security:
      - jwt: []
      summary: List all applicationstatuses
      tags:
      - applicationstatus
components:
  schemas:
    AtsStatus:
      properties:
        description:
          type: string
        id:
          type: string
        original_status:
          type: string
        raw:
          additionalProperties: true
          type: object
        status:
          enum:
          - NEW
          - REVIEWING
          - SCREENING
          - SUBMITTED
          - FIRST_INTERVIEW
          - SECOND_INTERVIEW
          - THIRD_INTERVIEW
          - BACKGROUND_CHECK
          - OFFERED
          - ACCEPTED
          - HIRED
          - REJECTED
          - DECLINED
          - WITHDRAWN
          type: string
          x-speakeasy-unknown-values: allow
      type: object
    AtsStatuses:
      items:
        $ref: '#/components/schemas/AtsStatus'
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
