openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account passthrough API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: passthrough
paths:
  /passthrough/{connection_id}/{path}:
    delete:
      operationId: removePassthrough
      parameters:
      - explode: true
        in: query
        name: query
        schema:
          additionalProperties: true
        style: form
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - in: path
        name: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
          headers:
            Date:
              required: false
              schema:
                type: string
        '205':
          description: Reset content
          headers:
            Date:
              required: false
              schema:
                type: string
        '304':
          description: Not modified
          headers:
            Date:
              required: false
              schema:
                type: string
        default:
          content:
            '*/*':
              schema:
                format: binary
                type: string
            application/json:
              schema: {}
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
            text/plain:
              schema:
                type: string
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Passthrough Delete
      tags:
      - passthrough
    get:
      operationId: listPassthroughs
      parameters:
      - explode: true
        in: query
        name: query
        schema:
          additionalProperties: true
        style: form
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - in: path
        name: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
          headers:
            Date:
              required: false
              schema:
                type: string
        '205':
          description: Reset content
          headers:
            Date:
              required: false
              schema:
                type: string
        '304':
          description: Not modified
          headers:
            Date:
              required: false
              schema:
                type: string
        default:
          content:
            '*/*':
              schema:
                format: binary
                type: string
            application/json:
              schema: {}
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
            text/plain:
              schema:
                type: string
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Passthrough Get
      tags:
      - passthrough
    patch:
      operationId: patchPassthrough
      parameters:
      - explode: true
        in: query
        name: query
        schema:
          additionalProperties: true
        style: form
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - in: path
        name: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              format: binary
              type: string
          application/json:
            schema: {}
          text/plain:
            schema: {}
        description: integration-specific payload
      responses:
        '204':
          description: No content
          headers:
            Date:
              required: false
              schema:
                type: string
        '205':
          description: Reset content
          headers:
            Date:
              required: false
              schema:
                type: string
        '304':
          description: Not modified
          headers:
            Date:
              required: false
              schema:
                type: string
        default:
          content:
            '*/*':
              schema:
                format: binary
                type: string
            application/json:
              schema: {}
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
            text/plain:
              schema:
                type: string
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Passthrough Put
      tags:
      - passthrough
    post:
      operationId: createPassthrough
      parameters:
      - explode: true
        in: query
        name: query
        schema:
          additionalProperties: true
        style: form
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - in: path
        name: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              format: binary
              type: string
          application/json:
            schema: {}
          text/plain:
            schema: {}
        description: integration-specific payload
      responses:
        '204':
          description: No content
          headers:
            Date:
              required: false
              schema:
                type: string
        '205':
          description: Reset content
          headers:
            Date:
              required: false
              schema:
                type: string
        '304':
          description: Not modified
          headers:
            Date:
              required: false
              schema:
                type: string
        default:
          content:
            '*/*':
              schema:
                format: binary
                type: string
            application/json:
              schema: {}
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
            text/plain:
              schema:
                type: string
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Passthrough Post
      tags:
      - passthrough
    put:
      operationId: updatePassthrough
      parameters:
      - explode: true
        in: query
        name: query
        schema:
          additionalProperties: true
        style: form
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - in: path
        name: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              format: binary
              type: string
          application/json:
            schema: {}
          text/plain:
            schema: {}
        description: integration-specific payload
      responses:
        '204':
          description: No content
          headers:
            Date:
              required: false
              schema:
                type: string
        '205':
          description: Reset content
          headers:
            Date:
              required: false
              schema:
                type: string
        '304':
          description: Not modified
          headers:
            Date:
              required: false
              schema:
                type: string
        default:
          content:
            '*/*':
              schema:
                format: binary
                type: string
            application/json:
              schema: {}
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
            text/plain:
              schema:
                type: string
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Passthrough Put
      tags:
      - passthrough
components:
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
