openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account martech API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: martech
paths:
  /martech/{connection_id}/campaign:
    get:
      operationId: listMartechCampaigns
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The list ID to filter by
        in: query
        name: list_id
        required: false
        schema:
          type: string
      - description: The member ID to filter by
        in: query
        name: member_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - type
            - status
            - list_ids
            - subject_line
            - preview_text
            - from_name
            - from_email
            - reply_to_email
            - send_at
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingCampaigns'
          description: Successful
      security:
      - jwt: []
      summary: List All Campaigns
      tags:
      - martech
    post:
      operationId: createMartechCampaign
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - type
            - status
            - list_ids
            - subject_line
            - preview_text
            - from_name
            - from_email
            - reply_to_email
            - send_at
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketingCampaign'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingCampaign'
          description: Successful
      security:
      - jwt: []
      summary: Create a Campaign
      tags:
      - martech
  /martech/{connection_id}/campaign/{id}:
    delete:
      operationId: removeMartechCampaign
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Campaign
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Campaign
      tags:
      - martech
    get:
      operationId: getMartechCampaign
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - type
            - status
            - list_ids
            - subject_line
            - preview_text
            - from_name
            - from_email
            - reply_to_email
            - send_at
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Campaign
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingCampaign'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Campaign
      tags:
      - martech
    patch:
      operationId: patchMartechCampaign
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - type
            - status
            - list_ids
            - subject_line
            - preview_text
            - from_name
            - from_email
            - reply_to_email
            - send_at
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Campaign
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketingCampaign'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingCampaign'
          description: Successful
      security:
      - jwt: []
      summary: Update a Campaign
      tags:
      - martech
    put:
      operationId: updateMartechCampaign
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - type
            - status
            - list_ids
            - subject_line
            - preview_text
            - from_name
            - from_email
            - reply_to_email
            - send_at
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Campaign
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketingCampaign'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingCampaign'
          description: Successful
      security:
      - jwt: []
      summary: Update a Campaign
      tags:
      - martech
  /martech/{connection_id}/list:
    get:
      operationId: listMartechLists
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - start_at
            - end_at
            - user_id
            - is_active
            - address
            - subject
            - sender_name
            - sender_email
            - language
            - sender_company
            - sender_phone
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingLists'
          description: Successful
      security:
      - jwt: []
      summary: List All Lists
      tags:
      - martech
    post:
      operationId: createMartechList
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - start_at
            - end_at
            - user_id
            - is_active
            - address
            - subject
            - sender_name
            - sender_email
            - language
            - sender_company
            - sender_phone
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketingList'
        description: Mailing List
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingList'
          description: Successful
      security:
      - jwt: []
      summary: Create a List
      tags:
      - martech
  /martech/{connection_id}/list/{id}:
    delete:
      operationId: removeMartechList
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the List
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a List
      tags:
      - martech
    get:
      operationId: getMartechList
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - start_at
            - end_at
            - user_id
            - is_active
            - address
            - subject
            - sender_name
            - sender_email
            - language
            - sender_company
            - sender_phone
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the List
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingList'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a List
      tags:
      - martech
    patch:
      operationId: patchMartechList
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - start_at
            - end_at
            - user_id
            - is_active
            - address
            - subject
            - sender_name
            - sender_email
            - language
            - sender_company
            - sender_phone
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the List
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketingList'
        description: Mailing List
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingList'
          description: Successful
      security:
      - jwt: []
      summary: Update a List
      tags:
      - martech
    put:
      operationId: updateMartechList
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - start_at
            - end_at
            - user_id
            - is_active
            - address
            - subject
            - sender_name
            - sender_email
            - language
            - sender_company
            - sender_phone
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the List
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketingList'
        description: Mailing List
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingList'
          description: Successful
      security:
      - jwt: []
      summary: Update a List
      tags:
      - martech
  /martech/{connection_id}/member:
    get:
      operationId: listMartechMembers
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The list ID to filter by
        in: query
        name: list_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - list_ids
            - tags
            - status
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingMembers'
          description: Successful
      security:
      - jwt: []
      summary: List All Members
      tags:
      - martech
    post:
      operationId: createMartechMember
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - list_ids
            - tags
            - status
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketingMember'
        description: A member represents a person
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingMember'
          description: Successful
      security:
      - jwt: []
      summary: Create a Member
      tags:
      - martech
  /martech/{connection_id}/member/{id}:
    delete:
      operationId: removeMartechMember
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Member
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Member
      tags:
      - martech
    get:
      operationId: getMartechMember
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - list_ids
            - tags
            - status
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Member
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingMember'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Member
      tags:
      - martech
    patch:
      operationId: patchMartechMember
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - list_ids
            - tags
            - status
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Member
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketingMember'
        description: A member represents a person
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingMember'
          description: Successful
      security:
      - jwt: []
      summary: Update a Member
      tags:
      - martech
    put:
      operationId: updateMartechMember
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - list_ids
            - tags
            - status
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Member
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketingMember'
        description: A member represents a person
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingMember'
          description: Successful
      security:
      - jwt: []
      summary: Update a Member
      tags:
      - martech
  /martech/{connection_id}/report:
    get:
      operationId: listMartechReports
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The campaign ID to filter by
        in: query
        name: campaign_id
        required: false
        schema:
          type: string
      - description: The list ID to filter by
        in: query
        name: list_id
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - start_at
            - end_at
            - campaign_id
            - list_id
            - emails_sent
            - abuse_reports
            - unsubscribed
            - sent_at
            - hard_bounces
            - soft_bounces
            - syntax_errors
            - forwards_count
            - forwards_opens
            - opens_total
            - unique_opens
            - open_rate
            - last_open_at
            - clicks_total
            - unique_clicks
            - unique_subscriber_clicks
            - click_rate
            - last_click_at
            - links
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingReports'
          description: Successful
      security:
      - jwt: []
      summary: List All Reports
      tags:
      - martech
components:
  schemas:
    property_MarketingMember_tags:
      description: An array of tags associated with this member
      items:
        type: string
      type: array
    MarketingCampaign:
      properties:
        created_at:
          format: date-time
          type: string
        from_email:
          type: string
        from_name:
          type: string
        id:
          type: string
        list_ids:
          $ref: '#/components/schemas/property_MarketingCampaign_list_ids'
        name:
          type: string
        preview_text:
          type: string
        raw:
          additionalProperties: true
          type: object
        reply_to_email:
          type: string
        send_at:
          format: date-time
          type: string
        status:
          enum:
          - DRAFT
          - SCHEDULED
          - SENDING
          - SENT
          - CANCELLED
          - PAUSED
          - ARCHIVED
          - OTHER
          type: string
          x-speakeasy-unknown-values: allow
        subject_line:
          type: string
        type:
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    property_MarketingMember_list_ids:
      description: An array of list IDs associated with this member
      items:
        type: string
      type: array
    MarketingReport:
      properties:
        abuse_reports:
          type: number
        campaign_id:
          type: string
        click_rate:
          type: number
        clicks_total:
          type: number
        emails_sent:
          type: number
        end_at:
          format: date-time
          type: string
        forwards_count:
          type: number
        forwards_opens:
          type: number
        hard_bounces:
          type: number
        id:
          type: string
        last_click_at:
          format: date-time
          type: string
        last_open_at:
          format: date-time
          type: string
        links:
          $ref: '#/components/schemas/property_MarketingReport_links'
        list_id:
          type: string
        open_rate:
          type: number
        opens_total:
          type: number
        raw:
          additionalProperties: true
          type: object
        sent_at:
          format: date-time
          type: string
        soft_bounces:
          type: number
        start_at:
          format: date-time
          type: string
        syntax_errors:
          type: number
        unique_clicks:
          type: number
        unique_opens:
          type: number
        unique_subscriber_clicks:
          type: number
        unsubscribed:
          type: number
      type: object
    MarketingReports:
      items:
        $ref: '#/components/schemas/MarketingReport'
      type: array
    MarketingLists:
      items:
        $ref: '#/components/schemas/MarketingList'
      type: array
    MarketingList:
      description: Mailing List
      properties:
        address:
          $ref: '#/components/schemas/property_MarketingList_address'
        created_at:
          format: date-time
          type: string
        description:
          type: string
        end_at:
          format: date-time
          type: string
        id:
          type: string
        is_active:
          type: boolean
        language:
          type: string
        name:
          type: string
        raw:
          additionalProperties: true
          type: object
        sender_company:
          type: string
        sender_email:
          type: string
        sender_name:
          type: string
        sender_phone:
          type: string
        start_at:
          format: date-time
          type: string
        subject:
          type: string
        updated_at:
          format: date-time
          type: string
        user_id:
          type: string
      type: object
    MarketingReportLink:
      properties:
        click_percentage:
          type: number
        last_click_at:
          format: date-time
          type: string
        total_clicks:
          type: number
        unique_click_percentage:
          type: number
        unique_clicks:
          type: number
        url:
          type: string
      type: object
    MarketingEmail:
      properties:
        email:
          type: string
        type:
          enum:
          - WORK
          - HOME
          - OTHER
          type: string
          x-speakeasy-unknown-values: allow
      required:
      - email
      type: object
    MarketingMember:
      description: A member represents a person
      properties:
        created_at:
          format: date-time
          type: string
        emails:
          $ref: '#/components/schemas/property_MarketingMember_emails'
        first_name:
          type: string
        id:
          type: string
        last_name:
          type: string
        list_ids:
          $ref: '#/components/schemas/property_MarketingMember_list_ids'
        name:
          type: string
        raw:
          additionalProperties: true
          type: object
        status:
          enum:
          - SUBSCRIBED
          - UNSUBSCRIBED
          - CLEANED
          - PENDING
          - TRANSACTIONAL
          type: string
          x-speakeasy-unknown-values: allow
        tags:
          $ref: '#/components/schemas/property_MarketingMember_tags'
        updated_at:
          format: date-time
          type: string
      type: object
    property_MarketingList_address:
      properties:
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        country:
          type: string
        country_code:
          type: string
        postal_code:
          type: string
        region:
          type: string
        region_code:
          type: string
      type: object
    property_MarketingReport_links:
      description: URL-specific click data
      items:
        $ref: '#/components/schemas/MarketingReportLink'
      type: array
    property_MarketingCampaign_list_ids:
      description: Associated listaudience IDs
      items:
        type: string
      type: array
    MarketingCampaigns:
      items:
        $ref: '#/components/schemas/MarketingCampaign'
      type: array
    property_MarketingMember_emails:
      description: An array of email addresses for this member
      items:
        $ref: '#/components/schemas/MarketingEmail'
      type: array
    MarketingMembers:
      items:
        $ref: '#/components/schemas/MarketingMember'
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
