openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account promoted API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: promoted
paths:
  /ads/{connection_id}/promoted:
    get:
      operationId: listAdsPromoteds
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AdsOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - in: query
        name: type
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - name
            - type
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsPromoteds'
          description: Successful
      security:
      - jwt: []
      summary: List All Promoteds
      tags:
      - promoted
  /ads/{connection_id}/promoted/{id}:
    get:
      operationId: getAdsPromoted
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - name
            - type
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Promoted
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsPromoted'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Promoted
      tags:
      - promoted
components:
  schemas:
    AdsPromoted:
      description: Promoted entity (e.g. page, app, product, tweet) for ads create
      properties:
        id:
          type: string
        name:
          type: string
        raw:
          additionalProperties: true
          type: object
        type:
          enum:
          - PAGE_ID
          - APP_ID
          - STORE_URL
          - PIXEL_ID
          - CUSTOM_CONVERSION_ID
          - CATALOG_ID
          - PRODUCT_SET_ID
          - PRIORITIZED_SET_ID
          - EVENT_ID
          - OFFER_ID
          - LEAD_FORM_ID
          - MESSAGING_CHANNEL_ID
          - PRODUCT_ID
          - TWEET_ID
          - AD_GROUP_TYPE
          type: string
          x-speakeasy-unknown-values: allow
      required:
      - id
      - type
      type: object
    AdsPromoteds:
      items:
        $ref: '#/components/schemas/AdsPromoted'
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
