openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account channel API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: channel
paths:
  /messaging/{connection_id}/channel:
    get:
      operationId: listMessagingChannels
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The parent ID to filter by
        in: query
        name: parent_id
        required: false
        schema:
          type: string
      - in: query
        name: type
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - parent_id
            - has_subchannels
            - members
            - is_active
            - is_private
            - web_url
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagingChannels'
          description: Successful
      security:
      - jwt: []
      summary: List All Channels
      tags:
      - channel
  /messaging/{connection_id}/channel/{id}:
    get:
      operationId: getMessagingChannel
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - parent_id
            - has_subchannels
            - members
            - is_active
            - is_private
            - web_url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Channel
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagingChannel'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Channel
      tags:
      - channel
components:
  schemas:
    MessagingChannel:
      properties:
        created_at:
          format: date-time
          type: string
        description:
          type: string
        has_subchannels:
          type: boolean
        id:
          type: string
        is_active:
          type: boolean
        is_private:
          type: boolean
        members:
          $ref: '#/components/schemas/property_MessagingChannel_members'
        name:
          type: string
        parent_id:
          type: string
        raw:
          additionalProperties: true
          type: object
        updated_at:
          format: date-time
          type: string
        web_url:
          type: string
      required:
      - name
      type: object
    MessagingMember:
      properties:
        email:
          type: string
        image_url:
          type: string
        name:
          type: string
        user_id:
          type: string
      type: object
    property_MessagingChannel_members:
      items:
        $ref: '#/components/schemas/MessagingMember'
      type: array
    MessagingChannels:
      items:
        $ref: '#/components/schemas/MessagingChannel'
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
