openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account pullrequest API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: pullrequest
paths:
  /repo/{connection_id}/pullrequest:
    get:
      operationId: listRepoPullrequests
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The repo ID to filter by (reference to RepoRepository)
        in: query
        name: repo_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - user_ids
            - repo_id
            - status
            - labels
            - closed_at
            - commit_ids
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepoPullrequests'
          description: Successful
      security:
      - jwt: []
      summary: List All Pullrequests
      tags:
      - pullrequest
    post:
      operationId: createRepoPullrequest
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - user_ids
            - repo_id
            - status
            - labels
            - closed_at
            - commit_ids
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepoPullrequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepoPullrequest'
          description: Successful
      security:
      - jwt: []
      summary: Create a Pullrequest
      tags:
      - pullrequest
  /repo/{connection_id}/pullrequest/{id}:
    delete:
      operationId: removeRepoPullrequest
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Pullrequest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Pullrequest
      tags:
      - pullrequest
    get:
      operationId: getRepoPullrequest
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - user_ids
            - repo_id
            - status
            - labels
            - closed_at
            - commit_ids
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Pullrequest
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepoPullrequest'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Pullrequest
      tags:
      - pullrequest
    patch:
      operationId: patchRepoPullrequest
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - user_ids
            - repo_id
            - status
            - labels
            - closed_at
            - commit_ids
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Pullrequest
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepoPullrequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepoPullrequest'
          description: Successful
      security:
      - jwt: []
      summary: Update a Pullrequest
      tags:
      - pullrequest
    put:
      operationId: updateRepoPullrequest
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - user_ids
            - repo_id
            - status
            - labels
            - closed_at
            - commit_ids
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Pullrequest
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepoPullrequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepoPullrequest'
          description: Successful
      security:
      - jwt: []
      summary: Update a Pullrequest
      tags:
      - pullrequest
components:
  schemas:
    RepoPullrequest:
      properties:
        closed_at:
          format: date-time
          type: string
        commit_ids:
          $ref: '#/components/schemas/property_RepoPullrequest_commit_ids'
        created_at:
          format: date-time
          type: string
        id:
          type: string
        labels:
          $ref: '#/components/schemas/property_RepoPullrequest_labels'
        raw:
          additionalProperties: true
          type: object
        repo_id:
          type: string
        status:
          enum:
          - PENDING
          - APPROVED
          - REJECTED
          type: string
          x-speakeasy-unknown-values: allow
        updated_at:
          format: date-time
          type: string
        user_ids:
          $ref: '#/components/schemas/property_RepoPullrequest_user_ids'
      type: object
    RepoPullrequests:
      items:
        $ref: '#/components/schemas/RepoPullrequest'
      type: array
    property_RepoPullrequest_user_ids:
      items:
        type: string
      type: array
    property_RepoPullrequest_commit_ids:
      items:
        type: string
      type: array
    property_RepoPullrequest_labels:
      items:
        type: string
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
