openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account bankaccount API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: bankaccount
paths:
  /hris/{connection_id}/bankaccount:
    get:
      operationId: listHrisBankaccounts
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The user/employee ID to filter by (reference to HrisEmployee)
        in: query
        name: user_id
        required: false
        schema:
          type: string
      - description: The company ID to filter by (reference to HrisCompany)
        in: query
        name: company_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - user_id
            - company_id
            - account_type
            - bank_name
            - routing_number
            - account_number
            - account_number_last4
            - name
            - is_primary
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HrisBankaccounts'
          description: Successful
      security:
      - jwt: []
      summary: List All Bankaccounts
      tags:
      - bankaccount
    post:
      operationId: createHrisBankaccount
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - user_id
            - company_id
            - account_type
            - bank_name
            - routing_number
            - account_number
            - account_number_last4
            - name
            - is_primary
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HrisBankaccount'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HrisBankaccount'
          description: Successful
      security:
      - jwt: []
      summary: Create a Bankaccount
      tags:
      - bankaccount
  /hris/{connection_id}/bankaccount/{id}:
    delete:
      operationId: removeHrisBankaccount
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Bankaccount
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Bankaccount
      tags:
      - bankaccount
    get:
      operationId: getHrisBankaccount
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - user_id
            - company_id
            - account_type
            - bank_name
            - routing_number
            - account_number
            - account_number_last4
            - name
            - is_primary
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Bankaccount
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HrisBankaccount'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Bankaccount
      tags:
      - bankaccount
    patch:
      operationId: patchHrisBankaccount
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - user_id
            - company_id
            - account_type
            - bank_name
            - routing_number
            - account_number
            - account_number_last4
            - name
            - is_primary
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Bankaccount
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HrisBankaccount'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HrisBankaccount'
          description: Successful
      security:
      - jwt: []
      summary: Update a Bankaccount
      tags:
      - bankaccount
    put:
      operationId: updateHrisBankaccount
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - user_id
            - company_id
            - account_type
            - bank_name
            - routing_number
            - account_number
            - account_number_last4
            - name
            - is_primary
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Bankaccount
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HrisBankaccount'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HrisBankaccount'
          description: Successful
      security:
      - jwt: []
      summary: Update a Bankaccount
      tags:
      - bankaccount
components:
  schemas:
    HrisBankaccount:
      properties:
        account_number:
          type: string
        account_number_last4:
          type: string
        account_type:
          enum:
          - CHECKING
          - SAVINGS
          type: string
          x-speakeasy-unknown-values: allow
        bank_name:
          type: string
        company_id:
          type: string
        created_at:
          format: date-time
          type: string
        id:
          type: string
        is_primary:
          type: boolean
        name:
          type: string
        raw:
          additionalProperties: true
          type: object
        routing_number:
          type: string
        updated_at:
          format: date-time
          type: string
        user_id:
          type: string
      type: object
    HrisBankaccounts:
      items:
        $ref: '#/components/schemas/HrisBankaccount'
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
