openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account bill API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: bill
paths:
  /accounting/{connection_id}/bill:
    get:
      operationId: listAccountingBills
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The contact ID to filter by (reference to AccountingContact)
        in: query
        name: contact_id
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AccountingOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - bill_number
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - contact_id
            - currency
            - notes
            - refund_reason
            - lineitems
            - status
            - url
            - payment_collection_method
            - attachments
            - send
            - organization_id
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBills'
          description: Successful
      security:
      - jwt: []
      summary: List all bills
      tags:
      - bill
    post:
      operationId: createAccountingBill
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - bill_number
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - contact_id
            - currency
            - notes
            - refund_reason
            - lineitems
            - status
            - url
            - payment_collection_method
            - attachments
            - send
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingBill'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBill'
          description: Successful
      security:
      - jwt: []
      summary: Create a bill
      tags:
      - bill
  /accounting/{connection_id}/bill/{id}:
    delete:
      operationId: removeAccountingBill
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Bill
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a bill
      tags:
      - bill
    get:
      operationId: getAccountingBill
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - bill_number
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - contact_id
            - currency
            - notes
            - refund_reason
            - lineitems
            - status
            - url
            - payment_collection_method
            - attachments
            - send
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Bill
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBill'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a bill
      tags:
      - bill
    patch:
      operationId: patchAccountingBill
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - bill_number
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - contact_id
            - currency
            - notes
            - refund_reason
            - lineitems
            - status
            - url
            - payment_collection_method
            - attachments
            - send
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Bill
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingBill'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBill'
          description: Successful
      security:
      - jwt: []
      summary: Update a bill
      tags:
      - bill
    put:
      operationId: updateAccountingBill
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - bill_number
            - created_at
            - updated_at
            - due_at
            - paid_at
            - refunded_at
            - cancelled_at
            - posted_at
            - total_amount
            - paid_amount
            - refund_amount
            - tax_amount
            - discount_amount
            - balance_amount
            - contact_id
            - currency
            - notes
            - refund_reason
            - lineitems
            - status
            - url
            - payment_collection_method
            - attachments
            - send
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Bill
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingBill'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBill'
          description: Successful
      security:
      - jwt: []
      summary: Update a bill
      tags:
      - bill
components:
  schemas:
    AccountingLineitem:
      properties:
        account_id:
          type: string
        category_ids:
          $ref: '#/components/schemas/property_AccountingLineitem_category_ids'
        created_at:
          format: date-time
          type: string
        discount_amount:
          type: number
        id:
          type: string
        item_description:
          type: string
        item_id:
          type: string
        item_name:
          type: string
        item_sku:
          type: string
        item_variants:
          $ref: '#/components/schemas/property_AccountingLineitem_item_variants'
        locations:
          $ref: '#/components/schemas/property_AccountingLineitem_locations'
        notes:
          type: string
        refund_amount:
          type: number
        refunded_at:
          format: date-time
          type: string
        tax_amount:
          type: number
        taxrate_id:
          type: string
        total_amount:
          type: number
        unit_amount:
          type: number
        unit_quantity:
          type: number
        updated_at:
          format: date-time
          type: string
      type: object
    AccountingBills:
      items:
        $ref: '#/components/schemas/AccountingBill'
      type: array
    AccountingAttachment:
      properties:
        download_url:
          type: string
        id:
          type: string
        mime_type:
          type: string
        name:
          type: string
      type: object
    property_AccountingLineitem_item_variants:
      items:
        $ref: '#/components/schemas/AccountingReference'
      type: array
    property_AccountingBill_lineitems:
      items:
        $ref: '#/components/schemas/AccountingLineitem'
      type: array
    AccountingBill:
      properties:
        attachments:
          $ref: '#/components/schemas/property_AccountingBill_attachments'
        balance_amount:
          type: number
        bill_number:
          type: string
        cancelled_at:
          format: date-time
          type: string
        contact_id:
          type: string
        created_at:
          format: date-time
          type: string
        currency:
          type: string
        discount_amount:
          type: number
        due_at:
          format: date-time
          type: string
        id:
          type: string
        lineitems:
          $ref: '#/components/schemas/property_AccountingBill_lineitems'
        notes:
          type: string
        organization_id:
          type: string
        paid_amount:
          type: number
        paid_at:
          format: date-time
          type: string
        payment_collection_method:
          enum:
          - send_invoice
          - charge_automatically
          type: string
          x-speakeasy-unknown-values: allow
        posted_at:
          format: date-time
          type: string
        raw:
          additionalProperties: true
          type: object
        refund_amount:
          type: number
        refund_reason:
          type: string
        refunded_at:
          format: date-time
          type: string
        send:
          type: boolean
        status:
          enum:
          - DRAFT
          - VOIDED
          - AUTHORIZED
          - PAID
          - PARTIALLY_PAID
          - PARTIALLY_REFUNDED
          - REFUNDED
          - SUBMITTED
          - DELETED
          - OVERDUE
          type: string
          x-speakeasy-unknown-values: allow
        tax_amount:
          type: number
        total_amount:
          type: number
        updated_at:
          format: date-time
          type: string
        url:
          type: string
      type: object
    property_AccountingLineitem_locations:
      items:
        $ref: '#/components/schemas/AccountingReference'
      type: array
    AccountingReference:
      properties:
        id:
          type: string
        name:
          type: string
      type: object
    property_AccountingBill_attachments:
      items:
        $ref: '#/components/schemas/AccountingAttachment'
      type: array
    property_AccountingLineitem_category_ids:
      items:
        type: string
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
