openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account application API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: application
paths:
  /ats/{connection_id}/application:
    get:
      operationId: listAtsApplications
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The job ID to filter by
        in: query
        name: job_id
        required: false
        schema:
          type: string
      - description: The candidate ID to filter by
        in: query
        name: candidate_id
        required: false
        schema:
          type: string
      - description: The company ID to filter by (reference to AtsCompany)
        in: query
        name: company_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - candidate_id
            - job_id
            - created_at
            - updated_at
            - applied_at
            - hired_at
            - rejected_at
            - rejected_reason
            - source
            - status
            - original_status
            - answers
            - offers
            - user_id
            - metadata
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsApplications'
          description: Successful
      security:
      - jwt: []
      summary: List all applications
      tags:
      - application
    post:
      operationId: createAtsApplication
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - candidate_id
            - job_id
            - created_at
            - updated_at
            - applied_at
            - hired_at
            - rejected_at
            - rejected_reason
            - source
            - status
            - original_status
            - answers
            - offers
            - user_id
            - metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtsApplication'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsApplication'
          description: Successful
      security:
      - jwt: []
      summary: Create an application
      tags:
      - application
  /ats/{connection_id}/application/{id}:
    delete:
      operationId: removeAtsApplication
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Application
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove an application
      tags:
      - application
    get:
      operationId: getAtsApplication
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - candidate_id
            - job_id
            - created_at
            - updated_at
            - applied_at
            - hired_at
            - rejected_at
            - rejected_reason
            - source
            - status
            - original_status
            - answers
            - offers
            - user_id
            - metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Application
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsApplication'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve an application
      tags:
      - application
    patch:
      operationId: patchAtsApplication
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - candidate_id
            - job_id
            - created_at
            - updated_at
            - applied_at
            - hired_at
            - rejected_at
            - rejected_reason
            - source
            - status
            - original_status
            - answers
            - offers
            - user_id
            - metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Application
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtsApplication'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsApplication'
          description: Successful
      security:
      - jwt: []
      summary: Update an application
      tags:
      - application
    put:
      operationId: updateAtsApplication
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - candidate_id
            - job_id
            - created_at
            - updated_at
            - applied_at
            - hired_at
            - rejected_at
            - rejected_reason
            - source
            - status
            - original_status
            - answers
            - offers
            - user_id
            - metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Application
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtsApplication'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtsApplication'
          description: Successful
      security:
      - jwt: []
      summary: Update an application
      tags:
      - application
components:
  schemas:
    property_AtsApplication_metadata:
      items:
        $ref: '#/components/schemas/AtsMetadata'
      type: array
    property_AtsApplicationAnswer_answers:
      items:
        type: string
      type: array
    AtsApplication:
      properties:
        answers:
          $ref: '#/components/schemas/property_AtsApplication_answers'
        applied_at:
          format: date-time
          type: string
        candidate_id:
          type: string
        created_at:
          format: date-time
          type: string
        hired_at:
          format: date-time
          type: string
        id:
          type: string
        job_id:
          type: string
        metadata:
          $ref: '#/components/schemas/property_AtsApplication_metadata'
        offers:
          $ref: '#/components/schemas/property_AtsApplication_offers'
        original_status:
          type: string
        raw:
          additionalProperties: true
          type: object
        rejected_at:
          format: date-time
          type: string
        rejected_reason:
          type: string
        source:
          type: string
        status:
          enum:
          - NEW
          - REVIEWING
          - SCREENING
          - SUBMITTED
          - FIRST_INTERVIEW
          - SECOND_INTERVIEW
          - THIRD_INTERVIEW
          - BACKGROUND_CHECK
          - OFFERED
          - ACCEPTED
          - HIRED
          - REJECTED
          - DECLINED
          - WITHDRAWN
          type: string
          x-speakeasy-unknown-values: allow
        updated_at:
          format: date-time
          type: string
        user_id:
          type: string
      type: object
    property_AtsApplication_offers:
      items:
        $ref: '#/components/schemas/AtsOffer'
      type: array
    property_AtsApplication_answers:
      items:
        $ref: '#/components/schemas/AtsApplicationAnswer'
      type: array
    AtsOffer:
      properties:
        accepted_at:
          format: date-time
          type: string
        compensation:
          $ref: '#/components/schemas/property_AtsOffer_compensation'
        created_at:
          format: date-time
          type: string
        creator_user_id:
          type: string
        employee_user_id:
          type: string
        id:
          type: string
        raw:
          additionalProperties: true
          type: object
        rejected_at:
          format: date-time
          type: string
        sent_at:
          format: date-time
          type: string
        start_at:
          format: date-time
          type: string
        status:
          enum:
          - CREATED
          - SENT
          - ACCEPTED
          - REJECTED
          type: string
          x-speakeasy-unknown-values: allow
        updated_at:
          format: date-time
          type: string
      type: object
    AtsApplications:
      items:
        $ref: '#/components/schemas/AtsApplication'
      type: array
    property_AtsOffer_compensation:
      description: compensation details for the offer
      items:
        $ref: '#/components/schemas/AtsCompensation'
      type: array
    AtsCompensation:
      properties:
        currency:
          type: string
        frequency:
          enum:
          - ONE_TIME
          - DAY
          - QUARTER
          - YEAR
          - HOUR
          - MONTH
          - WEEK
          type: string
          x-speakeasy-unknown-values: allow
        max:
          type: number
        min:
          type: number
        type:
          enum:
          - SALARY
          - BONUS
          - STOCK_OPTIONS
          - EQUITY
          - OTHER
          type: string
          x-speakeasy-unknown-values: allow
      type: object
    AtsMetadata:
      properties:
        extra_data:
          additionalProperties: true
          anyOf:
          - type: object
          - type: string
          - type: number
          - type: boolean
          - items:
              anyOf:
              - type: object
              - type: string
              - type: number
              - type: boolean
            type: array
        format:
          enum:
          - TEXT
          - NUMBER
          - DATE
          - BOOLEAN
          - FILE
          - TEXTAREA
          - SINGLE_SELECT
          - MULTIPLE_SELECT
          - MEASUREMENT
          - PRICE
          - YES_NO
          - CURRENCY
          - URL
          type: string
          x-speakeasy-unknown-values: allow
        id:
          type: string
        namespace:
          type: string
        slug:
          type: string
        value:
          additionalProperties: true
          anyOf:
          - type: object
          - type: string
          - type: number
          - type: boolean
          - items:
              anyOf:
              - type: object
              - type: string
              - type: number
              - type: boolean
            type: array
      type: object
    AtsApplicationAnswer:
      properties:
        answers:
          $ref: '#/components/schemas/property_AtsApplicationAnswer_answers'
        question:
          type: string
        question_id:
          type: string
      required:
      - question_id
      - answers
      type: object
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
