openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: account
paths:
  /accounting/{connection_id}/account:
    get:
      operationId: listAccountingAccounts
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AccountingOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - description: The type to filter by
        in: query
        name: type
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - type
            - status
            - balance
            - currency
            - customer_defined_code
            - is_payable
            - section
            - subsection
            - group
            - subgroup
            - parent_id
            - taxonomy
            - organization_id
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingAccounts'
          description: Successful
      security:
      - jwt: []
      summary: List all accounts
      tags:
      - account
    post:
      operationId: createAccountingAccount
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - type
            - status
            - balance
            - currency
            - customer_defined_code
            - is_payable
            - section
            - subsection
            - group
            - subgroup
            - parent_id
            - taxonomy
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingAccount'
        description: Chart of accounts
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingAccount'
          description: Successful
      security:
      - jwt: []
      summary: Create an account
      tags:
      - account
  /accounting/{connection_id}/account/{id}:
    delete:
      operationId: removeAccountingAccount
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Account
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove an account
      tags:
      - account
    get:
      operationId: getAccountingAccount
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - type
            - status
            - balance
            - currency
            - customer_defined_code
            - is_payable
            - section
            - subsection
            - group
            - subgroup
            - parent_id
            - taxonomy
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Account
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingAccount'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve an account
      tags:
      - account
    patch:
      operationId: patchAccountingAccount
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - type
            - status
            - balance
            - currency
            - customer_defined_code
            - is_payable
            - section
            - subsection
            - group
            - subgroup
            - parent_id
            - taxonomy
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Account
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingAccount'
        description: Chart of accounts
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingAccount'
          description: Successful
      security:
      - jwt: []
      summary: Update an account
      tags:
      - account
    put:
      operationId: updateAccountingAccount
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - description
            - type
            - status
            - balance
            - currency
            - customer_defined_code
            - is_payable
            - section
            - subsection
            - group
            - subgroup
            - parent_id
            - taxonomy
            - organization_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Account
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingAccount'
        description: Chart of accounts
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingAccount'
          description: Successful
      security:
      - jwt: []
      summary: Update an account
      tags:
      - account
components:
  schemas:
    AccountingAccount:
      description: Chart of accounts
      properties:
        balance:
          type: number
        created_at:
          format: date-time
          type: string
        currency:
          type: string
        customer_defined_code:
          type: string
        description:
          type: string
        group:
          type: string
        id:
          type: string
        is_payable:
          type: boolean
        name:
          type: string
        organization_id:
          type: string
        parent_id:
          type: string
        raw:
          additionalProperties: true
          type: object
        section:
          type: string
        status:
          enum:
          - ACTIVE
          - ARCHIVED
          type: string
          x-speakeasy-unknown-values: allow
        subgroup:
          type: string
        subsection:
          type: string
        taxonomy:
          $ref: '#/components/schemas/property_AccountingAccount_taxonomy'
        type:
          enum:
          - ACCOUNTS_PAYABLE
          - ACCOUNTS_RECEIVABLE
          - BANK
          - CREDIT_CARD
          - FIXED_ASSET
          - LIABILITY
          - EQUITY
          - EXPENSE
          - REVENUE
          - OTHER
          type: string
          x-speakeasy-unknown-values: allow
        updated_at:
          format: date-time
          type: string
      type: object
    AccountingAccounts:
      items:
        $ref: '#/components/schemas/AccountingAccount'
      type: array
    property_AccountingAccount_taxonomy:
      items:
        $ref: '#/components/schemas/AccountingAccountTaxonomy'
      type: array
    AccountingAccountTaxonomy:
      properties:
        original_type:
          type: string
        type:
          enum:
          - CLASSIFICATION
          - GROUP
          - SUBGROUP
          - SYSTEM_ROLE
          - OTHER
          type: string
          x-speakeasy-unknown-values: allow
        value:
          type: string
      required:
      - type
      - value
      type: object
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
