openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account submission API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: submission
paths:
  /forms/{connection_id}/submission:
    get:
      operationId: listFormsSubmissions
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The form ID to filter by
        in: query
        name: form_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - form_id
            - respondent_email
            - respondent_name
            - answers
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormsSubmissions'
          description: Successful
      security:
      - jwt: []
      summary: List All Submissions
      tags:
      - submission
  /forms/{connection_id}/submission/{id}:
    get:
      operationId: getFormsSubmission
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - form_id
            - respondent_email
            - respondent_name
            - answers
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Submission
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormsSubmission'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Submission
      tags:
      - submission
components:
  schemas:
    property_FormsSubmission_answers:
      items:
        $ref: '#/components/schemas/FormAnswer'
      type: array
    FormsSubmissions:
      items:
        $ref: '#/components/schemas/FormsSubmission'
      type: array
    FormAnswer:
      properties:
        field_id:
          type: string
        field_name:
          type: string
        file_ids:
          $ref: '#/components/schemas/property_FormAnswer_file_ids'
        value:
          type: string
      required:
      - field_id
      type: object
    FormsSubmission:
      properties:
        answers:
          $ref: '#/components/schemas/property_FormsSubmission_answers'
        created_at:
          format: date-time
          type: string
        form_id:
          type: string
        id:
          type: string
        raw:
          additionalProperties: true
          type: object
        respondent_email:
          type: string
        respondent_name:
          type: string
        updated_at:
          format: date-time
          type: string
      required:
      - form_id
      - answers
      type: object
    property_FormAnswer_file_ids:
      description: references StorageFile ID
      items:
        type: string
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
