openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account lead API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: lead
paths:
  /crm/{connection_id}/lead:
    get:
      operationId: listCrmLeads
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The company ID to filter by (reference to CrmCompany)
        in: query
        name: company_id
        required: false
        schema:
          type: string
      - description: The contact ID to filter by (reference to CrmContact)
        in: query
        name: contact_id
        required: false
        schema:
          type: string
      - description: The user/employee ID to filter by (reference to HrisEmployee)
        in: query
        name: user_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - user_id
            - creator_user_id
            - contact_id
            - company_id
            - company_name
            - is_active
            - address
            - emails
            - telephones
            - source
            - status
            - link_urls
            - metadata
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmLeads'
          description: Successful
      security:
      - jwt: []
      summary: List all leads
      tags:
      - lead
    post:
      operationId: createCrmLead
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - user_id
            - creator_user_id
            - contact_id
            - company_id
            - company_name
            - is_active
            - address
            - emails
            - telephones
            - source
            - status
            - link_urls
            - metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrmLead'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmLead'
          description: Successful
      security:
      - jwt: []
      summary: Create a lead
      tags:
      - lead
  /crm/{connection_id}/lead/{id}:
    delete:
      operationId: removeCrmLead
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Lead
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a lead
      tags:
      - lead
    get:
      operationId: getCrmLead
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - user_id
            - creator_user_id
            - contact_id
            - company_id
            - company_name
            - is_active
            - address
            - emails
            - telephones
            - source
            - status
            - link_urls
            - metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Lead
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmLead'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a lead
      tags:
      - lead
    patch:
      operationId: patchCrmLead
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - user_id
            - creator_user_id
            - contact_id
            - company_id
            - company_name
            - is_active
            - address
            - emails
            - telephones
            - source
            - status
            - link_urls
            - metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Lead
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrmLead'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmLead'
          description: Successful
      security:
      - jwt: []
      summary: Update a lead
      tags:
      - lead
    put:
      operationId: updateCrmLead
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - user_id
            - creator_user_id
            - contact_id
            - company_id
            - company_name
            - is_active
            - address
            - emails
            - telephones
            - source
            - status
            - link_urls
            - metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Lead
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrmLead'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmLead'
          description: Successful
      security:
      - jwt: []
      summary: Update a lead
      tags:
      - lead
components:
  schemas:
    property_CrmLead_metadata:
      items:
        $ref: '#/components/schemas/CrmMetadata'
      type: array
    CrmEmail:
      properties:
        email:
          type: string
        type:
          enum:
          - WORK
          - HOME
          - OTHER
          type: string
          x-speakeasy-unknown-values: allow
      type: object
    CrmMetadata:
      properties:
        extra_data:
          additionalProperties: true
          anyOf:
          - type: object
          - type: string
          - type: number
          - type: boolean
          - items:
              anyOf:
              - type: object
              - type: string
              - type: number
              - type: boolean
            type: array
        format:
          enum:
          - TEXT
          - NUMBER
          - DATE
          - BOOLEAN
          - FILE
          - TEXTAREA
          - SINGLE_SELECT
          - MULTIPLE_SELECT
          - MEASUREMENT
          - PRICE
          - YES_NO
          - CURRENCY
          - URL
          type: string
          x-speakeasy-unknown-values: allow
        id:
          type: string
        namespace:
          type: string
        slug:
          type: string
        value:
          additionalProperties: true
          anyOf:
          - type: object
          - type: string
          - type: number
          - type: boolean
          - items:
              anyOf:
              - type: object
              - type: string
              - type: number
              - type: boolean
            type: array
      type: object
    property_CrmLead_emails:
      items:
        $ref: '#/components/schemas/CrmEmail'
      type: array
    property_CrmLead_address:
      properties:
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        country:
          type: string
        country_code:
          type: string
        postal_code:
          type: string
        region:
          type: string
        region_code:
          type: string
      type: object
    property_CrmLead_link_urls:
      items:
        type: string
      type: array
    CrmLead:
      properties:
        address:
          $ref: '#/components/schemas/property_CrmLead_address'
        company_id:
          type: string
        company_name:
          type: string
        contact_id:
          type: string
        created_at:
          format: date-time
          type: string
        creator_user_id:
          type: string
        emails:
          $ref: '#/components/schemas/property_CrmLead_emails'
        first_name:
          type: string
        id:
          type: string
        is_active:
          type: boolean
        last_name:
          type: string
        link_urls:
          $ref: '#/components/schemas/property_CrmLead_link_urls'
        metadata:
          $ref: '#/components/schemas/property_CrmLead_metadata'
        name:
          type: string
        raw:
          additionalProperties: true
          type: object
        source:
          type: string
        status:
          type: string
        telephones:
          $ref: '#/components/schemas/property_CrmLead_telephones'
        updated_at:
          format: date-time
          type: string
        user_id:
          type: string
      type: object
    property_CrmLead_telephones:
      items:
        $ref: '#/components/schemas/CrmTelephone'
      type: array
    CrmLeads:
      items:
        $ref: '#/components/schemas/CrmLead'
      type: array
    CrmTelephone:
      properties:
        telephone:
          type: string
        type:
          enum:
          - WORK
          - HOME
          - OTHER
          - FAX
          - MOBILE
          type: string
          x-speakeasy-unknown-values: allow
      required:
      - telephone
      type: object
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
