openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account device API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: device
paths:
  /hris/{connection_id}/device:
    get:
      operationId: listHrisDevices
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The user/employee ID to filter by (reference to HrisEmployee)
        in: query
        name: user_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - asset_tag
            - version
            - manufacturer
            - model
            - os
            - os_version
            - user_ids
            - admin_user_ids
            - location_id
            - has_antivirus
            - has_password_manager
            - has_firewall
            - has_hd_encrypted
            - has_screenlock
            - is_missing
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HrisDevices'
          description: Successful
      security:
      - jwt: []
      summary: List All Devices
      tags:
      - device
    post:
      operationId: createHrisDevice
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - asset_tag
            - version
            - manufacturer
            - model
            - os
            - os_version
            - user_ids
            - admin_user_ids
            - location_id
            - has_antivirus
            - has_password_manager
            - has_firewall
            - has_hd_encrypted
            - has_screenlock
            - is_missing
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HrisDevice'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HrisDevice'
          description: Successful
      security:
      - jwt: []
      summary: Create a Device
      tags:
      - device
  /hris/{connection_id}/device/{id}:
    delete:
      operationId: removeHrisDevice
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Device
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Device
      tags:
      - device
    get:
      operationId: getHrisDevice
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - asset_tag
            - version
            - manufacturer
            - model
            - os
            - os_version
            - user_ids
            - admin_user_ids
            - location_id
            - has_antivirus
            - has_password_manager
            - has_firewall
            - has_hd_encrypted
            - has_screenlock
            - is_missing
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Device
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HrisDevice'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Device
      tags:
      - device
    patch:
      operationId: patchHrisDevice
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - asset_tag
            - version
            - manufacturer
            - model
            - os
            - os_version
            - user_ids
            - admin_user_ids
            - location_id
            - has_antivirus
            - has_password_manager
            - has_firewall
            - has_hd_encrypted
            - has_screenlock
            - is_missing
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Device
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HrisDevice'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HrisDevice'
          description: Successful
      security:
      - jwt: []
      summary: Update a Device
      tags:
      - device
    put:
      operationId: updateHrisDevice
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - asset_tag
            - version
            - manufacturer
            - model
            - os
            - os_version
            - user_ids
            - admin_user_ids
            - location_id
            - has_antivirus
            - has_password_manager
            - has_firewall
            - has_hd_encrypted
            - has_screenlock
            - is_missing
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Device
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HrisDevice'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HrisDevice'
          description: Successful
      security:
      - jwt: []
      summary: Update a Device
      tags:
      - device
components:
  schemas:
    property_HrisDevice_user_ids:
      description: users who have this device
      items:
        type: string
      type: array
    HrisDevice:
      properties:
        admin_user_ids:
          $ref: '#/components/schemas/property_HrisDevice_admin_user_ids'
        asset_tag:
          type: string
        created_at:
          format: date-time
          type: string
        has_antivirus:
          type: boolean
        has_firewall:
          type: boolean
        has_hd_encrypted:
          type: boolean
        has_password_manager:
          type: boolean
        has_screenlock:
          type: boolean
        id:
          type: string
        is_missing:
          type: boolean
        location_id:
          type: string
        manufacturer:
          type: string
        model:
          type: string
        name:
          type: string
        os:
          type: string
        os_version:
          type: string
        raw:
          additionalProperties: true
          type: object
        updated_at:
          format: date-time
          type: string
        user_ids:
          $ref: '#/components/schemas/property_HrisDevice_user_ids'
        version:
          type: string
      required:
      - name
      type: object
    property_HrisDevice_admin_user_ids:
      items:
        type: string
      type: array
    HrisDevices:
      items:
        $ref: '#/components/schemas/HrisDevice'
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
