openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account task API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: task
paths:
  /task/{connection_id}/change:
    get:
      operationId: listTaskChanges
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The task ID to filter by (reference to TaskTask)
        in: query
        name: task_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - task_id
            - user_id
            - items
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskChanges'
          description: Successful
      security:
      - jwt: []
      summary: List All Changes
      tags:
      - task
  /task/{connection_id}/change/{id}:
    get:
      operationId: getTaskChange
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - task_id
            - user_id
            - items
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Change
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskChange'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Change
      tags:
      - task
  /task/{connection_id}/comment:
    get:
      operationId: listTaskComments
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The task ID to filter by (reference to TaskTask)
        in: query
        name: task_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - text
            - user_id
            - user_name
            - task_id
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskComments'
          description: Successful
      security:
      - jwt: []
      summary: List All Comments
      tags:
      - task
    post:
      operationId: createTaskComment
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - text
            - user_id
            - user_name
            - task_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskComment'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskComment'
          description: Successful
      security:
      - jwt: []
      summary: Create a Comment
      tags:
      - task
  /task/{connection_id}/comment/{id}:
    delete:
      operationId: removeTaskComment
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Comment
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Comment
      tags:
      - task
    get:
      operationId: getTaskComment
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - text
            - user_id
            - user_name
            - task_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Comment
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskComment'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Comment
      tags:
      - task
    patch:
      operationId: patchTaskComment
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - text
            - user_id
            - user_name
            - task_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Comment
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskComment'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskComment'
          description: Successful
      security:
      - jwt: []
      summary: Update a Comment
      tags:
      - task
    put:
      operationId: updateTaskComment
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - text
            - user_id
            - user_name
            - task_id
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Comment
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskComment'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskComment'
          description: Successful
      security:
      - jwt: []
      summary: Update a Comment
      tags:
      - task
  /task/{connection_id}/project:
    get:
      operationId: listTaskProjects
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The parent ID to filter by
        in: query
        name: parent_id
        required: false
        schema:
          type: string
      - description: The company ID to filter by (reference to HrisCompany)
        in: query
        name: company_id
        required: false
        schema:
          type: string
      - description: The user/employee ID to filter by (reference to HrisEmployee)
        in: query
        name: user_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - parent_id
            - user_ids
            - group_ids
            - description
            - has_tasks
            - has_children
            - metadata
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskProjects'
          description: Successful
      security:
      - jwt: []
      summary: List All Projects
      tags:
      - task
    post:
      operationId: createTaskProject
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - parent_id
            - user_ids
            - group_ids
            - description
            - has_tasks
            - has_children
            - metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskProject'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskProject'
          description: Successful
      security:
      - jwt: []
      summary: Create a Project
      tags:
      - task
  /task/{connection_id}/project/{id}:
    delete:
      operationId: removeTaskProject
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Project
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Project
      tags:
      - task
    get:
      operationId: getTaskProject
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - parent_id
            - user_ids
            - group_ids
            - description
            - has_tasks
            - has_children
            - metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Project
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskProject'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Project
      tags:
      - task
    patch:
      operationId: patchTaskProject
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - parent_id
            - user_ids
            - group_ids
            - description
            - has_tasks
            - has_children
            - metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Project
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskProject'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskProject'
          description: Successful
      security:
      - jwt: []
      summary: Update a Project
      tags:
      - task
    put:
      operationId: updateTaskProject
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - parent_id
            - user_ids
            - group_ids
            - description
            - has_tasks
            - has_children
            - metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Project
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskProject'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskProject'
          description: Successful
      security:
      - jwt: []
      summary: Update a Project
      tags:
      - task
  /task/{connection_id}/task:
    get:
      operationId: listTaskTasks
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The project ID to filter by (reference to TaskProject)
        in: query
        name: project_id
        required: false
        schema:
          type: string
      - description: The parent ID to filter by
        in: query
        name: parent_id
        required: false
        schema:
          type: string
      - description: The user/employee ID to filter by (reference to HrisEmployee)
        in: query
        name: user_id
        required: false
        schema:
          type: string
      - description: The status to filter by
        in: query
        name: status
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - project_id
            - parent_id
            - completed_at
            - status
            - notes
            - due_at
            - priority
            - assigned_user_ids
            - creator_user_id
            - follower_user_ids
            - group_ids
            - tags
            - url
            - attachment_ids
            - metadata
            - has_children
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskTasks'
          description: Successful
      security:
      - jwt: []
      summary: List All Tasks
      tags:
      - task
    post:
      operationId: createTaskTask
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - project_id
            - parent_id
            - completed_at
            - status
            - notes
            - due_at
            - priority
            - assigned_user_ids
            - creator_user_id
            - follower_user_ids
            - group_ids
            - tags
            - url
            - attachment_ids
            - metadata
            - has_children
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskTask'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskTask'
          description: Successful
      security:
      - jwt: []
      summary: Create a Task
      tags:
      - task
  /task/{connection_id}/task/{id}:
    delete:
      operationId: removeTaskTask
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Task
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Task
      tags:
      - task
    get:
      operationId: getTaskTask
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - project_id
            - parent_id
            - completed_at
            - status
            - notes
            - due_at
            - priority
            - assigned_user_ids
            - creator_user_id
            - follower_user_ids
            - group_ids
            - tags
            - url
            - attachment_ids
            - metadata
            - has_children
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Task
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskTask'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Task
      tags:
      - task
    patch:
      operationId: patchTaskTask
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - project_id
            - parent_id
            - completed_at
            - status
            - notes
            - due_at
            - priority
            - assigned_user_ids
            - creator_user_id
            - follower_user_ids
            - group_ids
            - tags
            - url
            - attachment_ids
            - metadata
            - has_children
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Task
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskTask'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskTask'
          description: Successful
      security:
      - jwt: []
      summary: Update a Task
      tags:
      - task
    put:
      operationId: updateTaskTask
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - project_id
            - parent_id
            - completed_at
            - status
            - notes
            - due_at
            - priority
            - assigned_user_ids
            - creator_user_id
            - follower_user_ids
            - group_ids
            - tags
            - url
            - attachment_ids
            - metadata
            - has_children
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Task
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskTask'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskTask'
          description: Successful
      security:
      - jwt: []
      summary: Update a Task
      tags:
      - task
components:
  schemas:
    property_TaskProject_user_ids:
      items:
        type: string
      type: array
    property_TaskTask_assigned_user_ids:
      items:
        type: string
      type: array
    TaskTask:
      properties:
        assigned_user_ids:
          $ref: '#/components/schemas/property_TaskTask_assigned_user_ids'
        attachment_ids:
          $ref: '#/components/schemas/property_TaskTask_attachment_ids'
        completed_at:
          format: date-time
          type: string
        created_at:
          format: date-time
          type: string
        creator_user_id:
          type: string
        due_at:
          format: date-time
          type: string
        follower_user_ids:
          $ref: '#/components/schemas/property_TaskTask_follower_user_ids'
        group_ids:
          $ref: '#/components/schemas/property_TaskTask_group_ids'
        has_children:
          type: boolean
        id:
          type: string
        metadata:
          $ref: '#/components/schemas/property_TaskTask_metadata'
        name:
          type: string
        notes:
          type: string
        parent_id:
          type: string
        priority:
          type: string
        project_id:
          type: string
        raw:
          additionalProperties: true
          type: object
        status:
          enum:
          - OPENED
          - IN_PROGRESS
          - COMPLETED
          type: string
          x-speakeasy-unknown-values: allow
        tags:
          $ref: '#/components/schemas/property_TaskTask_tags'
        updated_at:
          format: date-time
          type: string
        url:
          type: string
      type: object
    property_TaskTask_follower_user_ids:
      items:
        type: string
      type: array
    property_TaskTask_tags:
      items:
        type: string
      type: array
    property_TaskTask_group_ids:
      items:
        type: string
      type: array
    TaskChangeItem:
      properties:
        field:
          type: string
        from:
          type: string
        to:
          type: string
      required:
      - field
      type: object
    TaskChanges:
      items:
        $ref: '#/components/schemas/TaskChange'
      type: array
    TaskMetadata:
      properties:
        extra_data:
          additionalProperties: true
          anyOf:
          - type: object
          - type: string
          - type: number
          - type: boolean
          - items:
              anyOf:
              - type: object
              - type: string
              - type: number
              - type: boolean
            type: array
        format:
          enum:
          - TEXT
          - NUMBER
          - DATE
          - BOOLEAN
          - FILE
          - TEXTAREA
          - SINGLE_SELECT
          - MULTIPLE_SELECT
          - MEASUREMENT
          - PRICE
          - YES_NO
          - CURRENCY
          - URL
          type: string
          x-speakeasy-unknown-values: allow
        id:
          type: string
        key:
          type: string
        namespace:
          type: string
        slug:
          type: string
        type:
          type: string
        value:
          additionalProperties: true
          anyOf:
          - type: object
          - type: string
          - type: number
          - type: boolean
          - items:
              anyOf:
              - type: object
              - type: string
              - type: number
              - type: boolean
            type: array
      type: object
    property_TaskProject_group_ids:
      items:
        type: string
      type: array
    property_TaskChange_items:
      items:
        $ref: '#/components/schemas/TaskChangeItem'
      type: array
    property_TaskTask_metadata:
      items:
        $ref: '#/components/schemas/TaskMetadata'
      type: array
    property_TaskProject_metadata:
      items:
        $ref: '#/components/schemas/TaskMetadata'
      type: array
    TaskProjects:
      items:
        $ref: '#/components/schemas/TaskProject'
      type: array
    TaskComment:
      properties:
        created_at:
          format: date-time
          type: string
        id:
          type: string
        raw:
          additionalProperties: true
          type: object
        task_id:
          type: string
        text:
          type: string
        updated_at:
          format: date-time
          type: string
        user_id:
          type: string
        user_name:
          type: string
      required:
      - text
      type: object
    TaskChange:
      properties:
        created_at:
          format: date-time
          type: string
        id:
          type: string
        items:
          $ref: '#/components/schemas/property_TaskChange_items'
        raw:
          additionalProperties: true
          type: object
        task_id:
          type: string
        updated_at:
          format: date-time
          type: string
        user_id:
          type: string
      type: object
    TaskProject:
      properties:
        created_at:
          format: date-time
          type: string
        description:
          type: string
        group_ids:
          $ref: '#/components/schemas/property_TaskProject_group_ids'
        has_children:
          type: boolean
        has_tasks:
          type: boolean
        id:
          type: string
        metadata:
          $ref: '#/components/schemas/property_TaskProject_metadata'
        name:
          type: string
        parent_id:
          type: string
        raw:
          additionalProperties: true
          type: object
        updated_at:
          format: date-time
          type: string
        user_ids:
          $ref: '#/components/schemas/property_TaskProject_user_ids'
      type: object
    TaskTasks:
      items:
        $ref: '#/components/schemas/TaskTask'
      type: array
    property_TaskTask_attachment_ids:
      description: Array of attachment IDs retrieved from StorageFile.Get endpoint
      items:
        type: string
      type: array
    TaskComments:
      items:
        $ref: '#/components/schemas/TaskComment'
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
