openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account link API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: link
paths:
  /calendar/{connection_id}/link:
    get:
      operationId: listCalendarLinks
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - url
            - duration
            - description
            - is_active
            - price_amount
            - price_currency
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarLinks'
          description: Successful
      security:
      - jwt: []
      summary: List All Links
      tags:
      - link
    post:
      operationId: createCalendarLink
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - url
            - duration
            - description
            - is_active
            - price_amount
            - price_currency
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarLink'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarLink'
          description: Successful
      security:
      - jwt: []
      summary: Create a Link
      tags:
      - link
  /calendar/{connection_id}/link/{id}:
    delete:
      operationId: removeCalendarLink
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Link
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Link
      tags:
      - link
    get:
      operationId: getCalendarLink
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - url
            - duration
            - description
            - is_active
            - price_amount
            - price_currency
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Link
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarLink'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Link
      tags:
      - link
    patch:
      operationId: patchCalendarLink
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - url
            - duration
            - description
            - is_active
            - price_amount
            - price_currency
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Link
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarLink'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarLink'
          description: Successful
      security:
      - jwt: []
      summary: Update a Link
      tags:
      - link
    put:
      operationId: updateCalendarLink
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - url
            - duration
            - description
            - is_active
            - price_amount
            - price_currency
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Link
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarLink'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarLink'
          description: Successful
      security:
      - jwt: []
      summary: Update a Link
      tags:
      - link
  /payment/{connection_id}/link:
    get:
      operationId: listPaymentLinks
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The contact ID to filter by (reference to AccountingContact)
        in: query
        name: contact_id
        required: false
        schema:
          type: string
      - description: The payment ID to filter by (reference to PaymentPayment)
        in: query
        name: payment_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - is_active
            - lineitems
            - currency
            - amount
            - payment_id
            - contact_id
            - url
            - is_chargeable_now
            - success_url
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinks'
          description: Successful
      security:
      - jwt: []
      summary: List All Links
      tags:
      - link
    post:
      operationId: createPaymentLink
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - is_active
            - lineitems
            - currency
            - amount
            - payment_id
            - contact_id
            - url
            - is_chargeable_now
            - success_url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentLink'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLink'
          description: Successful
      security:
      - jwt: []
      summary: Create a Link
      tags:
      - link
  /payment/{connection_id}/link/{id}:
    delete:
      operationId: removePaymentLink
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Link
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Link
      tags:
      - link
    get:
      operationId: getPaymentLink
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - is_active
            - lineitems
            - currency
            - amount
            - payment_id
            - contact_id
            - url
            - is_chargeable_now
            - success_url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Link
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLink'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Link
      tags:
      - link
    patch:
      operationId: patchPaymentLink
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - is_active
            - lineitems
            - currency
            - amount
            - payment_id
            - contact_id
            - url
            - is_chargeable_now
            - success_url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Link
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentLink'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLink'
          description: Successful
      security:
      - jwt: []
      summary: Update a Link
      tags:
      - link
    put:
      operationId: updatePaymentLink
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - is_active
            - lineitems
            - currency
            - amount
            - payment_id
            - contact_id
            - url
            - is_chargeable_now
            - success_url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Link
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentLink'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLink'
          description: Successful
      security:
      - jwt: []
      summary: Update a Link
      tags:
      - link
components:
  schemas:
    CalendarLink:
      properties:
        created_at:
          type: string
        description:
          type: string
        duration:
          type: number
        id:
          type: string
        is_active:
          type: boolean
        name:
          type: string
        price_amount:
          type: number
        price_currency:
          type: string
        raw:
          additionalProperties: true
          type: object
        updated_at:
          type: string
        url:
          type: string
      required:
      - url
      type: object
    PaymentLineitem:
      properties:
        account_id:
          type: string
        created_at:
          format: date-time
          type: string
        discount_amount:
          type: number
        id:
          type: string
        item_description:
          type: string
        item_id:
          type: string
        item_name:
          type: string
        item_sku:
          type: string
        notes:
          type: string
        refund_amount:
          type: number
        refunded_at:
          format: date-time
          type: string
        tax_amount:
          type: number
        taxrate_id:
          type: string
        total_amount:
          type: number
        unit_amount:
          type: number
        unit_quantity:
          type: number
        updated_at:
          format: date-time
          type: string
      type: object
    PaymentLinks:
      items:
        $ref: '#/components/schemas/PaymentLink'
      type: array
    property_PaymentLink_lineitems:
      items:
        $ref: '#/components/schemas/PaymentLineitem'
      type: array
    CalendarLinks:
      items:
        $ref: '#/components/schemas/CalendarLink'
      type: array
    PaymentLink:
      properties:
        amount:
          type: number
        contact_id:
          type: string
        created_at:
          format: date-time
          type: string
        currency:
          type: string
        id:
          type: string
        is_active:
          type: boolean
        is_chargeable_now:
          type: boolean
        lineitems:
          $ref: '#/components/schemas/property_PaymentLink_lineitems'
        payment_id:
          type: string
        raw:
          additionalProperties: true
          type: object
        success_url:
          type: string
        updated_at:
          format: date-time
          type: string
        url:
          type: string
      type: object
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
