openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account balancesheet API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: balancesheet
paths:
  /accounting/{connection_id}/balancesheet:
    get:
      operationId: listAccountingBalancesheets
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: The category ID to filter by (reference to AccountingCategory)
        in: query
        name: category_id
        required: false
        schema:
          type: string
      - description: The contact ID to filter by (reference to AccountingContact)
        in: query
        name: contact_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - start_at
            - end_at
            - name
            - currency
            - net_assets_amount
            - assets
            - liabilities
            - equity
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBalancesheets'
          description: Successful
      security:
      - jwt: []
      summary: List all balancesheets
      tags:
      - balancesheet
  /accounting/{connection_id}/balancesheet/{id}:
    get:
      operationId: getAccountingBalancesheet
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - start_at
            - end_at
            - name
            - currency
            - net_assets_amount
            - assets
            - liabilities
            - equity
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Balancesheet
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingBalancesheet'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a balancesheet
      tags:
      - balancesheet
components:
  schemas:
    property_AccountingBalancesheetItem_sub_items:
      items:
        $ref: '#/components/schemas/AccountingBalancesheetItem'
      type: array
    AccountingBalancesheets:
      items:
        $ref: '#/components/schemas/AccountingBalancesheet'
      type: array
    property_AccountingBalancesheet_assets:
      items:
        $ref: '#/components/schemas/AccountingBalancesheetItem'
      type: array
    AccountingBalancesheet:
      properties:
        assets:
          $ref: '#/components/schemas/property_AccountingBalancesheet_assets'
        created_at:
          format: date-time
          type: string
        currency:
          type: string
        end_at:
          format: date-time
          type: string
        equity:
          $ref: '#/components/schemas/property_AccountingBalancesheet_equity'
        id:
          type: string
        liabilities:
          $ref: '#/components/schemas/property_AccountingBalancesheet_liabilities'
        name:
          type: string
        net_assets_amount:
          type: number
        raw:
          additionalProperties: true
          type: object
        start_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    property_AccountingBalancesheet_equity:
      items:
        $ref: '#/components/schemas/AccountingBalancesheetItem'
      type: array
    AccountingBalancesheetItem:
      properties:
        account_id:
          type: string
        amount:
          type: number
        name:
          type: string
        sub_items:
          $ref: '#/components/schemas/property_AccountingBalancesheetItem_sub_items'
      type: object
    property_AccountingBalancesheet_liabilities:
      items:
        $ref: '#/components/schemas/AccountingBalancesheetItem'
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
