openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account commerce API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: commerce
paths:
  /commerce/{connection_id}/availability:
    get:
      operationId: listCommerceAvailabilities
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The location ID to filter by (reference to CommerceLocation)
        in: query
        name: location_id
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: The item ID to filter by (reference to CommerceItem)
        in: query
        name: item_id
        required: false
        schema:
          type: string
      - description: The user/employee ID to filter by (reference to HrisEmployee)
        in: query
        name: user_id
        required: false
        schema:
          type: string
      - description: Filter by party size (dining)
        in: query
        name: size
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - location_id
            - start_at
            - end_at
            - size
            - item_id
            - staff_user_id
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceAvailabilities'
          description: Successful
      security:
      - jwt: []
      summary: List all availabilities
      tags:
      - commerce
  /commerce/{connection_id}/collection:
    get:
      operationId: listCommerceCollections
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - in: query
        name: type
        required: false
        schema:
          type: string
      - description: The parent ID to filter by
        in: query
        name: parent_id
        required: false
        schema:
          type: string
      - description: The saleschannel ID to filter by (reference to CommerceSaleschannel)
        in: query
        name: saleschannel_id
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AccountingOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - description
            - public_description
            - media
            - is_visible
            - is_active
            - is_featured
            - tags
            - type
            - parent_id
            - metadata
            - item_metadata
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceCollections'
          description: Successful
      security:
      - jwt: []
      summary: List all collections
      tags:
      - commerce
    post:
      operationId: createCommerceCollection
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - description
            - public_description
            - media
            - is_visible
            - is_active
            - is_featured
            - tags
            - type
            - parent_id
            - metadata
            - item_metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceCollection'
        description: A collection of items/products/services
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceCollection'
          description: Successful
      security:
      - jwt: []
      summary: Create a collection
      tags:
      - commerce
  /commerce/{connection_id}/collection/{id}:
    delete:
      operationId: removeCommerceCollection
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Collection
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a collection
      tags:
      - commerce
    get:
      operationId: getCommerceCollection
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - description
            - public_description
            - media
            - is_visible
            - is_active
            - is_featured
            - tags
            - type
            - parent_id
            - metadata
            - item_metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Collection
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceCollection'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a collection
      tags:
      - commerce
    patch:
      operationId: patchCommerceCollection
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - description
            - public_description
            - media
            - is_visible
            - is_active
            - is_featured
            - tags
            - type
            - parent_id
            - metadata
            - item_metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Collection
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceCollection'
        description: A collection of items/products/services
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceCollection'
          description: Successful
      security:
      - jwt: []
      summary: Update a collection
      tags:
      - commerce
    put:
      operationId: updateCommerceCollection
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - description
            - public_description
            - media
            - is_visible
            - is_active
            - is_featured
            - tags
            - type
            - parent_id
            - metadata
            - item_metadata
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Collection
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceCollection'
        description: A collection of items/products/services
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceCollection'
          description: Successful
      security:
      - jwt: []
      summary: Update a collection
      tags:
      - commerce
  /commerce/{connection_id}/inventory:
    get:
      operationId: listCommerceInventories
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The item variant ID to filter by (reference to CommerceCommerceItemvariant)
        in: query
        name: item_variant_id
        required: false
        schema:
          type: string
      - description: The location ID to filter by (reference to CommerceLocation)
        in: query
        name: location_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - updated_at
            - item_id
            - item_variant_id
            - item_option_id
            - location_id
            - available
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceInventories'
          description: Successful
      security:
      - jwt: []
      summary: List all inventories
      tags:
      - commerce
    post:
      operationId: createCommerceInventory
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - updated_at
            - item_id
            - item_variant_id
            - item_option_id
            - location_id
            - available
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceInventory'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceInventory'
          description: Successful
      security:
      - jwt: []
      summary: Create an inventory
      tags:
      - commerce
  /commerce/{connection_id}/inventory/{id}:
    delete:
      operationId: removeCommerceInventory
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Inventory
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove an inventory
      tags:
      - commerce
    get:
      operationId: getCommerceInventory
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - updated_at
            - item_id
            - item_variant_id
            - item_option_id
            - location_id
            - available
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Inventory
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceInventory'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve an inventory
      tags:
      - commerce
    patch:
      operationId: patchCommerceInventory
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - updated_at
            - item_id
            - item_variant_id
            - item_option_id
            - location_id
            - available
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Inventory
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceInventory'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceInventory'
          description: Successful
      security:
      - jwt: []
      summary: Update an inventory
      tags:
      - commerce
    put:
      operationId: updateCommerceInventory
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - updated_at
            - item_id
            - item_variant_id
            - item_option_id
            - location_id
            - available
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Inventory
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceInventory'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceInventory'
          description: Successful
      security:
      - jwt: []
      summary: Update an inventory
      tags:
      - commerce
  /commerce/{connection_id}/item:
    get:
      operationId: listCommerceItems
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The collection ID to filter by (reference to CommerceCollection)
        in: query
        name: collection_id
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AccountingOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - slug
            - description
            - global_code
            - public_description
            - is_active
            - is_taxable
            - vendor_name
            - type
            - is_visible
            - is_featured
            - weight
            - weight_unit
            - requires_shipping
            - prices
            - inventory_id
            - total_stock
            - variants
            - tags
            - media
            - collection_ids
            - account_id
            - metadata
            - collections
            - taxrate_id
            - location_id
            - duration
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceItems'
          description: Successful
      security:
      - jwt: []
      summary: List all items
      tags:
      - commerce
    post:
      operationId: createCommerceItem
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - slug
            - description
            - global_code
            - public_description
            - is_active
            - is_taxable
            - vendor_name
            - type
            - is_visible
            - is_featured
            - weight
            - weight_unit
            - requires_shipping
            - prices
            - inventory_id
            - total_stock
            - variants
            - tags
            - media
            - collection_ids
            - account_id
            - metadata
            - collections
            - taxrate_id
            - location_id
            - duration
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceItem'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceItem'
          description: Successful
      security:
      - jwt: []
      summary: Create an item
      tags:
      - commerce
  /commerce/{connection_id}/item/{id}:
    delete:
      operationId: removeCommerceItem
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Item
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove an item
      tags:
      - commerce
    get:
      operationId: getCommerceItem
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - slug
            - description
            - global_code
            - public_description
            - is_active
            - is_taxable
            - vendor_name
            - type
            - is_visible
            - is_featured
            - weight
            - weight_unit
            - requires_shipping
            - prices
            - inventory_id
            - total_stock
            - variants
            - tags
            - media
            - collection_ids
            - account_id
            - metadata
            - collections
            - taxrate_id
            - location_id
            - duration
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Item
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceItem'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve an item
      tags:
      - commerce
    patch:
      operationId: patchCommerceItem
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - slug
            - description
            - global_code
            - public_description
            - is_active
            - is_taxable
            - vendor_name
            - type
            - is_visible
            - is_featured
            - weight
            - weight_unit
            - requires_shipping
            - prices
            - inventory_id
            - total_stock
            - variants
            - tags
            - media
            - collection_ids
            - account_id
            - metadata
            - collections
            - taxrate_id
            - location_id
            - duration
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Item
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceItem'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceItem'
          description: Successful
      security:
      - jwt: []
      summary: Update an item
      tags:
      - commerce
    put:
      operationId: updateCommerceItem
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - slug
            - description
            - global_code
            - public_description
            - is_active
            - is_taxable
            - vendor_name
            - type
            - is_visible
            - is_featured
            - weight
            - weight_unit
            - requires_shipping
            - prices
            - inventory_id
            - total_stock
            - variants
            - tags
            - media
            - collection_ids
            - account_id
            - metadata
            - collections
            - taxrate_id
            - location_id
            - duration
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Item
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceItem'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceItem'
          description: Successful
      security:
      - jwt: []
      summary: Update an item
      tags:
      - commerce
  /commerce/{connection_id}/itemvariant:
    get:
      operationId: listCommerceItemvariants
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The item ID to filter by (reference to CommerceItem)
        in: query
        name: item_id
        required: false
        schema:
          type: string
      - description: The collection ID to filter by (reference to CommerceCollection)
        in: query
        name: collection_id
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AccountingOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - description
            - public_description
            - sku
            - is_active
            - is_visible
            - is_featured
            - media
            - available_at
            - tags
            - width
            - height
            - length
            - weight
            - size_unit
            - weight_unit
            - total_stock
            - prices
            - options
            - inventory_id
            - requires_shipping
            - metadata
            - items
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceItemvariants'
          description: Successful
      security:
      - jwt: []
      summary: List all itemvariants
      tags:
      - commerce
    post:
      operationId: createCommerceItemvariant
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - description
            - public_description
            - sku
            - is_active
            - is_visible
            - is_featured
            - media
            - available_at
            - tags
            - width
            - height
            - length
            - weight
            - size_unit
            - weight_unit
            - total_stock
            - prices
            - options
            - inventory_id
            - requires_shipping
            - metadata
            - items
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceItemvariant'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceItemvariant'
          description: Successful
      security:
      - jwt: []
      summary: Create an itemvariant
      tags:
      - commerce
  /commerce/{connection_id}/itemvariant/{id}:
    delete:
      operationId: removeCommerceItemvariant
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Itemvariant
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove an itemvariant
      tags:
      - commerce
    get:
      operationId: getCommerceItemvariant
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - description
            - public_description
            - sku
            - is_active
            - is_visible
            - is_featured
            - media
            - available_at
            - tags
            - width
            - height
            - length
            - weight
            - size_unit
            - weight_unit
            - total_stock
            - prices
            - options
            - inventory_id
            - requires_shipping
            - metadata
            - items
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Itemvariant
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceItemvariant'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve an itemvariant
      tags:
      - commerce
    patch:
      operationId: patchCommerceItemvariant
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - description
            - public_description
            - sku
            - is_active
            - is_visible
            - is_featured
            - media
            - available_at
            - tags
            - width
            - height
            - length
            - weight
            - size_unit
            - weight_unit
            - total_stock
            - prices
            - options
            - inventory_id
            - requires_shipping
            - metadata
            - items
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Itemvariant
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceItemvariant'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceItemvariant'
          description: Successful
      security:
      - jwt: []
      summary: Update an itemvariant
      tags:
      - commerce
    put:
      operationId: updateCommerceItemvariant
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - public_name
            - description
            - public_description
            - sku
            - is_active
            - is_visible
            - is_featured
            - media
            - available_at
            - tags
            - width
            - height
            - length
            - weight
            - size_unit
            - weight_unit
            - total_stock
            - prices
            - options
            - inventory_id
            - requires_shipping
            - metadata
            - items
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Itemvariant
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceItemvariant'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceItemvariant'
          description: Successful
      security:
      - jwt: []
      summary: Update an itemvariant
      tags:
      - commerce
  /commerce/{connection_id}/location:
    get:
      operationId: listCommerceLocations
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The org ID to filter by (reference to AccountingOrganization)
        in: query
        name: org_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - address
            - description
            - is_active
            - language_locale
            - parent_id
            - currency
            - location_type
            - telephones
            - rating
            - review_count
            - price_level
            - latitude
            - longitude
            - image_url
            - web_url
            - media
            - raw
            - categories
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceLocations'
          description: Successful
      security:
      - jwt: []
      summary: List all locations
      tags:
      - commerce
    post:
      operationId: createCommerceLocation
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - address
            - description
            - is_active
            - language_locale
            - parent_id
            - currency
            - location_type
            - telephones
            - rating
            - review_count
            - price_level
            - latitude
            - longitude
            - image_url
            - web_url
            - media
            - raw
            - categories
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceLocation'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceLocation'
          description: Successful
      security:
      - jwt: []
      summary: Create a location
      tags:
      - commerce
  /commerce/{connection_id}/location/{id}:
    delete:
      operationId: removeCommerceLocation
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Location
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a location
      tags:
      - commerce
    get:
      operationId: getCommerceLocation
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - address
            - description
            - is_active
            - language_locale
            - parent_id
            - currency
            - location_type
            - telephones
            - rating
            - review_count
            - price_level
            - latitude
            - longitude
            - image_url
            - web_url
            - media
            - raw
            - categories
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Location
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceLocation'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a location
      tags:
      - commerce
    patch:
      operationId: patchCommerceLocation
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - address
            - description
            - is_active
            - language_locale
            - parent_id
            - currency
            - location_type
            - telephones
            - rating
            - review_count
            - price_level
            - latitude
            - longitude
            - image_url
            - web_url
            - media
            - raw
            - categories
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Location
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceLocation'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceLocation'
          description: Successful
      security:
      - jwt: []
      summary: Update a location
      tags:
      - commerce
    put:
      operationId: updateCommerceLocation
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - address
            - description
            - is_active
            - language_locale
            - parent_id
            - currency
            - location_type
            - telephones
            - rating
            - review_count
            - price_level
            - latitude
            - longitude
            - image_url
            - web_url
            - media
            - raw
            - categories
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Location
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceLocation'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceLocation'
          description: Successful
      security:
      - jwt: []
      summary: Update a location
      tags:
      - commerce
  /commerce/{connection_id}/reservation:
    get:
      operationId: listCommerceReservations
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The location ID to filter by (reference to CommerceLocation)
        in: query
        name: location_id
        required: false
        schema:
          type: string
      - description: The start date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: start_gte
        required: false
        schema:
          type: string
      - description: The end date to filter by (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: end_lt
        required: false
        schema:
          type: string
      - description: The item ID to filter by (reference to CommerceItem)
        in: query
        name: item_id
        required: false
        schema:
          type: string
      - description: The user/employee ID to filter by (reference to HrisEmployee)
        in: query
        name: user_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - location_id
            - start_at
            - end_at
            - size
            - status
            - guest_name
            - guest_phone
            - guest_email
            - notes
            - item_id
            - item_name
            - staff_user_id
            - staff_name
            - created_at
            - updated_at
            - url
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceReservations'
          description: Successful
      security:
      - jwt: []
      summary: List all reservations
      tags:
      - commerce
    post:
      operationId: createCommerceReservation
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - location_id
            - start_at
            - end_at
            - size
            - status
            - guest_name
            - guest_phone
            - guest_email
            - notes
            - item_id
            - item_name
            - staff_user_id
            - staff_name
            - created_at
            - updated_at
            - url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceReservation'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceReservation'
          description: Successful
      security:
      - jwt: []
      summary: Create a reservation
      tags:
      - commerce
  /commerce/{connection_id}/reservation/{id}:
    delete:
      operationId: removeCommerceReservation
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Reservation
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a reservation
      tags:
      - commerce
    get:
      operationId: getCommerceReservation
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - location_id
            - start_at
            - end_at
            - size
            - status
            - guest_name
            - guest_phone
            - guest_email
            - notes
            - item_id
            - item_name
            - staff_user_id
            - staff_name
            - created_at
            - updated_at
            - url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Reservation
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceReservation'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a reservation
      tags:
      - commerce
    patch:
      operationId: patchCommerceReservation
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - location_id
            - start_at
            - end_at
            - size
            - status
            - guest_name
            - guest_phone
            - guest_email
            - notes
            - item_id
            - item_name
            - staff_user_id
            - staff_name
            - created_at
            - updated_at
            - url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Reservation
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceReservation'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceReservation'
          description: Successful
      security:
      - jwt: []
      summary: Update a reservation
      tags:
      - commerce
    put:
      operationId: updateCommerceReservation
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - location_id
            - start_at
            - end_at
            - size
            - status
            - guest_name
            - guest_phone
            - guest_email
            - notes
            - item_id
            - item_name
            - staff_user_id
            - staff_name
            - created_at
            - updated_at
            - url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Reservation
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceReservation'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceReservation'
          description: Successful
      security:
      - jwt: []
      summary: Update a reservation
      tags:
      - commerce
  /commerce/{connection_id}/review:
    get:
      operationId: listCommerceReviews
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The item ID to filter by (reference to CommerceItem)
        in: query
        name: item_id
        required: false
        schema:
          type: string
      - description: The location ID to filter by (reference to CommerceLocation)
        in: query
        name: location_id
        required: false
        schema:
          type: string
      - description: The contact ID to filter by (reference to AccountingContact)
        in: query
        name: contact_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - item_id
            - item_variant_id
            - location_id
            - rating
            - title
            - content
            - author_name
            - author_email
            - author_avatar_url
            - author_location
            - verified_purchase
            - helpful_votes
            - unhelpful_votes
            - media
            - status
            - is_verified
            - is_featured
            - is_public
            - comments
            - metadata
            - url
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceReviews'
          description: Successful
      security:
      - jwt: []
      summary: List all reviews
      tags:
      - commerce
    post:
      operationId: createCommerceReview
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - item_id
            - item_variant_id
            - location_id
            - rating
            - title
            - content
            - author_name
            - author_email
            - author_avatar_url
            - author_location
            - verified_purchase
            - helpful_votes
            - unhelpful_votes
            - media
            - status
            - is_verified
            - is_featured
            - is_public
            - comments
            - metadata
            - url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceReview'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceReview'
          description: Successful
      security:
      - jwt: []
      summary: Create a review
      tags:
      - commerce
  /commerce/{connection_id}/review/{id}:
    delete:
      operationId: removeCommerceReview
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Review
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a review
      tags:
      - commerce
    get:
      operationId: getCommerceReview
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - item_id
            - item_variant_id
            - location_id
            - rating
            - title
            - content
            - author_name
            - author_email
            - author_avatar_url
            - author_location
            - verified_purchase
            - helpful_votes
            - unhelpful_votes
            - media
            - status
            - is_verified
            - is_featured
            - is_public
            - comments
            - metadata
            - url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Review
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceReview'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a review
      tags:
      - commerce
    patch:
      operationId: patchCommerceReview
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - item_id
            - item_variant_id
            - location_id
            - rating
            - title
            - content
            - author_name
            - author_email
            - author_avatar_url
            - author_location
            - verified_purchase
            - helpful_votes
            - unhelpful_votes
            - media
            - status
            - is_verified
            - is_featured
            - is_public
            - comments
            - metadata
            - url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Review
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceReview'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceReview'
          description: Successful
      security:
      - jwt: []
      summary: Update a review
      tags:
      - commerce
    put:
      operationId: updateCommerceReview
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - item_id
            - item_variant_id
            - location_id
            - rating
            - title
            - content
            - author_name
            - author_email
            - author_avatar_url
            - author_location
            - verified_purchase
            - helpful_votes
            - unhelpful_votes
            - media
            - status
            - is_verified
            - is_featured
            - is_public
            - comments
            - metadata
            - url
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Review
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceReview'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceReview'
          description: Successful
      security:
      - jwt: []
      summary: Update a review
      tags:
      - commerce
  /commerce/{connection_id}/saleschannel:
    get:
      operationId: listCommerceSaleschannels
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - slug
            - description
            - is_active
            - collections
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceSaleschannels'
          description: Successful
      security:
      - jwt: []
      summary: List all saleschannels
      tags:
      - commerce
    post:
      operationId: createCommerceSaleschannel
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - slug
            - description
            - is_active
            - collections
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceSaleschannel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceSaleschannel'
          description: Successful
      security:
      - jwt: []
      summary: Create a saleschannel
      tags:
      - commerce
  /commerce/{connection_id}/saleschannel/{id}:
    delete:
      operationId: removeCommerceSaleschannel
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Saleschannel
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a saleschannel
      tags:
      - commerce
    get:
      operationId: getCommerceSaleschannel
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - slug
            - description
            - is_active
            - collections
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Saleschannel
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceSaleschannel'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a saleschannel
      tags:
      - commerce
    patch:
      operationId: patchCommerceSaleschannel
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - slug
            - description
            - is_active
            - collections
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Saleschannel
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceSaleschannel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceSaleschannel'
          description: Successful
      security:
      - jwt: []
      summary: Update a saleschannel
      tags:
      - commerce
    put:
      operationId: updateCommerceSaleschannel
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - slug
            - description
            - is_active
            - collections
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Saleschannel
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommerceSaleschannel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommerceSaleschannel'
          description: Successful
      security:
      - jwt: []
      summary: Update a saleschannel
      tags:
      - commerce
components:
  schemas:
    CommerceInventory:
      properties:
        available:
          type: number
        id:
          type: string
        item_id:
          type: string
        item_option_id:
          type: string
        item_variant_id:
          type: string
        location_id:
          type: string
        raw:
          additionalProperties: true
          type: object
        updated_at:
          format: date-time
          type: string
      required:
      - available
      type: object
    CommerceItemvariants:
      items:
        $ref: '#/components/schemas/CommerceItemvariant'
      type: array
    property_CommerceReviewComment_metadata:
      items:
        $ref: '#/components/schemas/CommerceMetadata'
      type: array
    CommerceItem:
      properties:
        account_id:
          type: string
        collection_ids:
          $ref: '#/components/schemas/property_CommerceItem_collection_ids'
        collections:
          $ref: '#/components/schemas/property_CommerceItem_collections'
        created_at:
          format: date-time
          type: string
        description:
          type: string
        duration:
          type: number
        global_code:
          type: string
        id:
          type: string
        inventory_id:
          type: string
        is_active:
          type: boolean
        is_featured:
          type: boolean
        is_taxable:
          type: boolean
        is_visible:
          type: boolean
        location_id:
          type: string
        media:
          $ref: '#/components/schemas/property_CommerceItem_media'
        metadata:
          $ref: '#/components/schemas/property_CommerceItem_metadata'
        name:
          type: string
        prices:
          $ref: '#/components/schemas/property_CommerceItem_prices'
        public_description:
          type: string
        public_name:
          type: string
        raw:
          additionalProperties: true
          type: object
        requires_shipping:
          type: boolean
        slug:
          type: string
        tags:
          $ref: '#/components/schemas/property_CommerceItem_tags'
        taxrate_id:
          type: string
        total_stock:
          type: number
        type:
          type: string
        updated_at:
          format: date-time
          type: string
        variants:
          $ref: '#/components/schemas/property_CommerceItem_variants'
        vendor_name:
          type: string
        weight:
          type: number
        weight_unit:
          enum:
          - g
          - kg
          - oz
          - lb
          type: string
          x-speakeasy-unknown-values: allow
      type: object
    CommerceMetadata:
      properties:
        description:
          type: string
        extra_data:
          additionalProperties: true
          anyOf:
          - type: object
          - type: string
          - type: number
          - type: boolean
          - items:
              anyOf:
              - type: object
              - type: string
              - type: number
              - type: boolean
            type: array
        format:
          enum:
          - TEXT
          - NUMBER
          - DATE
          - BOOLEAN
          - FILE
          - TEXTAREA
          - SINGLE_SELECT
          - MULTIPLE_SELECT
          - MEASUREMENT
          - PRICE
          - YES_NO
          - CURRENCY
          - URL
          type: string
          x-speakeasy-unknown-values: allow
        id:
          type: string
        is_required:
          type: boolean
        namespace:
          type: string
        slug:
          type: string
        value:
          additionalProperties: true
          anyOf:
          - type: object
          - type: string
          - type: number
          - type: boolean
          - items:
              anyOf:
              - type: object
              - type: string
              - type: number
              - type: boolean
            type: array
      type: object
    CommerceItems:
      items:
        $ref: '#/components/schemas/CommerceItem'
      type: array
    CommerceReviews:
      items:
        $ref: '#/components/schemas/CommerceReview'
      type: array
    property_CommerceSaleschannel_collections:
      description: points to a CommerceCollection
      items:
        $ref: '#/components/schemas/CommerceReference'
      type: array
    property_CommerceItemMedia_metadata:
      items:
        $ref: '#/components/schemas/CommerceMetadata'
      type: array
    property_CommerceItemvariant_items:
      description: references CommerceItem
      items:
        $ref: '#/components/schemas/CommerceReference'
      type: array
    property_CommerceItem_prices:
      items:
        $ref: '#/components/schemas/CommerceItemPrice'
      type: array
    CommerceItemOption:
      properties:
        id:
          type: string
        name:
          type: string
        position:
          type: number
        values:
          $ref: '#/components/schemas/property_CommerceItemOption_values'
      required:
      - name
      - values
      type: object
    property_CommerceCollection_metadata:
      items:
        $ref: '#/components/schemas/CommerceMetadata'
      type: array
    CommerceSaleschannel:
      properties:
        collections:
          $ref: '#/components/schemas/property_CommerceSaleschannel_collections'
        created_at:
          format: date-time
          type: string
        description:
          type: string
        id:
          type: string
        is_active:
          type: boolean
        raw:
          additionalProperties: true
          type: object
        slug:
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    CommerceSaleschannels:
      items:
        $ref: '#/components/schemas/CommerceSaleschannel'
      type: array
    property_CommerceItem_tags:
      items:
        type: string
      type: array
    property_CommerceCollection_media:
      items:
        $ref: '#/components/schemas/CommerceItemMedia'
      type: array
    CommerceReservations:
      items:
        $ref: '#/components/schemas/CommerceReservation'
      type: array
    property_CommerceLocation_media:
      items:
        $ref: '#/components/schemas/CommerceItemMedia'
      type: array
    property_CommerceLocation_categories:
      items:
        type: string
      type: array
    CommerceItemPrice:
      properties:
        compare_at_price:
          type: number
        currency:
          type: string
        price:
          type: number
      required:
      - price
      type: object
    property_CommerceItemvariant_prices:
      items:
        $ref: '#/components/schemas/CommerceItemPrice'
      type: array
    property_CommerceCollection_tags:
      items:
        type: string
      type: array
    CommerceTelephone:
      properties:
        telephone:
          type: string
        type:
          enum:
          - WORK
          - HOME
          - FAX
          - MOBILE
          - OTHER
          type: string
          x-speakeasy-unknown-values: allow
      required:
      - telephone
      type: object
    property_CommerceItemvariant_options:
      items:
        $ref: '#/components/schemas/CommerceItemOption'
      type: array
    property_CommerceReview_comments:
      items:
        $ref: '#/components/schemas/CommerceReviewComment'
      type: array
    CommerceItemMedia:
      properties:
        alt:
          type: string
        height:
          type: number
        id:
          type: string
        metadata:
          $ref: '#/components/schemas/property_CommerceItemMedia_metadata'
        position:
          type: number
        type:
          enum:
          - image
          - video
          type: string
          x-speakeasy-unknown-values: allow
        url:
          type: string
        width:
          type: number
      required:
      - url
      type: object
    CommerceReview:
      properties:
        author_avatar_url:
          type: string
        author_email:
          type: string
        author_location:
          type: string
        author_name:
          type: string
        comments:
          $ref: '#/components/schemas/property_CommerceReview_comments'
        content:
          type: string
        created_at:
          format: date-time
          type: string
        helpful_votes:
          type: number
        id:
          type: string
        is_featured:
          type: boolean
        is_public:
          type: boolean
        is_verified:
          type: boolean
        item_id:
          type: string
        item_variant_id:
          type: string
        location_id:
          type: string
        media:
          $ref: '#/components/schemas/property_CommerceReview_media'
        metadata:
          $ref: '#/components/schemas/property_CommerceReview_metadata'
        rating:
          type: number
        raw:
          additionalProperties: true
          type: object
        status:
          enum:
          - PENDING
          - APPROVED
          - REJECTED
          - SPAM
          type: string
          x-speakeasy-unknown-values: allow
        title:
          type: string
        unhelpful_votes:
          type: number
        updated_at:
          format: date-time
          type: string
        url:
          type: string
        verified_purchase:
          type: boolean
      required:
      - item_id
      type: object
    CommerceReference:
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
      type: object
    CommerceLocations:
      items:
        $ref: '#/components/schemas/CommerceLocation'
      type: array
    property_CommerceItemvariant_media:
      items:
        $ref: '#/components/schemas/CommerceItemMedia'
      type: array
    property_CommerceItem_collections:
      description: points to Collection with id, name, and type fields
      items:
        $ref: '#/components/schemas/CommerceReference'
      type: array
    CommerceAvailabilities:
      items:
        $ref: '#/components/schemas/CommerceAvailability'
      type: array
    property_CommerceItem_metadata:
      items:
        $ref: '#/components/schemas/CommerceMetadata'
      type: array
    property_CommerceItemvariant_metadata:
      items:
        $ref: '#/components/schemas/CommerceMetadata'
      type: array
    property_CommerceItemvariant_tags:
      items:
        type: string
      type: array
    property_CommerceItem_variants:
      description: first variant is the default variant
      items:
        $ref: '#/components/schemas/CommerceItemvariant'
      type: array
    CommerceCollections:
      items:
        $ref: '#/components/schemas/CommerceCollection'
      type: array
    CommerceInventories:
      items:
        $ref: '#/components/schemas/CommerceInventory'
      type: array
    property_CommerceReview_media:
      description: Photosvideos attached to the review
      items:
        $ref: '#/components/schemas/CommerceItemMedia'
      type: array
    property_CommerceItem_media:
      items:
        $ref: '#/components/schemas/CommerceItemMedia'
      type: array
    CommerceReviewComment:
      properties:
        author_avatar_url:
          type: string
        author_email:
          type: string
        author_location:
          type: string
        author_name:
          type: string
        content:
          type: string
        created_at:
          format: date-time
          type: string
        helpful_votes:
          type: number
        id:
          type: string
        is_public:
          type: boolean
        is_verified:
          type: boolean
        metadata:
          $ref: '#/components/schemas/property_CommerceReviewComment_metadata'
        raw:
          additionalProperties: true
          type: object
        status:
          enum:
          - PENDING
          - APPROVED
          - REJECTED
          - SPAM
          type: string
          x-speakeasy-unknown-values: allow
        unhelpful_votes:
          type: number
        updated_at:
          format: date-time
          type: string
      required:
      - content
      type: object
    property_CommerceLocation_telephones:
      items:
        $ref: '#/components/schemas/CommerceTelephone'
      type: array
    CommerceAvailability:
      properties:
        end_at:
          format: date-time
          type: string
        item_id:
          type: string
        location_id:
          type: string
        raw:
          additionalProperties: true
          type: object
        size:
          type: number
        staff_user_id:
          type: string
        start_at:
          format: date-time
          type: string
      type: object
    property_CommerceItemOption_values:
      items:
        type: string
      type: array
    CommerceCollection:
      description: A collection of items/products/services
      properties:
        created_at:
          format: date-time
          type: string
        description:
          type: string
        id:
          type: string
        is_active:
          type: boolean
        is_featured:
          type: boolean
        is_visible:
          type: boolean
        item_metadata:
          $ref: '#/components/schemas/property_CommerceCollection_item_metadata'
        media:
          $ref: '#/components/schemas/property_CommerceCollection_media'
        metadata:
          $ref: '#/components/schemas/property_CommerceCollection_metadata'
        name:
          type: string
        parent_id:
          type: string
        public_description:
[...]
