openapi: 3.0.0
info:
  contact:
    email: hello@unified.to
    url: https://unified.to/contact
  description: One API to Rule Them All
  termsOfService: https://unified.to/tos
  title: Unified.to account member API
  version: '1.0'
servers:
- description: North American data region
  url: https://api.unified.to
- description: European data region
  url: https://api-eu.unified.to
- description: Australian data region
  url: https://api-au.unified.to
security:
- jwt: []
tags:
- name: member
paths:
  /martech/{connection_id}/member:
    get:
      operationId: listMartechMembers
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: number
      - in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Return only results whose updated date is equal or greater to this value (ISO-8601 / YYYY-MM-DDTHH:MM:SSZ format)
        in: query
        name: updated_gte
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: order
        required: false
        schema:
          type: string
      - description: Query string to search. eg. email address or name
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: The list ID to filter by
        in: query
        name: list_id
        required: false
        schema:
          type: string
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - list_ids
            - tags
            - status
            - raw
            type: string
          type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingMembers'
          description: Successful
      security:
      - jwt: []
      summary: List All Members
      tags:
      - member
    post:
      operationId: createMartechMember
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - list_ids
            - tags
            - status
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketingMember'
        description: A member represents a person
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingMember'
          description: Successful
      security:
      - jwt: []
      summary: Create a Member
      tags:
      - member
  /martech/{connection_id}/member/{id}:
    delete:
      operationId: removeMartechMember
      parameters:
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Member
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful
        default:
          content: {}
          description: Successful
          headers:
            Content-Type:
              required: false
              schema:
                type: string
      security:
      - jwt: []
      summary: Remove a Member
      tags:
      - member
    get:
      operationId: getMartechMember
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - list_ids
            - tags
            - status
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Member
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingMember'
          description: Successful
      security:
      - jwt: []
      summary: Retrieve a Member
      tags:
      - member
    patch:
      operationId: patchMartechMember
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - list_ids
            - tags
            - status
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Member
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketingMember'
        description: A member represents a person
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingMember'
          description: Successful
      security:
      - jwt: []
      summary: Update a Member
      tags:
      - member
    put:
      operationId: updateMartechMember
      parameters:
      - description: Fields to return
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - id
            - created_at
            - updated_at
            - name
            - first_name
            - last_name
            - emails
            - list_ids
            - tags
            - status
            - raw
            type: string
          type: array
        type: array
      - description: 'Raw parameters to include in the 3rd-party request. Encoded as a URL component. eg. raw parameters: foo=bar&zoo=bar -> raw=foo%3Dbar%26zoo%3Dbar'
        in: query
        name: raw
        required: false
        schema:
          type: string
      - description: ID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          type: string
      - description: ID of the Member
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketingMember'
        description: A member represents a person
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingMember'
          description: Successful
      security:
      - jwt: []
      summary: Update a Member
      tags:
      - member
components:
  schemas:
    property_MarketingMember_tags:
      description: An array of tags associated with this member
      items:
        type: string
      type: array
    property_MarketingMember_list_ids:
      description: An array of list IDs associated with this member
      items:
        type: string
      type: array
    MarketingEmail:
      properties:
        email:
          type: string
        type:
          enum:
          - WORK
          - HOME
          - OTHER
          type: string
          x-speakeasy-unknown-values: allow
      required:
      - email
      type: object
    MarketingMember:
      description: A member represents a person
      properties:
        created_at:
          format: date-time
          type: string
        emails:
          $ref: '#/components/schemas/property_MarketingMember_emails'
        first_name:
          type: string
        id:
          type: string
        last_name:
          type: string
        list_ids:
          $ref: '#/components/schemas/property_MarketingMember_list_ids'
        name:
          type: string
        raw:
          additionalProperties: true
          type: object
        status:
          enum:
          - SUBSCRIBED
          - UNSUBSCRIBED
          - CLEANED
          - PENDING
          - TRANSACTIONAL
          type: string
          x-speakeasy-unknown-values: allow
        tags:
          $ref: '#/components/schemas/property_MarketingMember_tags'
        updated_at:
          format: date-time
          type: string
      type: object
    property_MarketingMember_emails:
      description: An array of email addresses for this member
      items:
        $ref: '#/components/schemas/MarketingEmail'
      type: array
    MarketingMembers:
      items:
        $ref: '#/components/schemas/MarketingMember'
      type: array
  securitySchemes:
    jwt:
      in: header
      name: authorization
      type: apiKey
externalDocs:
  description: API Documentation
  url: https://docs.unified.to
